<section class="contacts">

	<div class="contacts__info">
		<div class="navigations">
			<a href="/index.html">Главная</a>/<a class="active" href="/about.html">Контакты</a>
		</div>
		<h1 class="title">Контакты</h1>
		<b>Свяжитесь с нами</b>
		<p>Мы предоставляем надежные, быстрые и инновационные логистические услуги, которые позволяют компаниям
			процветать на конкурентном рынке.
		</p>

		<div class="contacts__cards">
			<div class="welcome-card">
				<span class="weelcome-card__icon">
					<svg width="16" height="16">
						<use xlink:href="#tel"></use>
					</svg>
				</span>
				<div class="welcome-card__info">
					<b>Наш телефон</b>
					<a href="tel:+998988889605">+998 (98) 888-96-05</a>
				</div>
			</div>
			<div class="welcome-card">
				<span class="weelcome-card__icon">
					<svg width="18" height="12">
						<use xlink:href="#email"></use>
					</svg>
				</span>
				<div class="welcome-card__info">
					<b>Наш адрес электронной почты</b>
					<a href="mailto:info@euca-alliance.com">info@euca-alliance.com</a>
				</div>
			</div>

			<div class="welcome-card">
				<span class="weelcome-card__icon">
					<svg width="16" height="16">
						<use xlink:href="#tel"></use>
					</svg>
				</span>
				<div class="welcome-card__info">
					<b>Наш телефон</b>
					<a href="tel:+998988889605">+998 (98) 888-96-05</a>
				</div>
			</div>


		</div>
	</div>

	<div class="map" id="map">
		<picture>
			<source srcset="./images/map.avif">
			<img src="./images/map.jpg" alt="карты" width="900" height="670">
		</picture>
	</div>
</section>
