<section class="about-info">

	<div class="about-info__wrapper">

		<div class="about-info__desc">

			<h3 class="title">
				Логистика превзошла<strong><br>ожидания</strong>
			</h3>


			<p>EUCA Alliance переопределяет глобальную логистику, органично соединяя Европу и Азию с помощью
				современных, ориентированных на клиента и устойчивых решений. Мы предоставляем надежные, быстрые и
				инновационные логистические услуги, которые позволяют компаниям процветать на конкурентном рынке.
			</p>

			<div class="advantages-col">
				<div class="advantages-info__desc">
					<svg width="30" height="20">
						<use xlink:href="#eye"></use>
					</svg>

					<div class="advantages-info__col">
						<b>Наше Видение</b>
						<p>Строить мосты между континентами, создавая новые возможности для роста и сотрудничества.</p>
					</div>

				</div>


				<div class="advantages-info__desc">
					<svg width="30" height="30">
						<use xlink:href="#target"></use>
					</svg>

					<div class="advantages-info__col">
						<b>Наша миссия</b>
						<p>Строить мосты между континентами, создавая новые возможности для роста и сотрудничества.</p>
					</div>

				</div>


			</div>

		</div>

		<div class="about-info__image">
			<picture>
				<source srcset="./images/about-info.avif">
				<img src="./images/about-info.jpg" alt="Логистика" width="725" height="672">
			</picture>
		</div>
	</div>
</section>


<section class="delivery">
	<h3 class="title">Своевременная доставка <br><strong>гарантировано</strong></h3>

	<div class="delivery__cards">
		<div class="delivery__card">
			<div class="delivery__card-title">
				<svg width="25" height="25">
					<use xlink:href="#pen"></use>
				</svg>
				<b>Страсть</b>
			</div>
			<p>Наша приверженность совершенству является движущей силой всего, что мы делаем.</p>
		</div>
		<div class="delivery__card">
			<div class="delivery__card-title">
				<svg width="25" height="25">
					<use xlink:href="#people"></use>
				</svg>
				<b>Сообщество</b>
			</div>
			<p>Мы развиваем прочные отношения с нашими партнерами и клиентами.</p>
		</div>
		<div class="delivery__card">
			<div class="delivery__card-title">
				<svg width="25" height="25">
					<use xlink:href="#settings"></use>
				</svg>
				<b>Обязательство</b>
			</div>
			<p>Каждое обещание выполняется с точностью и тщательностью.</p>
		</div>
		<div class="delivery__card">
			<div class="delivery__card-title">
				<svg width="29" height="25">
					<use xlink:href="#height"></use>
				</svg>
				<b>Рост</b>
			</div>
			<p>Предоставление компаниям возможности расширяться с помощью инновационных решений.</p>
		</div>
		<div class="delivery__card">
			<div class="delivery__card-title">
				<svg width="21" height="25">
					<use xlink:href="#honesty"></use>
				</svg>
				<b>Честность</b>
			</div>
			<p>Прозрачность лежит в основе нашей деятельности.</p>
		</div>
		<div class="delivery__card">
			<div class="delivery__card-title">
				<svg width="30" height="25">
					<use xlink:href="#team"></use>
				</svg>
				<b>Командная работа</b>
			</div>
			<p>Вместемы достигаем больших результатов.</p>
		</div>
	</div>
</section>
