<section class="about-head">

	<div class="about-head__wrapper main-head">

		<div class="navigations">
			<a href="./index.html">Главная</a>/<a class="active" href="./about.html">О нас</a>
		</div>

		<div class="about-head__info">

			<h1>О нас</h1>

			<p>Мы работаем над созданием новых стандартов в области глобальных грузоперевозок, предоставляя нашим
				партнерам
				и клиентам надежные, безопасные и эффективные решения.
			</p>

		</div>


	</div>

	<picture>
		<source srcset="./images/about.avif">
		<img src="./images/about.jpg" alt="О нас" width="1920" height="750">
	</picture>

</section>
