<section class="partners">
	<b>Наши партнеры</b>
	<h3>Достичь горизонта</h3>
	<div class="partners-sliders">
		<div class="partners-sliders__container">

			<button class="partners-btn partners-btn__prev">prev</button>
			<button class="partners-btn partners-btn__next">next</button>

			<!-- Top Slider -->
			<div class="partner-slider__top swiper-container">
				<div class="swiper-wrapper">
					<a href="#" class="partners_slide swiper-slide">
						<picture>
							<source srcset="/images/partner1.avif">
							<img src="/images/partner1.png" alt="наш партнер" width="300" height="110">
						</picture>
					</a>
					<a href="#" class="partners_slide swiper-slide">
						<picture>
							<source srcset="/images/partner1.avif">
							<img src="/images/partner1.png" alt="наш партнер" width="300" height="110">
						</picture>
					</a>
					<a href="#" class="partners_slide swiper-slide">
						<picture>
							<source srcset="/images/partner1.avif">
							<img src="/images/partner1.png" alt="наш партнер" width="300" height="110">
						</picture>
					</a>
					<a href="#" class="partners_slide swiper-slide">
						<picture>
							<source srcset="/images/partner1.avif">
							<img src="/images/partner1.png" alt="наш партнер" width="300" height="110">
						</picture>
					</a>
					<a href="#" class="partners_slide swiper-slide">
						<picture>
							<source srcset="/images/partner1.avif">
							<img src="/images/partner1.png" alt="наш партнер" width="300" height="110">
						</picture>
					</a>
					<a href="#" class="partners_slide swiper-slide">
						<picture>
							<source srcset="/images/partner1.avif">
							<img src="/images/partner1.png" alt="наш партнер" width="300" height="110">
						</picture>
					</a>
					<!-- More slides -->
				</div>
			</div>

			<!-- Bottom Slider -->
			<div class="partner-slider__bottom swiper-container">
				<div class="swiper-wrapper">
					<a href="#" class="partners_slide swiper-slide">
						<picture>
							<source srcset="/images/partner1.avif">
							<img src="/images/partner1.png" alt="наш партнер" width="300" height="110">

						</picture>
					</a>

					<a href="#" class="partners_slide swiper-slide">
						<picture>
							<source srcset="/images/partner1.avif">
							<img src="/images/partner1.png" alt="наш партнер" width="300" height="110">

						</picture>
					</a>

					<a href="#" class="partners_slide swiper-slide">
						<picture>
							<source srcset="/images/partner1.avif">
							<img src="/images/partner1.png" alt="наш партнер" width="300" height="110">

						</picture>
					</a>

					<a href="#" class="partners_slide swiper-slide">
						<picture>
							<source srcset="/images/partner1.avif">
							<img src="/images/partner1.png" alt="наш партнер" width="300" height="110">

						</picture>
					</a>

					<a href="#" class="partners_slide swiper-slide">
						<picture>
							<source srcset="/images/partner1.avif">
							<img src="/images/partner1.png" alt="наш партнер" width="300" height="110">

						</picture>
					</a>

					<a href="#" class="partners_slide swiper-slide">
						<picture>
							<source srcset="/images/partner1.avif">
							<img src="/images/partner1.png" alt="наш партнер" width="300" height="110">

						</picture>
					</a>

					</div>
			</div>



</section>
