<section class="questions">
	<h3 class="title">
		Часто задаваемые <br />
		<strong>вопросы</strong>
	</h3>

	<div class="accordions">
		<div class="accordions-card open">
			<b class="accordeons-title">Как долго существует ваша компания?</b>
			<div class="accordions-content">
				<p>EUCA Alliance имеет более чем 25-летний опыт работы в сфере логистики и неизменно добивается выдающихся результатов.</p>
			</div>
			<svg width="30" height="30">
				<use xlink:href="#acc"></use>
			</svg>
		</div>
		<div class="accordions-card">
			<b class="accordeons-title">Сколько стоят ваши услуги?</b>
			<div class="accordions-content">
				<p>EUCA Alliance имеет более чем 25-летний опыт работы в сфере логистики и неизменно добивается выдающихся результатов.</p>
			</div>
			<svg width="30" height="30">
				<use xlink:href="#acc"></use>
			</svg>
		</div>
		<div class="accordions-card">
			<b class="accordeons-title">Сколько человек работает в EUCA?</b>
			<div class="accordions-content">
				<p>EUCA Alliance имеет более чем 25-летний опыт работы в сфере логистики и неизменно добивается выдающихся результатов.</p>
			</div>
			<svg width="30" height="30">
				<use xlink:href="#acc"></use>
			</svg>
		</div>
		<div class="accordions-card">
			<b class="accordeons-title">Есть ли в вашей компании вакансии?</b>
			<div class="accordions-content">
				<p>EUCA Alliance имеет более чем 25-летний опыт работы в сфере логистики и неизменно добивается выдающихся результатов.</p>
			</div>
			<svg width="30" height="30">
				<use xlink:href="#acc"></use>
			</svg>
		</div>
		<div class="accordions-card">
			<b class="accordeons-title">Как я могу связаться с EUCA по вопросам возможностей?</b>
			<div class="accordions-content">
				<p>EUCA Alliance имеет более чем 25-летний опыт работы в сфере логистики и неизменно добивается выдающихся результатов.</p>
			</div>
			<svg width="30" height="30">
				<use xlink:href="#acc"></use>
			</svg>
		</div>
		<div class="accordions-card">
			<b class="accordeons-title">Какие услуги вы предоставляете?</b>
			<div class="accordions-content">
				<p>EUCA Alliance имеет более чем 25-летний опыт работы в сфере логистики и неизменно добивается выдающихся результатов.</p>
			</div>
			<svg width="30" height="30">
				<use xlink:href="#acc"></use>
			</svg>
		</div>
	</div>
</section>
