.header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 15;
	display: flex;
	align-items: center;
	padding: var(--offset) var(--offset-s);
	transition-duration: 0.5s;
	transition-property: transform, background-color;
}


.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	&__logo {
		display: flex;
		align-items: center;
		gap: calc(var(--offset) * 0.7);
		margin-right: 0.5em;
		transition-duration: 0.5s;
		transition-property: opacity;

		&:hover,
		&:focus,
		&:focus-within {
			opacity: 0.6;
		}

		& svg:nth-of-type(1) {
			fill: var(--color-text-secondary);
			width: calc(var(--offset) * 2.5);
			height: calc(var(--offset) * 2.5);
		}

		& svg:nth-of-type(2) {
			fill: var(--color-text-primary);
			height: calc(var(--offset) * 1.2);
			width: calc(var(--offset) * 9);
		}
	}

	&__list {
		display: flex;
		align-items: center;
		gap: calc(var(--offset) * 2);
		justify-content: space-between;
		margin: 0 auto;

	}

	&-lang {
		position: relative;
		margin-left: calc(var(--offset) * 0.5);
		font-weight: 600;
		font-size: var(--fz);
		letter-spacing: -0.04em;
		color: var(--color-text-primary);
		border-radius: 50%;
		box-shadow: 0 0 0 0.05em var(--color-text-primary);
		transition-duration: 0.5s;
		transition-property: color, box-shadow;

		&:hover,
		&:focus {
			color: var(--color-text-secondary);
			box-shadow: 0 0 0 0.05em var(--color-text-secondary);
		}
	}


	&__register {
		margin-left: calc(var(--offset) * 0.5);
		background-color: var(--color-text-secondary);
		border-radius: 2em;


		&:hover,
		&:focus {
			color: var(--color-text-secondary);
			background-color: var(--color-bg-secondary);
		}
	}

	&__login {
		margin-left: calc(var(--offset) * 1);
	}

	&__member {
		margin-left: 0.5em;
		display: flex;
		align-items: center;
		gap: 0.5em;
		padding: var(--offset) calc(var(--offset) * 0.8) !important;
		border-radius: 2em;
		font-style: italic;
		font-weight: 600;
		font-size: calc(var(--fz) * 0.8);
		letter-spacing: -0.04em;
		background: linear-gradient(130deg, #e44134 0%, #fff 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		position: relative;
		z-index: 1;
		overflow: hidden;
		transition: opacity 0.5s;
		min-width: fit-content;

		& svg {
			width: calc(var(--offset) * 1.2);
			height: calc(var(--offset) * 0.8);
			fill: #EF928B;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			z-index: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.12);
			transition: opacity 0.5s;
		}

		&:hover,
		&:focus,
		&:focus-within {
			opacity: 0.8;
		}

		&:hover::before,
		&:focus::before,
		&:focus-within::before {
			opacity: 0.8;
		}

	}

	&__link {
		font-weight: 400;
		font-size: var(--fz);
		letter-spacing: -0.03em;
		color: var(--color-text-primary);
		transition-duration: 0.5s;
		transition-property: background-color, color;
		padding: calc(var(--offset) * 0.3) 0;
		min-width: fit-content;
		white-space: nowrap;


		&.current {
			border-bottom: 1px solid var(--color-text-primary);
			transition-duration: 0.5s;
			transition-property: border-bottom, background-color, color;

			&:hover,
			&:focus,
			&:focus-within {
				border-bottom: 1px solid var(--color-text-secondary);

			}
		}

		&:hover,
		&:focus,
		&:focus-within {
			color: var(--color-text-secondary);

		}
	}
}

.btn-white {
	padding: calc(var(--offset) * 0.8);
}

.dropdown {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	position: absolute;
	z-index: 10;
	bottom: -170%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 1em;
	padding: calc(var(--offset) * 0.8);
	box-shadow: 0 0 0 0.05em var(--color-text-primary);

	&-item {
		font-weight: 600;
		font-size: var(--fz);
		letter-spacing: -0.04em;
		color: var(--color-text-primary);
	}

	&-link {
		transition-duration: 0.5s;
		transition-property: color;

		&:hover,
		&:focus,
		&:focus-within {
			color: var(--color-text-secondary);
		}
	}
}


.profile {
	display: flex;
	gap: var(--offset);
	align-items: center;
	margin: 0 calc(var(--offset) * 2);
	transition-duration: 0.5s;
	transition-property: opacity;

	&:hover,
	&:focus,
	&:focus-within {
		opacity: 0.7;
	}

	& img {
		width: calc(var(--offset) * 2.5);
		height: calc(var(--offset) * 2.5);
		border-radius: 50%;
		overflow: hidden;
		box-shadow: 0 0 0.05em var(--color-text-primary);
		object-fit: cover;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 0.2em;
		padding: 0.5em 0;

		& b {
			font-weight: 500;
			font-size: var(--fz);
			letter-spacing: -0.05em;
		}

		& span {
			font-weight: 400;
			font-size: var(--fz);
			color: #787b83;
		}
	}
}

.header-hide {
	transform: translateY(-100%);
}

.scroll-header {
	background-color: var(--color-bg-secondary);
}
