<div class="profile-settings">
	<header class="profile-header">
		<h1>Ваши грузы</h1>

		<div class="profile-notifications has-notifications">
			<svg width="16" height="18">
				<use xlink:href="#notifications"></use>
			</svg>

			<div class="notifications-modal">
				<div class="tr">
					<svg width="33" height="26" viewBox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M14.8433 1.44929C15.6365 0.276561 17.3635 0.276559 18.1567 1.44929L32.1431 22.1293C33.0414 23.4575 32.0898 25.2498 30.4864 25.2498H2.51359C0.910168 25.2498 -0.041364 23.4575 0.856918 22.1293L14.8433 1.44929Z"
							fill="white"
						/>
					</svg>
				</div>

				<div class="notifications-modal__head">
					<!-- <span class="read has-read">Все прочитано</span> -->

					<a href="#" class="read">Сделать прочитаным</a>

					<div class="notifications-modal__btn">
						<span></span>
						<span></span>
					</div>
				</div>

				<div class="notifications-modal__content">
					<div class="notifications-modal__card">
						<svg width="20" height="20">
							<use xlink:href="#ntf"></use>
						</svg>
						<p>OOO TS1 взял груз: Санкт-Петербург-Улан-Удэ, 10т, 10 м2, Ставка-127188 руб</p>
						<div class="notifications-modal__botom">
							<a href="#" class="notifications-modal__link">Посмотреть предложение</a>
							<span class="time">11:15</span>
						</div>
					</div>

					<div class="notifications-modal__card">
						<svg width="20" height="20">
							<use xlink:href="#ntf"></use>
						</svg>
						<p>OOO Северные грузы предлагает груз Санкт-Петербург - Москва</p>
						<p>за <strong>1000 000 руб</strong></p>
						<p>Автомашины, 10 т, закр. + терм., загрузка с 26 авг</p>
						<p>Предлжение действует до 21:06 мск</p>
						<a href="#" class="notifications-modal__link">Подробнее</a>
					</div>

					<div class="notifications-modal__card">
						<svg width="20" height="20">
							<use xlink:href="#ntf"></use>
						</svg>
						<b>Встречное предложение на груз: <span>№AZE2477</span></b>
						<p>Автомобиль(ли), Санкт-Петербург - Улан-Удэ, 10т, 10м2, закр., изтерм, реф., 6сен</p>
						<p><span>Ставка:</span> 25000 руб не б/нал, 23000 руб б/нал с НДС, 23000 руб/нал без НДС</p>
						<p><span>Фирма:</span> “TS1,OOO”</p>
						<p><span>Контакт: </span></p>
						<p>Иван</p>
						<a href="#">Написать сообщение</a>
						<p>Санкт-Петербург, Моб: <a href="">+000 00 000-00-00</a></p>
						<p>Email: <a href="">email@example.com</a></p>
						<a href="#" class="notifications-modal__link">Посмотреть предложение</a>
					</div>
				</div>
			</div>
		</div>

		<a class="profile" href="./profile-messages.html">
			<picture>
				<source srcset="./images/profile.avif" />
				<img src="./images/profile.png" alt="автар пользователя" width="50" height="50" />
			</picture>
			<div class="profile__info">
				<b>Имя Фамилия</b>
				<span>Клиент</span>
			</div>
		</a>
	</header>

	<main class="profile-content">
		<form class="add-goods">
			<div class="add-goods__head">
				<b>Добавить груз</b>
				<div class="add-goods__buttons">
					<button type="button">Заполнить из шаблона</button>
					<button type="reset">Очистить форму</button>
				</div>
			</div>

			<div class="add-goods__main">
				<div class="add-gods__left">
					<div class="add-goods__inputs">
						<b>*Груз</b>
						<div>
							<div class="add-goods__inputs__row">
								<label for="name">
									<input
										type="text"
										name="name"
										id="name"
										class="add-input input-search"
										placeholder="Выберите или введите свое"
									/>
								</label>
								<label for="weight">
									<input class="input-small add-input" type="number" id="weight" placeholder="вес" />
								</label>
								<label for="t">
									<select name="" id="" class="input-small add-input input-select">
										<option value="0" hidden>T</option>
									</select>
								</label>
								<label for="value" class="label-value">
									<input class="input-small add-input input-value" type="number" id="value" placeholder="обьем" />
									<span>М<sup>3</sup></span>
								</label>
								<span>В расчете на одну машину</span>
							</div>

							<div class="drivers-tags">
								<button>
									<svg width="12" height="12">
										<use xlink:href="#plus"></use>
									</svg>
									Заполнить из шаблона
								</button>
								<button>
									<svg width="12" height="12">
										<use xlink:href="#plus"></use>
									</svg>
									Габариты и диаметр
								</button>
								<button>
									<svg width="12" height="12">
										<use xlink:href="#plus"></use>
									</svg>
									Еще груз
								</button>
							</div>
						</div>
					</div>

					<div class="add-goods__inputs">
						<b>*Когда</b>
						<div>
							<div class="add-goods__inputs__row">
								<label for="ready">
									<select class="add-input label-big input-select">
										<option value="" hidden>Готов к загрузке</option>
									</select>
								</label>
								<label for="date" class="add-input input-date">
									выберите дату
									<input type="date" id="date" />
								</label>
								+
								<label for="t">
									<select name="" id="" class="input-small add-input input-select">
										<option value="0" hidden>0 дн.</option>
									</select>
								</label>
							</div>
						</div>
					</div>

					<div class="add-goods__wrapper">
						<div class="add-gods-ponts"></div>
						<div class="add-goods__inputs no-border">
							<b>*Загрузка</b>
							<div>
								<div class="add-goods__inputs__row">
									<label for="place">
										<input
											type="text"
											name="place"
											id="place"
											class="add-input input-search"
											placeholder="Населенный пункт"
										/>
									</label>
									<label for="adress">
										<input
											class="input-big add-input"
											type="adress"
											id="adress"
											placeholder="Адрес в населенном пункте"
										/>
									</label>
									<svg width="16" height="18">
										<use xlink:href="#map"></use>
									</svg>
								</div>

								<div class="drivers-tags">
									<button>
										<svg width="12" height="12">
											<use xlink:href="#plus"></use>
										</svg>
										Время загрузки
									</button>
								</div>
							</div>
						</div>

						<div class="row-text">
							<b>Добавить точку маршрута:</b>
							<button type="button">+ Загрузка</button>
							<button type="button">+ Разгрузка</button>
							<button type="button">+ Ехать через</button>
							<button type="button">+ Таможня</button>
						</div>

						<div class="add-goods__inputs">
							<b>*Загрузка</b>
							<div>
								<div class="add-goods__inputs__row">
									<label for="place">
										<input
											type="text"
											name="place"
											id="place"
											class="add-input input-search"
											placeholder="Населенный пункт"
										/>
									</label>
									<label for="adress">
										<input
											class="input-big add-input"
											type="adress"
											id="adress"
											placeholder="Адрес в населенном пункте"
										/>
									</label>
									<svg width="16" height="18">
										<use xlink:href="#map"></use>
									</svg>
								</div>

								<div class="drivers-tags">
									<button>
										<svg width="12" height="12">
											<use xlink:href="#plus"></use>
										</svg>
										Дата и время
									</button>
								</div>
							</div>
						</div>
					</div>

					<div class="add-inputs-cards">
						<div class="add-inputs-card input-search">
							<b>*Кузов</b>
							<div class="add-inputs-card__wrapp">
								<div class="add-inputs-card_block border">
									<label for="all" class="add-input-general">
										<input type="checkbox" name="all" id="all" />
										все зак.+изотерм
									</label>
									<label for="tnt">
										<span></span>
										<input type="checkbox" name="all" id="tnt" />
										тентованный
									</label>
									<label for="cn">
										<span></span>
										<input type="checkbox" name="all" id="cn" />
										контейнер
									</label>
									<label for="fr">
										<span></span>
										<input type="checkbox" name="all" id="fr" />
										фургон
									</label>
									<label for="mt">
										<span></span>
										<input type="checkbox" name="all" id="mt" />
										цельнометалл.
									</label>
								</div>

								<div class="add-inputs-card_block border">
									<label for="all" class="add-input-general">
										<input type="checkbox" name="all" id="all" />
										все зак.+изотерм
									</label>
									<label for="tnt">
										<span></span>
										<input type="checkbox" name="all" id="tnt" />
										тентованный
									</label>
									<label for="cn">
										<span></span>
										<input type="checkbox" name="all" id="cn" />
										контейнер
									</label>
									<label for="fr">
										<span></span>
										<input type="checkbox" name="all" id="fr" />
										фургон
									</label>
									<label for="mt">
										<span></span>
										<input type="checkbox" name="all" id="mt" />
										цельнометалл.
									</label>
								</div>
							</div>
						</div>

						<div class="add-inputs-card input-search">
							<b>*Загрузка</b>
							<div class="add-inputs-card__wrapp">
								<div class="add-inputs-card_block">
									<label for="1">
										<input type="checkbox" name="all" id="1" />
										верхняя
									</label>
									<label for="2">
										<input type="checkbox" name="all" id="2" />
										боковая
									</label>
									<label for="3">
										<input type="checkbox" name="all" id="3" />
										задняя
									</label>
									<label for="4">
										<input type="checkbox" name="all" id="4" />
										с полной растентовкой.
									</label>
									<label for="5">
										<input type="checkbox" name="all" id="5" />
										с полной растентовкой
									</label>
								</div>

								<div class="add-inputs-card_block">
									<label for="1">
										<input type="checkbox" name="all" id="1" />
										верхняя
									</label>
									<label for="2">
										<input type="checkbox" name="all" id="2" />
										боковая
									</label>
									<label for="3">
										<input type="checkbox" name="all" id="3" />
										задняя
									</label>
									<label for="4">
										<input type="checkbox" name="all" id="4" />
										с полной растентовкой.
									</label>
									<label for="5">
										<input type="checkbox" name="all" id="5" />
										с полной растентовкой
									</label>
								</div>
							</div>
						</div>

						<div class="add-inputs-card input-search">
							<b>*Выгрузка</b>
							<div class="add-inputs-card__wrapp">
								<div class="add-inputs-card_block">
									<label for="7">
										<input type="checkbox" name="all" id="7" />
										верхняя
									</label>
									<label for="8">
										<input type="checkbox" name="all" id="8" />
										боковая
									</label>
									<label for="9">
										<input type="checkbox" name="all" id="9" />
										задняя
									</label>
									<label for="10">
										<input type="checkbox" name="all" id="10" />
										с полной растентовкой.
									</label>
									<label for="11">
										<input type="checkbox" name="all" id="11" />
										с полной растентовкой
									</label>
								</div>

								<div class="add-inputs-card_block">
									<label for="7">
										<input type="checkbox" name="all" id="7" />
										верхняя
									</label>
									<label for="8">
										<input type="checkbox" name="all" id="8" />
										боковая
									</label>
									<label for="9">
										<input type="checkbox" name="all" id="9" />
										задняя
									</label>
									<label for="10">
										<input type="checkbox" name="all" id="10" />
										с полной растентовкой.
									</label>
									<label for="11">
										<input type="checkbox" name="all" id="11" />
										с полной растентовкой
									</label>
								</div>
							</div>
						</div>
					</div>

					<div class="add-goods-more__row">
						<p>Загрузка</p>
						<div class="add-goods_radios">
							<label>
								<input type="radio" name="loading" id="radio1" />
								<span>отдельной машиной (FTL)</span>
							</label>
							<label>
								<input type="radio" name="loading" id="radio2" />
								<span>отдельной машиной или догрузом (FTL или LTL)</span>
							</label>
						</div>
					</div>

					<div class="add-goods-more__row">
						<p>GPS-мониторинг</p>
						<div class="add-goods_radios">
							<label>
								<input type="radio" name="loading" id="radio3" />
								<span>запросить у перевозчика GPS-мониторинг груза с помощью бесплатного сервиса</span>
							</label>
						</div>
					</div>

					<div class="add-goods-more__row">
						<p>Добавить</p>

						<div class="drivers-tags">
							<button>
								<svg width="12" height="12">
									<use xlink:href="#plus"></use>
								</svg>
								Кол-во машин
							</button>
							<button>
								<svg width="12" height="12">
									<use xlink:href="#plus"></use>
								</svg>
								ADR
							</button>
							<button>
								<svg width="12" height="12">
									<use xlink:href="#plus"></use>
								</svg>
								Сценка, пнемоход, коники
							</button>
						</div>
					</div>

					<div class="choise-cash add-goods-choise">
						<input type="radio" name="payment" id="tr" />
						<label for="tr">Возможен торг </label>

						<input type="radio" name="payment" id="notr" />
						<label for="notr"> Без торга</label>

						<input type="radio" name="payment" id="net" />
						<label for="net">Запрос</label>

						<input type="radio" name="payment" id="rtr" />
						<label for="rtr">Торги</label>
					</div>
					<p>Участники смогут предлагать свои услуги только по вашей ставке</p>

					<div class="add-goods__bid">
						<b>*Ставка</b>
						<div class="add-goods__bid-row">
							<p>С НДС, безнал</p>
							<label for="">
								<input type="number" />
							</label>
							<label>
								<select name="cash" id="cash" class="input-select">
									<option value="" hidden>узб.сум</option>
									<option value="" hidden>рос.руб</option>
									<option value="" hidden>USA.$</option>
								</select>
							</label>
						</div>
						<div class="add-goods__bid-row">
							<p>Без НДС, безнал</p>
							<label for="">
								<input type="number" />
							</label>
							<p>узб.сум</p>
						</div>
						<div class="add-goods__bid-row">
							<p>Наличными</p>
							<label for="">
								<input type="number" />
							</label>
							<p>узб.сум</p>
						</div>
						<div class="add-goods__bid-row">
							<p>Встречные предложения</p>
							<div class="add-goods__bid-inputs">
								<label for="card">
									<input type="checkbox" id="card" />
									на карту
								</label>
								<label for="show">
									<input type="checkbox" id="show" />
									видны только вам
								</label>
							</div>
						</div>
					</div>

					<div class="add-goods-more__row">
						<p>Оплата через</p>

						<div class="add-goods-more__payment">
							<label>
								<input type="number" />
								<div class="add-goods__days">
									<button type="button">3дн.</button>
									<button type="button">5дн.</button>
									<button type="button">7дн.</button>
								</div>
							</label>
							<p>банковских дней</p>
						</div>
					</div>

					<div class="add-goods-more__row">
						<p>Добавить</p>

						<div class="drivers-tags">
							<button>
								<svg width="12" height="12">
									<use xlink:href="#plus"></use>
								</svg>
								Предоплата деньгами или топливом
							</button>
							<button>
								<svg width="12" height="12">
									<use xlink:href="#plus"></use>
								</svg>
								Оплата на выгрузке
							</button>
							<button>
								<svg width="12" height="12">
									<use xlink:href="#plus"></use>
								</svg>
								Прямой договор
							</button>
						</div>
					</div>

					<div class="add-goods__contacts">
						<div class="add-goods-more__row">
							<p>Контакты</p>

							<div class="add-goods__contact">
								<p>Укажите к кому обратиться по обьвлению</p>
								<div class="add-goods__contact-inputs">
									<label for="fullname">
										<input type="text" class="fullname" id="fullname" placeholder="Filipov Filip Filiopovich" />
									</label>
									<label for="usertel">
										<input type="tel" id="usertel" placeholder="+9989(909)037045" />
									</label>
								</div>
								<button class="add-goods__cansel">
									<span></span>
									<span></span>
								</button>
							</div>
						</div>

						<div class="add-goods-more__row">
							<p>Примечание</p>
							<label for="textinfo" class="add-goods__textinfo">
								<textarea name="" id="textinfo"> </textarea>
								<span>Не указыайте контакты( телефона, скайп и пр) иначе ваш груз удалит модератор</span>
							</label>
						</div>

						<div class="add-goods-more__row">
							<p>Добавить</p>

							<div class="drivers-tags">
								<button>
									<svg width="12" height="12">
										<use xlink:href="#plus"></use>
									</svg>
									№ груза или заказа
								</button>
								<button>
									<svg width="12" height="12">
										<use xlink:href="#plus"></use>
									</svg>
									фото
								</button>
							</div>
						</div>
					</div>

					<div class="add-goods__bottom-radios">
						<input type="radio" name="top" id="top" />
						<label for="top">Поднять груз в ТОП поиска(Приоритетный заказ)</label>

						<input type="radio" name="top" id="hidden" />
						<label for="hidden">Скрыть груз от нежелательных фирм(Стелс)</label>

						<input type="radio" name="top" id="agree" />
						<label for="agree">Разрешить перевозчикам бронировать груз</label>
					</div>

					<div class="add-goods__bottom">
						<svg width="15" height="15">
							<use xlink:href="#time"></use>
						</svg>
						<p>Опубликовать груз</p>
						<select class="input-select">
							<option value="" hidden>сразу</option>
							<option value="">через час</option>
							<option value="">через день</option>
						</select>
					</div>
				</div>

				<div class="add-goods__right">
					<div class="side-bar__goods">
						<span>
							<svg width="10" height="7">
								<use xlink:href="#add-goods"></use>
							</svg>
						</span>

						<div class="side-bar__goods-info">
							<b>Груз</b>
							<p>не заполнено</p>
						</div>
					</div>
					<div class="side-bar__goods">
						<span>
							<svg width="10" height="7">
								<use xlink:href="#add-goods"></use>
							</svg>
						</span>

						<div class="side-bar__goods-info">
							<b>Когда</b>
							<p>не заполнено</p>
						</div>
					</div>
					<div class="side-bar__goods">
						<span>
							<svg width="10" height="7">
								<use xlink:href="#add-goods"></use>
							</svg>
						</span>

						<div class="side-bar__goods-info">
							<b>Маршрут</b>
							<p>не заполнено</p>
						</div>
					</div>
					<div class="side-bar__goods">
						<span>
							<svg width="10" height="7">
								<use xlink:href="#add-goods"></use>
							</svg>
						</span>

						<div class="side-bar__goods-info">
							<b>Транспорт</b>
							<p>
								<strong>отд. машиной <br />1 машина</strong>
							</p>
						</div>
					</div>
					<div class="side-bar__goods">
						<span>
							<svg width="10" height="7">
								<use xlink:href="#add-goods"></use>
							</svg>
						</span>

						<div class="side-bar__goods-info">
							<b>Оплата</b>
							<p>не заполнено</p>
						</div>
					</div>

					<div class="side-bar__goods active">
						<span>
							<svg width="10" height="7">
								<use xlink:href="#add-goods"></use>
							</svg>
						</span>

						<div class="side-bar__goods-info">
							<b>Дополнительно</b>
							<p>
								<strong>
									Fillip Fillipov Filipovich,<br />
									+9989(909) 037045
								</strong>
							</p>
						</div>
					</div>

					<div class="side-bar__goods active">
						<span>
							<svg width="10" height="7">
								<use xlink:href="#add-goods"></use>
							</svg>
						</span>

						<div class="side-bar__goods-info">
							<b>Площадки</b>
							<p><strong>Биржа EUCA ALLIANCE</strong></p>
						</div>
					</div>

					<button class="add-goods__btn">Опублковать груз</button>
					<button class="add-goods__link">Сохранить как шаблон</button>
				</div>
			</div>

			<div class="add-goods__head add-goods__footer">
				<div class="add-goods__buttons">
					<button type="button">Заполнить из шаблона</button>
					<button type="reset">Очистить форму</button>
				</div>
			</div>
		</form>
	</main>

	<script>
		document.querySelector(".input-date").addEventListener("click", function () {
			this.querySelector("input").showPicker();
		});
	</script>
</div>
