<div class="profile-settings">
	<header class="profile-header">
		<h1>Водители</h1>

		<div class="profile-notifications has-notifications">
			<svg width="16" height="18">
				<use xlink:href="#notifications"></use>
			</svg>

			<div class="notifications-modal">
				<div class="tr">
					<svg width="33" height="26" viewBox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M14.8433 1.44929C15.6365 0.276561 17.3635 0.276559 18.1567 1.44929L32.1431 22.1293C33.0414 23.4575 32.0898 25.2498 30.4864 25.2498H2.51359C0.910168 25.2498 -0.041364 23.4575 0.856918 22.1293L14.8433 1.44929Z"
							fill="white"
						/>
					</svg>
				</div>

				<div class="notifications-modal__head">
					<!-- <span class="read has-read">Все прочитано</span> -->

					<a href="#" class="read">Сделать прочитаным</a>

					<div class="notifications-modal__btn">
						<span></span>
						<span></span>
					</div>
				</div>

				<div class="notifications-modal__content">
					<div class="notifications-modal__card">
						<svg width="20" height="20">
							<use xlink:href="#ntf"></use>
						</svg>
						<p>OOO TS1 взял груз: Санкт-Петербург-Улан-Удэ, 10т, 10 м2, Ставка-127188 руб</p>
						<div class="notifications-modal__botom">
							<a href="#" class="notifications-modal__link">Посмотреть предложение</a>
							<span class="time">11:15</span>
						</div>
					</div>

					<div class="notifications-modal__card">
						<svg width="20" height="20">
							<use xlink:href="#ntf"></use>
						</svg>
						<p>OOO Северные грузы предлагает груз Санкт-Петербург - Москва</p>
						<p>за <strong>1000 000 руб</strong></p>
						<p>Автомашины, 10 т, закр. + терм., загрузка с 26 авг</p>
						<p>Предлжение действует до 21:06 мск</p>
						<a href="#" class="notifications-modal__link">Подробнее</a>
					</div>

					<div class="notifications-modal__card">
						<svg width="20" height="20">
							<use xlink:href="#ntf"></use>
						</svg>
						<b>Встречное предложение на груз: <span>№AZE2477</span></b>
						<p>Автомобиль(ли), Санкт-Петербург - Улан-Удэ, 10т, 10м2, закр., изтерм, реф., 6сен</p>
						<p><span>Ставка:</span> 25000 руб не б/нал, 23000 руб б/нал с НДС, 23000 руб/нал без НДС</p>
						<p><span>Фирма:</span> “TS1,OOO”</p>
						<p><span>Контакт: </span></p>
						<p>Иван</p>
						<a href="#">Написать сообщение</a>
						<p>Санкт-Петербург, Моб: <a href="">+000 00 000-00-00</a></p>
						<p>Email: <a href="">email@example.com</a></p>
						<a href="#" class="notifications-modal__link">Посмотреть предложение</a>
					</div>
				</div>
			</div>
		</div>

		<a class="profile" href="./messages.html">
			<picture>
				<source srcset="./images/profile.avif" />
				<img src="./images/profile.png" alt="автар пользователя" width="50" height="50" />
			</picture>
			<div class="profile__info">
				<b>Имя Фамилия</b>
				<span>Клиент</span>
			</div>
		</a>
	</header>

	<main class="profile-content">
		<div class="drivers__list">
			<div class="drivers-head">
				<a class="current" href="./drivers.html">Активные</a>
				<a href="./drivers.html">Черный список</a>
				<button class="form-btn" data-modal-target="add-driver">Добавить</button>
			</div>
			<!--
			<div class="drivers-empty">
				<h5>Добавьте данные ваших водителей</h5>
				<div class="empty-drivers__row">
					<picture>
						<source srcset="./images/drivers-empty.avif" />
						<img src="./images/drivers-empty.png" alt="empty" width="85" height="85" />
					</picture>
					<div class="empty-drivers__info">
						<p>Оформление Заказов и документов на EUCA Alliance <strong>станет быстрее.</strong></p>
						<p><strong>При формировании заявки на перевозку можно будет выбрать заранее добавленные данные.</strong></p>
						<div class="empty-drivers__buttons">
							<button class="form-btn" data-modal-target="add-driver">Добавить водителя</button>
							<a href="#">Подробнее о справочнике</a>
						</div>
					</div>
				</div>
			</div> -->

			<div class="drivers-content">
				<b>Ваши водители</b>
				<div class="drivers-card">
					<picture>
						<source srcset="./images/driver-card.avif" />
						<img src="./images/driver-card.png" alt="водитель" width="90" height="90" />
					</picture>

					<div class="drivers-card__info">
						<div class="drivers-card__head">
							<p><strong>Иванов Иван Иванович</strong></p>
							<a href="#">Отправить закза</a>
							<a href="#">Еще</a>
						</div>

						<div class="drivers-card__bottom">
							<div>
								<a href="tel:+998900000000">+ 998 90 000 00 00</a>
								<a href="#">пасспорт</a>
							</div>
							<p><strong>EUCA Alliance уствновлен,</strong> активность 1 день назад</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
