<div class="profile-settings">
	<header class="profile-header">
		<h1>Сообщения</h1>

		<div class="profile-notifications has-notifications">
			<svg width="16" height="18">
				<use xlink:href="#notifications"></use>
			</svg>

			<div class="notifications-modal">
				<div class="tr">
					<svg width="33" height="26" viewBox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M14.8433 1.44929C15.6365 0.276561 17.3635 0.276559 18.1567 1.44929L32.1431 22.1293C33.0414 23.4575 32.0898 25.2498 30.4864 25.2498H2.51359C0.910168 25.2498 -0.041364 23.4575 0.856918 22.1293L14.8433 1.44929Z"
							fill="white"
						/>
					</svg>
				</div>

				<div class="notifications-modal__head">
					<!-- <span class="read has-read">Все прочитано</span> -->

					<a href="#" class="read">Сделать прочитаным</a>

					<div class="notifications-modal__btn">
						<span></span>
						<span></span>
					</div>
				</div>

				<div class="notifications-modal__content">
					<div class="notifications-modal__card">
						<svg width="20" height="20">
							<use xlink:href="#ntf"></use>
						</svg>
						<p>OOO TS1 взял груз: Санкт-Петербург-Улан-Удэ, 10т, 10 м2, Ставка-127188 руб</p>
						<div class="notifications-modal__botom">
							<a href="#" class="notifications-modal__link">Посмотреть предложение</a>
							<span class="time">11:15</span>
						</div>
					</div>

					<div class="notifications-modal__card">
						<svg width="20" height="20">
							<use xlink:href="#ntf"></use>
						</svg>
						<p>OOO Северные грузы предлагает груз Санкт-Петербург - Москва</p>
						<p>за <strong>1000 000 руб</strong></p>
						<p>Автомашины, 10 т, закр. + терм., загрузка с 26 авг</p>
						<p>Предлжение действует до 21:06 мск</p>
						<a href="#" class="notifications-modal__link">Подробнее</a>
					</div>

					<div class="notifications-modal__card">
						<svg width="20" height="20">
							<use xlink:href="#ntf"></use>
						</svg>
						<b>Встречное предложение на груз: <span>№AZE2477</span></b>
						<p>Автомобиль(ли), Санкт-Петербург - Улан-Удэ, 10т, 10м2, закр., изтерм, реф., 6сен</p>
						<p><span>Ставка:</span> 25000 руб не б/нал, 23000 руб б/нал с НДС, 23000 руб/нал без НДС</p>
						<p><span>Фирма:</span> “TS1,OOO”</p>
						<p><span>Контакт: </span></p>
						<p>Иван</p>
						<a href="#">Написать сообщение</a>
						<p>Санкт-Петербург, Моб: <a href="">+000 00 000-00-00</a></p>
						<p>Email: <a href="">email@example.com</a></p>
						<a href="#" class="notifications-modal__link">Посмотреть предложение</a>
					</div>
				</div>
			</div>
		</div>

		<a class="profile" href="./profile-messages.html">
			<picture>
				<source srcset="./images/profile.avif" />
				<img src="./images/profile.png" alt="автар пользователя" width="50" height="50" />
			</picture>
			<div class="profile__info">
				<b>Имя Фамилия</b>
				<span>Клиент</span>
			</div>
		</a>
	</header>

	<main class="profile-content">
		<div class="profile-content__messages">
			<div class="users-messages">
				<a href="./chat.html" class="user-message">
					<div class="user-message__image">
						<picture>
							<source srcset="./images/user1.avif" />
							<img src="./images/user1.jpg" alt="chat" width="67" height="67" />
						</picture>
					</div>
					<div class="user-message__info">
						<b>Имя Фамилия</b>
						<p>Написал вам сообщение</p>
					</div>
					<div class="user-message__date">
						<span>Чт</span>
						<div class="menu-count">1</div>
					</div>
				</a>
				<a href="./chat.html" class="user-message">
					<div class="user-message__image">
						<picture>
							<source srcset="./images/user2.avif" />
							<img src="./images/user2.jpg" alt="chat" width="67" height="67" />
						</picture>
					</div>
					<div class="user-message__info">
						<b>Имя Фамилия</b>
						<p>Написал вам сообщение</p>
					</div>
					<div class="user-message__date">
						<span>Чт</span>
					</div>
				</a>
				<a href="./chat.html" class="user-message">
					<div class="user-message__image">
						<picture>
							<source srcset="./images/user3.avif" />
							<img src="./images/user3.jpg" alt="chat" width="67" height="67" />
						</picture>
					</div>
					<div class="user-message__info">
						<b>Имя Фамилия</b>
						<p>Написал вам сообщение</p>
					</div>
					<div class="user-message__date">
						<span>Чт</span>
					</div>
				</a>

				<a href="./chat.html" class="user-message">
					<div class="user-message__image">
						<picture>
							<source srcset="./images/user4.avif" />
							<img src="./images/user4.jpg" alt="chat" width="67" height="67" />
						</picture>
					</div>
					<div class="user-message__info">
						<b>Имя Фамилия</b>
						<p>Написал вам сообщение</p>
					</div>
					<div class="user-message__date">
						<span>Чт</span>
					</div>
				</a>

				<a href="./chat.html" class="user-message">
					<div class="user-message__image">
						<picture>
							<source srcset="./images/user5.avif" />
							<img src="./images/user5.jpg" alt="chat" width="67" height="67" />
						</picture>
					</div>
					<div class="user-message__info">
						<b>Имя Фамилия</b>
						<p>Написал вам сообщение</p>
					</div>
					<div class="user-message__date">
						<span>Чт</span>
					</div>
				</a>

				<a href="./chat.html" class="user-message">
					<div class="user-message__image">
						<picture>
							<source srcset="./images/user6.avif" />
							<img src="./images/user6.jpg" alt="chat" width="67" height="67" />
						</picture>
					</div>
					<div class="user-message__info">
						<b>Имя Фамилия</b>
						<p>Написал вам сообщение</p>
					</div>
					<div class="user-message__date">
						<span>Чт</span>
					</div>
				</a>

				<a href="./chat.html" class="user-message">
					<div class="user-message__image">
						<picture>
							<source srcset="./images/user1.avif" />
							<img src="./images/user1.jpg" alt="chat" width="67" height="67" />
						</picture>
					</div>
					<div class="user-message__info">
						<b>Имя Фамилия</b>
						<p>Написал вам сообщение</p>
					</div>
					<div class="user-message__date">
						<span>Чт</span>
					</div>
				</a>

				<a href="./chat.html" class="user-message">
					<div class="user-message__image">
						<picture>
							<source srcset="./images/user2.avif" />
							<img src="./images/user2.jpg" alt="chat" width="67" height="67" />
						</picture>
					</div>
					<div class="user-message__info">
						<b>Имя Фамилия</b>
						<p>Написал вам сообщение</p>
					</div>
					<div class="user-message__date">
						<span>Чт</span>
					</div>
				</a>

				<a href="./chat.html" class="user-message">
					<div class="user-message__image">
						<picture>
							<source srcset="./images/user1.avif" />
							<img src="./images/user1.jpg" alt="chat" width="67" height="67" />
						</picture>
					</div>
					<div class="user-message__info">
						<b>Имя Фамилия</b>
						<p>Написал вам сообщение</p>
					</div>
					<div class="user-message__date">
						<span>Чт</span>
					</div>
				</a>

				<a href="./chat.html" class="user-message">
					<div class="user-message__image">
						<picture>
							<source srcset="./images/user2.avif" />
							<img src="./images/user2.jpg" alt="chat" width="67" height="67" />
						</picture>
					</div>
					<div class="user-message__info">
						<b>Имя Фамилия</b>
						<p>Написал вам сообщение</p>
					</div>
					<div class="user-message__date">
						<span>Чт</span>
					</div>
				</a>
			</div>

			<div class="chat">
				<div class="chat-empty">
					<svg width="85" height="85">
						<use xlink:href="#message"></use>
					</svg>
					<p>Выберите чат и начните общение с грузоперевозчиком или предпринимателем</p>
				</div>
			</div>
		</div>
	</main>
</div>
