<div class="bottom-nav-menu">
	<ul>
		<li>
			<a href="./catalog.html">
				<svg class="nav-list__icon people" width="20" height="20" aria-hidden="true">
					<use xlink:href="#people"></use>
				</svg>
				<span>Каталог участников</span>
			</a>
		</li>

		<li>
			<a href="./catalog.html">
				<svg class="nav-list__icon" width="20" height="20" aria-hidden="true">
					<use xlink:href="#create2"></use>
				</svg>

				<span>Поиск грузов</span>
			</a>
		</li>

		<li>
			<a href="./messages.html">
				<svg class="nav-list__icon" width="20" height="20" aria-hidden="true">
					<use xlink:href="#icon-menu"></use>
				</svg>
				<span>Профиль</span>
			</a>
		</li>

		<li>
			<a href="./search-transport.html">
				<svg class="nav-list__icon" width="20" height="20" aria-hidden="true">
					<use xlink:href="#icon-truck"></use>
				</svg>
				<span>Поиск танспорта</span>
			</a>
		</li>

		<li>
			<a href="./contacts.html">
				<svg width="18" height="18" aria-hidden="true">
					<use xlink:href="#tel"></use>
				</svg>
				<span>Контакты</span>
			</a>
		</li>
	</ul>
</div>

<div class="profile-settings">
	<header class="profile-header">

		<button class="nav__btn-header" aria-label="навигационное меню">
			<span>
				<span></span>
			</span>
		</button>

		<h1>Настройки профиля</h1>

		<div class="profile-notifications has-notifications">
			<svg width="16" height="18">
				<use xlink:href="#notifications"></use>
			</svg>

			<div class="notifications-modal">
				<div class="tr">
					<svg width="33" height="26" viewBox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M14.8433 1.44929C15.6365 0.276561 17.3635 0.276559 18.1567 1.44929L32.1431 22.1293C33.0414 23.4575 32.0898 25.2498 30.4864 25.2498H2.51359C0.910168 25.2498 -0.041364 23.4575 0.856918 22.1293L14.8433 1.44929Z"
							fill="white"
						/>
					</svg>
				</div>

				<div class="notifications-modal__head">
					<!-- <span class="read has-read">Все прочитано</span> -->

					<a href="#" class="read">Сделать прочитаным</a>

					<div class="notifications-modal__btn">
						<span></span>
						<span></span>
					</div>
				</div>

				<div class="notifications-modal__content">
					<div class="notifications-modal__card">
						<svg width="20" height="20">
							<use xlink:href="#ntf"></use>
						</svg>
						<p>OOO TS1 взял груз: Санкт-Петербург-Улан-Удэ, 10т, 10 м2, Ставка-127188 руб</p>
						<div class="notifications-modal__botom">
							<a href="#" class="notifications-modal__link">Посмотреть предложение</a>
							<span class="time">11:15</span>
						</div>
					</div>

					<div class="notifications-modal__card">
						<svg width="20" height="20">
							<use xlink:href="#ntf"></use>
						</svg>
						<p>OOO Северные грузы предлагает груз Санкт-Петербург - Москва</p>
						<p>за <strong>1000 000 руб</strong></p>
						<p>Автомашины, 10 т, закр. + терм., загрузка с 26 авг</p>
						<p>Предлжение действует до 21:06 мск</p>
						<a href="#" class="notifications-modal__link">Подробнее</a>
					</div>

					<div class="notifications-modal__card">
						<svg width="20" height="20">
							<use xlink:href="#ntf"></use>
						</svg>
						<b>Встречное предложение на груз: <span>№AZE2477</span></b>
						<p>Автомобиль(ли), Санкт-Петербург - Улан-Удэ, 10т, 10м2, закр., изтерм, реф., 6сен</p>
						<p><span>Ставка:</span> 25000 руб не б/нал, 23000 руб б/нал с НДС, 23000 руб/нал без НДС</p>
						<p><span>Фирма:</span> “TS1,OOO”</p>
						<p><span>Контакт: </span></p>
						<p>Иван</p>
						<a href="#">Написать сообщение</a>
						<p>Санкт-Петербург, Моб: <a href="">+000 00 000-00-00</a></p>
						<p>Email: <a href="">email@example.com</a></p>
						<a href="#" class="notifications-modal__link">Посмотреть предложение</a>
					</div>
				</div>
			</div>
		</div>

		<a class="profile" href="./messages.html">
			<picture>
				<source srcset="./images/profile.avif" />
				<img src="./images/profile.png" alt="автар пользователя" width="50" height="50" />
			</picture>
			<div class="profile__info">
				<b>Имя Фамилия</b>
				<span>Клиент</span>
			</div>
		</a>
	</header>

	<main class="profile-content">
		<div class="profile-content__wrapper">
			<div class="profile-content__name">
				<div class="profile-content__image">
					<picture>
						<source srcset="./images/avatar.avif" />
						<img src="./images/avatar.jpg" width="90" height="90" alt="avatar" />
					</picture>
				</div>
				<div class="profile-content__info">
					<p>Перевозчик</p>
					<b>Название компании</b>
					<form action="#" method="post">
						<label for="upload" class="upload"> Загрузить фото или логоти</label>
						<input type="file" id="upload" id="upload" />
					</form>
				</div>
			</div>

			<form action="#" method="post" class="profile-content__form">
				<div class="form-wrapper">
					<div class="left-col">
						<div class="input__row-profile">
							<label for="role">Название компании</label>
							<input type="text" id="role" placeholder="Компания" />
						</div>
						<div class="input__row-profile">
							<label for="name">Описание компании</label>
							<textarea type="text" id="name" placeholder="Описание компании"></textarea>
						</div>
						<div class="input__row-profile">
							<label for="name">Количество сотрудников/label>
							<input type="text" id="name" placeholder="101-500" />
						</div>
						<div class="input__row-profile">
							<label for="tel">Сертификаты</label>
							<input type="tel" id="tel" placeholder="Компания" />
						</div>

					</div>
					<div class="right-col">
						<div class="input__row-profile">
							<label for="aaa">Ссылка на сайт</label>
							<input type="text" id="aaa" placeholder="Lorem ipsum dolor sit amet consectetur. " />
						</div>

						<div class="input__row-profile">
							<label for="inn">Email</label>
							<input type="text" id="inn" placeholder="@textinfo" />
							<button type="button" class="add-field">
								<svg width="12" height="12">
									<use xlink:href="#plus"></use>
								</svg>
							</button>
						</div>

						<div class="input__row-profile">
							<label for="inn">Номер телефона</label>
							<input type="tel" id="inn" placeholder="+000 00 000 00 00" />
							<button type="button" class="add-field">
								<svg width="12" height="12">
									<use xlink:href="#plus"></use>
								</svg>
							</button>
						</div>


					</div>
				</div>
				<div class="form-buttons">
					<button type="button" class="form-btn form-btn-white">Редактировать</button>
					<button type="submit" class="form-btn">Сохранить</button>
				</div>
			</form>
		</div>
	</main>
</div>
