<div class="side-bar">
	<a href="./index.html" aria-label="на главную страннцу" class="nav__logo">
		<picture>
			<source srcset="./images/svg/logo.svg" />
			<img src="./images/svg/logo.svg" width="230" height="50" alt="логотип компании" />
		</picture>
	</a>

	<!-- side-bar__menu-row класс current добавить для выбранной странницы -->

	<ul class="side-bar__menu">
		<li>
			<div class="side-bar__menu-row">
				<svg width="18" height="16">
					<use xlink:href="#cargo"></use>
				</svg>
				<b>Грузы и заказы</b>
				<span></span>
			</div>

			<ul class="dropdown-menu">
				<li><a href="">Ваши грузы</a></li>
				<li>
					<a href="">Грузы в работе <span class="menu-count">1</span></a>
				</li>
				<li><a href="">Архив грузов</a></li>
			</ul>
		</li>
<!--
		<li>
			<div class="side-bar__menu-row">
				<svg width="14" height="14">
					<use xlink:href="#order"></use>
				</svg>
				<b>Заказы вам</b>
				<span></span>
			</div>
			<ul class="dropdown-menu">
				<li>
					<a href="./coordinations.html">Согласование <span class="menu-count">1</span></a>
				</li>
				<li><a href="">В исполнении</a></li>
				<li><a href="">Документы и оплата</a></li>
				<li><a href="">Архив</a></li>
			</ul>
		</li> -->

		<li>
			<div class="side-bar__menu-row">
				<svg width="14" height="14">
					<use xlink:href="#order"></use>
				</svg>
				<b>Заказы от вас</b>
				<span></span>
			</div>
			<ul class="dropdown-menu">
				<li>
					<a href="./coordinations.html">Согласование <span class="menu-count">1</span></a>
				</li>
				<li><a href="./execution.html">В исполнении</a></li>
				<li><a href="#">Документы и оплата</a></li>
				<li><a href="#">Архив</a></li>
			</ul>
		</li>

		<li>
			<div class="side-bar__menu-row">
				<svg width="16" height="16">
					<use xlink:href="#message"></use>
				</svg>
				<a href="./messages.html">
					Сообщения
					<div class="menu-count">1</div>
				</a>
			</div>
		</li>

		<li>
			<div class="side-bar__menu-row">
				<svg width="16" height="16">
					<use xlink:href="#profile"></use>
				</svg>
				<b>Профиль</b>
				<span></span>
			</div>
			<ul class="dropdown-menu">
				<li><a href="./profile-settings.html">Настройки профиля</a></li>
				<li>
					<a href="./profile-company-settings.html">Настройки компании</a>
					<div class="menu-count">1</div>
				</li>
				<li><a href="./tarifs.html">Тарифы</a></li>
				<li><a href="./manage-tarifs.html">Управление подпиской</a></li>
			</ul>
		</li>
	</ul>

	<button type="button" class="logout">
		<svg width="14" height="16">
			<use xlink:href="#exit"></use>
		</svg>
		Выйти
	</button>
</div>
