<div class="profile-settings">
	<header class="profile-header">
		<h1>Грузы в работе</h1>

		<div class="profile-notifications has-notifications">
			<svg width="16" height="18">
				<use xlink:href="#notifications"></use>
			</svg>

			<div class="notifications-modal">
				<div class="tr">
					<svg width="33" height="26" viewBox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M14.8433 1.44929C15.6365 0.276561 17.3635 0.276559 18.1567 1.44929L32.1431 22.1293C33.0414 23.4575 32.0898 25.2498 30.4864 25.2498H2.51359C0.910168 25.2498 -0.041364 23.4575 0.856918 22.1293L14.8433 1.44929Z"
							fill="white"
						/>
					</svg>
				</div>

				<div class="notifications-modal__head">
					<!-- <span class="read has-read">Все прочитано</span> -->

					<a href="#" class="read">Сделать прочитаным</a>

					<div class="notifications-modal__btn">
						<span></span>
						<span></span>
					</div>
				</div>

				<div class="notifications-modal__content">
					<div class="notifications-modal__card">
						<svg width="20" height="20">
							<use xlink:href="#ntf"></use>
						</svg>
						<p>OOO TS1 взял груз: Санкт-Петербург-Улан-Удэ, 10т, 10 м2, Ставка-127188 руб</p>
						<div class="notifications-modal__botom">
							<a href="#" class="notifications-modal__link">Посмотреть предложение</a>
							<span class="time">11:15</span>
						</div>
					</div>

					<div class="notifications-modal__card">
						<svg width="20" height="20">
							<use xlink:href="#ntf"></use>
						</svg>
						<p>OOO Северные грузы предлагает груз Санкт-Петербург - Москва</p>
						<p>за <strong>1000 000 руб</strong></p>
						<p>Автомашины, 10 т, закр. + терм., загрузка с 26 авг</p>
						<p>Предлжение действует до 21:06 мск</p>
						<a href="#" class="notifications-modal__link">Подробнее</a>
					</div>

					<div class="notifications-modal__card">
						<svg width="20" height="20">
							<use xlink:href="#ntf"></use>
						</svg>
						<b>Встречное предложение на груз: <span>№AZE2477</span></b>
						<p>Автомобиль(ли), Санкт-Петербург - Улан-Удэ, 10т, 10м2, закр., изтерм, реф., 6сен</p>
						<p><span>Ставка:</span> 25000 руб не б/нал, 23000 руб б/нал с НДС, 23000 руб/нал без НДС</p>
						<p><span>Фирма:</span> “TS1,OOO”</p>
						<p><span>Контакт: </span></p>
						<p>Иван</p>
						<a href="#">Написать сообщение</a>
						<p>Санкт-Петербург, Моб: <a href="">+000 00 000-00-00</a></p>
						<p>Email: <a href="">email@example.com</a></p>
						<a href="#" class="notifications-modal__link">Посмотреть предложение</a>
					</div>
				</div>
			</div>
		</div>

		<a class="profile" href="./profile-messages.html">
			<picture>
				<source srcset="./images/profile.avif" />
				<img src="./images/profile.png" alt="автар пользователя" width="50" height="50" />
			</picture>
			<div class="profile__info">
				<b>Имя Фамилия</b>
				<span>Клиент</span>
			</div>
		</a>
	</header>

	<main class="profile-content coorfinations-content">
		<div class="order-head order-head-second">
			<form class="form-order">
				<label for="all" class="search-icon">
					<svg width="12" height="16">
						<use xlink:href="#search-icon"></use>
					</svg>
					<input type="text" id="all" placeholder="Все подразделения" name="all" />
				</label>

				<label for="name">
					<select name="name" id="name">
						<option value="" hidden>Имя</option>
						<option value="">Имя1</option>
						<option value="">Имя2</option>
						<option value="">Имя3</option>
					</select>
				</label>

				<label for="from">
					<svg width="12" height="16">
						<use xlink:href="#map"></use>
					</svg>

					<input type="text" id="from" placeholder="Откуда" name="from" />
				</label>

				<label for="to">
					<svg width="12" height="16">
						<use xlink:href="#map"></use>
					</svg>

					<input type="text" id="to" placeholder="Откуда" name="to" />
				</label>
			</form>
			<button class="form-btn">
				<svg width="14" height="14">
					<use xlink:href="#plus"></use>
				</svg>

				Добавить заявку водителю
			</button>
		</div>

		<div class="order-info">
			<div class="order-info__head order-info-second">
				<label for="dir" class="label-order">
					<input type="checkbox" id="dir" />
					Направления
				</label>

				<p>загрузка</p>
				<p>разгрузка</p>
				<p>ВЕС, Т / ОБЬЕМ, М3 ГРУЗ</p>
				<p>Транспорт</p>
				<p>ставка</p>
			</div>

			<div class="order-info-content">
				<div class="order-info__card order-info-second">
					<div class="order-info-col">
						<label for="num" class="label-order">
							<input type="checkbox" id="num" />
							#AZE2478
						</label>

						<details>
							<summary>RUS</summary>
							<div class="lang-summary">
								<a href="#">ENG</a>
								<a href="#">UZ</a>
							</div>
						</details>
					</div>

					<div class="order-info-col">
						<p class="car-head"><strong>Санкт-Петербург</strong></p>
						<p>Lorem ipsum dolor sit amet</p>
						<p><strong>готов 6 сен</strong></p>
					</div>

					<div class="order-info-col">
						<p class="car-head"><strong>Улан-удЭ</strong></p>
						<p>110 квартал, 14</p>
					</div>

					<div class="order-info-col">
						<p class="car-head"><strong>10/10</strong>автомобиль(ли)</p>
						<p><a href="#">застраховать груз</a></p>
					</div>

					<div class="order-info-col">
						<p class="car-head"><strong>закр. + терм.</strong></p>
						<p>загр/выгр: задн, отд.машина</p>
					</div>

					<div class="order-info-col">
						<p class="car-head"><strong>26 124</strong>руб нал</p>
						<p class="car-head"><strong>27 166</strong>руб с НДС</p>
						<p class="car-head"><strong>26 124</strong>руб без НДС торг</p>
						<div class="order-icons">
							<a class="chat-message" href="./messages.html">
								<img src="./images/svg/message.svg" alt="meassge" width="30" height="30" />
							</a>

							<button class="chat-message" data-modal-target="dropdown">
								<img src="./images/svg/order-pen.svg" alt="meassge" width="30" height="30" />
							</button>

							<button class="chat-message" data-modal-target="dropdown-close">
								<img src="./images/svg/order-close.svg" alt="meassge" width="30" height="30" />
							</button>

							<div class="order-cansel-modal order-cansel-dropdown" data-modal="dropdown-close">
								<button class="order-close-btn" data-modal-close="dropdown-close"></button>
								<div class="tr">
									<svg width="33" height="26" viewBox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M14.8433 1.44929C15.6365 0.276561 17.3635 0.276559 18.1567 1.44929L32.1431 22.1293C33.0414 23.4575 32.0898 25.2498 30.4864 25.2498H2.51359C0.910168 25.2498 -0.041364 23.4575 0.856918 22.1293L14.8433 1.44929Z"
											fill="white"
										></path>
									</svg>
								</div>
								<b>Отклонить предложение</b>
								<p>Укажите причину отмены предложения</p>
								<form action="" method="">
									<textarea name="" id="" style="height: auto; overflow: hidden"></textarea>
									<b>Что сделать с грузом</b>

									<label for="save">
										Восстановить груз
										<input type="radio" name="archiveOption" id="save" />
									</label>
									<label for="stay">
										Оставить груз в Архиве
										<input type="radio" name="archiveOption" id="stay" />
									</label>

									<button class="form-btn">Отклонить предложение</button>
									<button type="button" class="order-cansel">Не отклонять</button>
								</form>
							</div>

							<div class="dropdown-links-order modal-overlay" data-modal="dropdown">
								<button data-modal-target="modal-change-bid">Изменить ставку</button>
								<button data-modal-target="modal-change-road">Изменить маршрут</button>
							</div>
						</div>
					</div>
				</div>

				<div class="order-info__card order-info__buttom order-card-border">
					<div class="order-info-col">
						<div class="road">
							<svg width="18" height="14">
								<use xlink:href="#dark-car"></use>
							</svg>
							Санкт-Петербург

							<svg width="8" height="10" class="arrow-road">
								<use xlink:href="#arrow-right"></use>
							</svg>

							<svg width="18" height="14">
								<use xlink:href="#blue-car"></use>
							</svg>
							Улан-удЭ
						</div>
						<p>
							Имя
							<svg width="19" height="16">
								<use xlink:href="#pen-order"></use>
							</svg>
						</p>
					</div>

					<div class="order-info-col order-info-m">
						<p>
							<svg width="18" height="14">
								<use xlink:href="#dark-car"></use>
							</svg>
							<span>Добавить данные позже</span>
						</p>

						<p>
							<svg width="18" height="14">
								<use xlink:href="#human"></use>
							</svg>
							<span>Добавить данные позже</span>
						</p>
					</div>

					<div class="order-info-col order-info-m">
						<p>TS1, ООО</p>

						<div class="stars">
							<svg width="13" height="13">
								<use xlink:href="#star"></use>
							</svg>
							<svg width="13" height="13">
								<use xlink:href="#star"></use>
							</svg>
							<svg width="13" height="13">
								<use xlink:href="#star"></use>
							</svg>
							<svg width="13" height="13">
								<use xlink:href="#star"></use>
							</svg>
							<svg width="13" height="13">
								<use xlink:href="#star"></use>
							</svg>
						</div>

						<div class="rating">3.67</div>
					</div>

					<div class="order-info-col order-info-bottom__end">
						<div class="order-info-m order-buttons-second order-buttons-dosc">
							<span>Заказ</span>
							<p>№7777 от 02.09.2022</p>
							<p>
								<svg width="18" height="14">
									<use xlink:href="#order-plus"></use>
								</svg>

								<button data-modal-target="modal-file">Документы и фото (1)</button>
							</p>
						</div>

						<div class="order-buttons-second">
							<p><a href="#">Заказ</a> в исполнении</p>
							<div class="order-buttons">
								<button class="form-btn" data-modal-target="modal-create-order">Завершить</button>

								<span>сегодня в 11:18</span>
							</div>

							<div class="order-cansel-modal">
								<button class="order-close-btn"></button>
								<div class="tr">
									<svg width="33" height="26" viewBox="0 0 33 26" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path
											d="M14.8433 1.44929C15.6365 0.276561 17.3635 0.276559 18.1567 1.44929L32.1431 22.1293C33.0414 23.4575 32.0898 25.2498 30.4864 25.2498H2.51359C0.910168 25.2498 -0.041364 23.4575 0.856918 22.1293L14.8433 1.44929Z"
											fill="white"
										/>
									</svg>
								</div>
								<b>Отклонить предложение</b>
								<p>Укажите причину отмены предложения</p>
								<form action="" method="">
									<textarea name="" id=""></textarea>
									<b>Что сделать с грузом</b>

									<label for="save">
										Восстановить груз
										<input type="radio" name="archiveOption" id="save" />
									</label>
									<label for="stay">
										Оставить груз в Архиве
										<input type="radio" name="archiveOption" id="stay" />
									</label>

									<button class="form-btn">Отклонить предложение</button>
									<button type="button" class="order-cansel">Не отклонять</button>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="order-info__card-search">
					<label>
						<select name="" id="">
							<option value="" hidden>Нет статуса</option>
							<option value="">выгрузился</option>
							<option value="">на погрузке</option>
							<option value="">Еду на загрузку</option>
							<option value="">Загружаюсь</option>
							<option value="">Ожидаю выгрузку</option>
						</select>
					</label>

					<label for="">
						<svg width="20" height="26">
							<use xlink:href="#map"></use>
						</svg>
						<textarea
							name=""
							id=""
							placeholder="Добавьте водители в заказ и пригласите его, чтобы видеть  грууз на карте"
						></textarea>

						<a href="#" class="linkmap">Карта</a>
					</label>
				</div>
			</div>
		</div>

		<div class="order-info">
			<div class="order-info__head">
				<p>ТC/ Информация о грузе</p>
				<p>Документы/ставка</p>
				<p>Водитель/контрагент</p>
				<p class="order-info__end">Статус/ дата изм</p>
			</div>

			<div class="order-info-content">
				<div class="order-info__card order-info-top">
					<div class="order-info-col">
						<div class="order-info-row">
							<svg width="19" height="16">
								<use xlink:href="#ts"></use>
							</svg>

							<div class="card-order-flex">
								<p>Данные ТС не указаны</p>
								<button type="button" data-modal-target="modal-ts">Указать данные</button>
							</div>
						</div>
					</div>

					<div class="order-info-col">
						<p class="order-info-row">
							<svg width="18" height="14">
								<use xlink:href="#order-plus"></use>
							</svg>

							<button type="button" data-modal-target="modal-file">Документы и фото</a>
						</p>
					</div>

					<div class="order-info-col">
						<div class="order-info-row">
							<svg width="19" height="16">
								<use xlink:href="#ts"></use>
							</svg>

							<div class="card-order-flex">
								<p>Данные водителя не указаны</p>
								<button type="button" data-modal-target="modal-driver">Указать данные</button>
							</div>
						</div>
					</div>

					<div class="order-info-col order-info-bottom__end">
						<a href=""><strong>Заказ в исполени</strong> сегодня в 20:06, не просмотрено</a>
					</div>
				</div>

				<div class="order-info__card order-info__buttom">
					<div class="order-info-col">
						<h5 class="car-head">#aze2478</h5>
						<p>
							Санкт-Петербург
							<strong>Москва</strong>
							<svg width="10" height="10">
								<use xlink:href="#arrow-right"></use>
							</svg>
							<small>709км</small>
						</p>
						<p><strong>10/</strong>Автомашины <strong>26-28 авг</strong> отд.машина</p>
						<a href="#">Застраховать груз</a>

						<div class="road">
							<svg width="18" height="14">
								<use xlink:href="#dark-car"></use>
							</svg>
							Санкт-Петербург

							<svg width="8" height="10" class="arrow-road">
								<use xlink:href="#arrow-right"></use>
							</svg>

							<svg width="18" height="14">
								<use xlink:href="#blue-car"></use>
							</svg>
							Улан-удЭ
						</div>
					</div>

					<div class="order-info-col">
						<p class="car-head"><strong>100 000</strong> руб с НДС</p>
					</div>

					<div class="order-info-col">
						<b class="car-head">Северные грузы,ООО</b>
						<div class="stars">
							<svg width="13" height="13">
								<use xlink:href="#star"></use>
							</svg>
							<svg width="13" height="13">
								<use xlink:href="#star"></use>
							</svg>
							<svg width="13" height="13">
								<use xlink:href="#star"></use>
							</svg>
							<svg width="13" height="13">
								<use xlink:href="#star"></use>
							</svg>
							<svg width="13" height="13">
								<use xlink:href="#star"></use>
							</svg>
						</div>
						<span>рекомендовать</span>
						<span>Татьяна, +7(000)000000</span>
					</div>

					<div class="order-info-col order-info__end order-info__row">
						<button data-modal-target="archive-modal">отменить заказ</button>
						<button class="more-info">завершить</button>

						<div class="modal-archive" data-modal="archive-modal">
							<p>Заказ будет перемещен в архив и отмечен как отмеченный</p>
							<div class="flex-row">
								<button class="form-btn" data-modal-close="archive-modal">Отменить заказ</button>
								<button class="more-info" data-modal-close="archive-modal">Не отменять</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</main>
</div>
