<div class="modal-overlay" data-modal="modal-create-order">
	<div class="modal modal-create-order">
		<b>Предложение на перевозку</b>
		<p>Пока вы не примите решение, груз будет недоступен для других перевозчиков</p>

		<form action="" method="post">
			<p>От фирмы</p>
			<div class="create-order-card">
				<svg width="24" height="18">
					<use xlink:href="#create1"></use>
				</svg>
				<div class="create-order-card__info">
					<p>
						<strong>tsi</strong>
						<svg width="9" height="9">
							<use xlink:href="#create1-1"></use>
						</svg>
					</p>
					<p>Код: 357120, Перевозчик, Санкт-Петербург</p>
					<p>Иван, +7 999 999-99-99</p>
				</div>
			</div>
			<p>Ставка</p>
			<div class="cretae-order-row">
				<p>
					<svg width="24" height="18">
						<use xlink:href="#create1"></use>
					</svg>
					<strong>100 000</strong>
					с НДС, торг
				</p>

				<p>Груз №AZE2739</p>
			</div>
			<p>ТС</p>
			<div class="cretae-order-row">
				<p>
					<svg width="24" height="18">
						<use xlink:href="#create3"></use>
					</svg>
					<strong>Укажу данные позже</strong>
				</p>

				<p>Груз №AZE2739</p>
			</div>
			<p>Водитель</p>
			<div class="cretae-order-row">
				<p>
					<svg width="24" height="18">
						<use xlink:href="#human"></use>
					</svg>
					<strong>Укажу данные позже</strong>
				</p>

				<p>Груз №AZE2739</p>
			</div>
			<p>Реквизиты</p>
			<div class="create-order-card">
				<svg width="24" height="18">
					<use xlink:href="#create1"></use>
				</svg>
				<div class="create-order-card__info">
					<p>
						<strong>Леонов АВ, СЗ</strong>
					</p>
					<p><span>ИНН</span>00 000 00000 00 00</p>
					<a href="#">Показать полностью</a>
				</div>
				<a href="#">Проверить</a>
			</div>

			<div class="create-order-buttons">
				<button type="button" class="form-btn" data-modal-close="modal-create-order">Одобрить и создать заказ</button>
				<button type="button" class="create-order-cansel" data-modal-close="modal-create-order">Отклонить</button>
			</div>
		</form>

		<button class="modal-close" type="button" data-modal-close="modal-create-order">
			<span></span>
			<span></span>
		</button>
	</div>
</div>
