<div class="modal-overlay" data-modal="modal-ts">
	<div class="modal modal-register">
		<b>Данные ТС</b>

		<form action="" method="post">
			<div class="input__row">
				<p>ТС</p>

				<label>
					<select aria-label="Выбирите ТС" name="" id="">
						<option value="" hidden>Автомобиль</option>
						<option value="">Самолет</option>
						<option value="">Паром</option>
					</select>

					<span class="arrow"></span>
				</label>
			</div>

			<button type="submit" class="form-btn" data-modal-close="modal-ts">Сохранить</button>
		</form>

		<button class="modal-close" type="button" data-modal-close="modal-ts">
			<span></span>
			<span></span>
		</button>
	</div>
</div>
