<div class="modal-overlay" data-modal="modal-driver">
	<div class="modal modal-register">
		<b>Данные водителя</b>

		<form action="" method="post">
			<div class="input__row">
				<p>Водитель</p>

				<label>
					<select aria-label="Добавить водителя" name="" id="">
						<option value="" hidden>Добавить водителя</option>
						<option value="">name2</option>
						<option value="">name3</option>
					</select>

					<span class="arrow"></span>
				</label>
			</div>

			<button type="submit" class="form-btn" data-modal-close="modal-driver">Сохранить</button>
		</form>

		<button class="modal-close" type="button" data-modal-close="modal-driver">
			<span></span>
			<span></span>
		</button>
	</div>
</div>
