<div class="modal-overlay open" data-modal="modal-file">
	<div class="modal modal-register modal-file">
		<b>Документы и фото Заказа #YSU660</b>

		<form action="" method="post">
			<label class="form-btn modal-file-input">
				Добавить
				<input type="file" />
			</label>
		</form>

		<p>
			Храните тут документы по Заказу. Все документы будут привязаны к конкретному Заказу и доступны для сотрудников вашей компании.
			Файлами можно делится их видимым только для вашей компани.
		</p>

		<p><strong>Шаблоны документов</strong></p>
		<p><strong>Грузополучатель</strong></p>
		<p>г. Москва, Ленина 15</p>

		<span>Файлы</span>

		<div class="modal-file__cards">
			<div class="modal-file__card">
				<svg width="30" height="30">
					<use xlink:href="#file-card"></use>
				</svg>

				<div class="modal-file__info">
					<p>Транспортная накладная от 2022...</p>
					<span>46 Кб, 09.03. 2022, 17:08</span>
				</div>
			</div>
		</div>
		<button class="modal-close" type="button" data-modal-close="modal-file">
			<span></span>
			<span></span>
		</button>
	</div>
</div>
