<div class="modal-overlay" data-modal="get-goods">
	<div class="modal modal-create-order">
		<b>Взять груз</b>
		<p>У вас есть 24 мин, 52 сек, чтобы отправить предложение на перевозку.</p>

		<form action="" method="post">
			<p>Груз</p>
			<div class="create-order-card">
				<svg width="24" height="18">
					<use xlink:href="#get-goods"></use>
				</svg>
				<div class="create-order-card__info">
					<p>
						<strong>#aze2478</strong>
						<svg width="9" height="9">
							<use xlink:href="#create1-1"></use>
						</svg>
					</p>
					<p><strong>100 000 </strong> с НДС, торг</p>
					<div class="modal-row">
						<p><strong>714</strong> (RUS)</p>
						<div class="road">
							<svg width="18" height="14">
								<use xlink:href="#dark-car"></use>
							</svg>
							Санкт-Петербург

							<svg width="8" height="10" class="arrow-road">
								<use xlink:href="#arrow-right"></use>
							</svg>

							<svg width="18" height="14">
								<use xlink:href="#blue-car"></use>
							</svg>
							Улан-удЭ
						</div>
					</div>
					<p>10/ - Автошины<strong>14-16 фев</strong></p>
					<p>отд.машина</p>
					<span>Северные грузы</span>
					<span><a href="#">Татьяна, +7(900)0000000</a></span>
				</div>
			</div>
			<p>Ставка</p>
			<p><strong>100 000 руб</strong>140,06 руб/км с ндс</p>
			<span>Водитель</span>


			<div class="cretae-order-row">
				<p>
					<svg width="24" height="18">
						<use xlink:href="#create3"></use>
					</svg>
					<a href="#">Добавить водителя</a>
				</p>

				<p><a href="#">Укажу данные позже</a></p>
			</div>

			<p>ТС</p>
			<div class="cretae-order-row">
				<p>
					<svg width="24" height="18">
						<use xlink:href="#human"></use>
					</svg>

					<label for="">
						<select name="" id="">
							<option value="" hidden>Добавить ТС</option>
						</select>
					</label>

				</p>

				<p><a href="#">Укажу данные позже</a></p>
			</div>
			<p>Реквизиты</p>
			<div class="cretae-order-row">
				<p>
					<svg width="24" height="18">
						<use xlink:href="#create4"></use>
					</svg>

					<label for="" class="label-big-modal">
						<select name="" id="">
							<option value="" hidden>Выберите реквизиты</option>
						</select>
					</label>

				</p>
			</div>

			<span>КОММЕНТАРИЙ (виден только грузовладельцу в отчетах по распределению грузов)</span>

			<div class="cretae-order-card">
				<p>
					<svg width="24" height="18">
						<use xlink:href="#modal-chat"></use>
					</svg>
					Введите дополнительную информацию
				</p>

				<label class="modal-textarea">
					<textarea name="" id="" placeholder="Введите дополнительную информацию">

					</textarea>
				</label>
			</div>

			<span>Чтобы взять груз, выберите водителя, ТС и реквезиты</span>

			<div class="create-order-buttons">
				<button type="button" class="form-btn" data-modal-close="get-goods">Взять груз</button>
				<p> <svg width="24" height="18">
						<use xlink:href="#modal-time"></use>
					</svg>
					24:35
				</p>
				<button type="button" class="create-order-cansel" data-modal-close="get-goods">Отказаться от
					груза</button>
			</div>
		</form>

		<button class="modal-close" type="button" data-modal-close="get-goods">
			<span></span>
			<span></span>
		</button>
	</div>
</div>
