<div class="modal-overlay" data-modal="modal-register">
	<div class="modal modal-register">

		<b>Создать аккаунт на EUCA Alliance</b>

		<form action="" method="post">

			<div class="input__row">
				<p>Укажите ваш профиль деятельности</p>

				<label>
					<select aria-label="укажите свой профиль" name="" id="">
						<option value="" hidden>укажите ваш профиль</option>
						<option value="">Перевозчик</option>
						<option value="">Грузовладелец</option>
					</select>

					<span class="arrow"></span>

				</label>

			</div>

			<div class="input__row">
				<p>Email</p>

				<label for="email">
					<input type="text" name="email" id="email" placeholder="Введите свой email" required>
				</label>

			</div>

			<div class="input__row">
				<p>Логин</p>

				<label for="login">
					<input type="text" name="login" id="login" placeholder="Введите логин" required>
				</label>

			</div>

			<div class="input__row">
				<p>Пароль</p>

				<label for="password">
					<input type="password" name="register" id="register" placeholder="Введите пароль" required>
					<div class="btn-hide">
						<svg class="btn-eye" width="20" height="7">
							<use xlink:href="#eye"></use>
						</svg>
						<svg class="btn-eye-close" width="20" height="7">
							<use xlink:href="#eye-close"></use>
						</svg>
					</div>
				</label>

			</div>

			<div class="input__row">

				<p>Номер телефона</p>

				<div class="iput-row__wrapper">

					<button type="button" class="input-row__icon">

						<img src="./images/phone-mask.png" alt="mask">

						<svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M7.33395 1.24661L4.24409 4.33647C4.17253 4.40803 4.09558 4.46305 4.01324 4.50153C3.93091 4.54 3.84049 4.55885 3.742 4.55808C3.64351 4.55731 3.55309 4.53808 3.47076 4.50037C3.38842 4.46267 3.31147 4.40765 3.23991 4.33532L0.150048 1.24546C0.107727 1.20236 0.0719462 1.15273 0.0427059 1.09656C0.014235 1.04039 -1.56405e-07 0.979984 -1.5923e-07 0.915348C-1.64881e-07 0.786074 0.0423211 0.674883 0.126964 0.581776C0.213146 0.488668 0.325876 0.442114 0.465153 0.442114L7.01769 0.442114C7.15774 0.442114 7.27047 0.489823 7.35588 0.585238C7.44129 0.680654 7.484 0.79146 7.484 0.917655C7.484 0.949974 7.43398 1.05924 7.33395 1.24545"
								fill="#2E3645" />
						</svg>

					</button>

					<label for="phone">
						<input type="number" name="phone" id="phone" placeholder="+998 99 999-99-99">
					</label>

				</div>
			</div>

			<button type="submit" class="form-btn">Продолжить</button>


			<button type="button" class="is-have-auth" data-modal-target="modal-login">
				Уже есть аккаунт? войти
			</button>

			<span>Нажимая кнопку «Продолжить», вы принимаете условия</span>
			<a href="#">Пользовательского соглашения</a>

		</form>


		<button class="modal-close" type="button" data-modal-close="modal-register">
			<span></span>
			<span></span>
		</button>

	</div>
</div>
