<div class="modal-overlay" data-modal="send-offer-ts">
	<div class="modal modal-send-offer">
		<div class="send-offer__header">
			<b>Машина</b>
		</div>
		<div class="send-offer__card">
			<div class="send-offer__row">
				<div class="send-offer__col1">
					<p><strong>Кузов/гп,т/объем, м3:</strong></p>
				</div>
				<div class="send-offer__col2">
					<p>тентованный / 5,0 / 30,0 грузовикДхШхВ,</p>
					<p>м:6,05х2,15х2,05</p>
				</div>
			</div>
			<div class="send-offer__row">
				<div class="send-offer__col1">
					<p><strong>Маршрут:</strong></p>
				</div>
				<div class="send-offer__col2">
					<p><strong>RUS - UZB</strong></p>
					<p>Иваново - Чирчик</p>
				</div>
			</div>
			<div class="send-offer__row">
				<div class="send-offer__col1">
					<p><strong>Ставка:</strong></p>
				</div>
				<div class="send-offer__col2">
					<p>торг</p>
				</div>
			</div>
			<div class="send-offer__row">
				<div class="send-offer__col">
					<p>Нет встречных предложений</p>
				</div>
			</div>
		</div>

		<div class="send-offer__header">
			<b>Ваше предложение</b>
		</div>
		<form action="#" method="post">
			<div class="send-offer__row">
				<div class="send-offer__col1">
					<p><strong>Заполнить данными груза:</strong></p>
				</div>
				<div class="send-offer__col2">
					<label class="send-offer-select">
						<select name="" id="" class="input-select">
							<option value="" hidden>Выберите груз</option>
							<option value="">Выберите груз</option>
							<option value="">Выберите груз</option>
						</select>
					</label>
				</div>
			</div>
			<div class="send-offer__row">
				<div class="send-offer__col1">
					<p><strong>Ставка: *</strong></p>
				</div>
				<div class="send-offer__col2">
					<div class="send-offer__bland">
						<div class="send-offer__bland-row">
							<label for=""><input type="text" /> </label>
							<label for="">
								<select name="" id="">
									<option value="руб" hidden>руб</option>
									<option value="uzb">узб</option>
									<option value="euro">евро</option>
								</select>
								<span>нал</span>
							</label>
						</div>
						<div class="send-offer__bland-row">
							<label for=""><input type="text" /> </label>
							<label for="">
								<select name="" id="">
									<option value="руб" hidden>руб</option>
									<option value="uzb">узб</option>
									<option value="euro">евро</option>
								</select>
								<span>б/нал с НДС</span>
							</label>
						</div>
						<div class="send-offer__bland-row">
							<label for=""><input type="text" /> </label>
							<label for="">
								<select name="" id="">
									<option value="руб" hidden>руб</option>
									<option value="uzb">узб</option>
									<option value="euro">евро</option>
								</select>
								<span>б/нал без НДС</span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="send-offer__row">
				<div class="send-offer__col1">
					<p><strong>Дополнительно:</strong></p>
				</div>
				<div class="send-offer__col2 send-offer__flex">
					<label for="beforepay" class="label-checkbox">
						<input type="checkbox" name="beforepay" id="beforepay" />
						<span>Предоплата</span>
					</label>
					<label for="percent">
						<input type="number" name="percent" id="percent" />
						<span>%</span>
					</label>
					<label for="onload" class="label-checkbox">
						<input type="checkbox" name="onload" id="onload" />
						<span>На выгрузке</span>
					</label>
					<label for="throw" class="label-checkbox">
						<input type="checkbox" name="throw" id="throw" />
						<span>Через</span>
					</label>
					<label for="bank">
						<input type="number" name="bank" id="bank" />
						<span>банк дней</span>
					</label>
				</div>
			</div>
			<div class="send-offer__row">
				<div class="send-offer__col1">
					<p><strong>Параметры машины:</strong></p>
				</div>
				<div class="send-offer__col2">
					<div class="send-offer__params">
						<p>Загрузка:</p>
						<label for=""><input type="text" /></label>
					</div>
					<div class="send-offer__params">
						<p>Разгрузка:</p>
						<label for=""><input type="text" /></label>
					</div>
					<div class="send-offer__params">
						<p>Грузоподъемность, т:</p>
						<div class="send-offer__params-numbers">
							<label for=""><input type="number" name="" id="" /></label>
							<span>Объем, м3</span>
							<label for=""><input type="number" name="" id="" /></label>
						</div>
					</div>
					<div class="send-offer__params">
						<p>Дата:</p>

						<label for="data" class="label-date">
							<input type="date" />
						</label>
					</div>

					<div class="send-offer__col2 send-offer-check">
						<label for="add-offer" class="label-checkbox">
							<input type="checkbox" name="beforepay" id="add-offer" />
							<span>догруз</span>
						</label>
					</div>
				</div>
			</div>
			<div class="send-offer__row">
				<div class="send-offer__col1">
					<p><strong>Комментарии:</strong></p>
				</div>
				<div class="send-offer__col2">
					<label class="commtent-textarea">
						<textarea name="" id=""></textarea>
					</label>
					<p>не более 512 символов</p>
				</div>
			</div>
			<div class="send-offer__row">
				<div class="send-offer__col1">
					<p><strong>Контакт:</strong></p>
				</div>

				<div class="send-offer__col2">
					<a class="send-offer__link" href="tel:+998998077353">Fillipov Filip Filipovich</a>
				</div>
			</div>
		</form>
		<button class="modal-close" type="button" data-modal-close="send-offer-ts">
			<span></span>
			<span></span>
		</button>
	</div>
</div>
