<div class="modal-overlay" data-modal="send-offer">
	<div class="modal modal-send-offer">
		<div class="send-offer__header">
			<b>Груз</b>
		</div>
		<div class="send-offer__card">
			<div class="send-offer__row">
				<div class="send-offer__col1">
					<p><strong>Транспорт:</strong></p>
				</div>
				<div class="send-offer__col2">
					<p><strong>закр.</strong></p>
					<p>закр:бок. задн. выгр:бок. задн</p>
				</div>
			</div>
			<div class="send-offer__row">
				<div class="send-offer__col1">
					<p><strong>ТВес,т/ обьем, м3, груз:</strong></p>
				</div>
				<div class="send-offer__col2">
					<p><strong>21,5/82 отд.машина</strong></p>
					<p>Стройматериалы</p>
				</div>
			</div>
			<div class="send-offer__row">
				<div class="send-offer__col1">
					<p><strong>Маршрут:</strong></p>
				</div>
				<div class="send-offer__col2">
					<p><strong>RUS - UZB</strong></p>
					<p>Иваново - Чирчик</p>
				</div>
			</div>

			<div class="send-offer__row">
				<div class="send-offer__col1">
					<p><strong>Ставка:</strong></p>
				</div>
				<div class="send-offer__col2">
					<p>3000 доллар без НДС (0,9 доллар/км)</p>
					<p>через 5 б/д</p>
				</div>
			</div>

			<div class="send-offer__row">
				<div class="send-offer__col">
					<p><strong>Ставка:</strong></p>
				</div>
				<div class="send-offer__col">
					<p><strong>Дополнительно</strong></p>
				</div>
				<div class="send-offer__col">
					<p><strong>Добавлено</strong></p>
				</div>
			</div>

			<div class="send-offer__row">
				<div class="send-offer__col">
					<p>3000 доллар б/нал без НДС</p>
				</div>
				<div class="send-offer__col">
					<p>14.01.2025 11:02</p>
				</div>
			</div>

			<div class="send-offer__row">
				<div class="send-offer__col">
					<p>3000 доллар б/нал без НДС</p>
				</div>
				<div class="send-offer__col">
					<p>13.01.2025 19:18</p>
				</div>
			</div>
		</div>

		<div class="send-offer__header">
			<b>Ваше предложение</b>
		</div>
		<form action="#" method="post">
			<div class="send-offer__card">
				<div class="send-offer__row">
					<div class="send-offer__col1">
						<p><strong>Ставка:</strong></p>
					</div>
					<div class="send-offer__col2 send-offer__flex">
						<label for="">
							<select name="" id="">
								<option value="" hidden>3000 доллар б/нал без НДС</option>
								<option value="">3000 доллар б/нал c НДС</option>
								<option value="">3000 доллар на счет/option></option>
							</select>
						</label>
						<p>Ставка фиксирована и не предпологает торга</p>
					</div>
				</div>

				<div class="send-offer__row">
					<div class="send-offer__col1">
						<p><strong>Дополнительно:</strong></p>
					</div>
					<div class="send-offer__col2 send-offer__flex">
						<label for="beforepay" class="label-checkbox">
							<input type="checkbox" name="beforepay" id="beforepay" />
							<span>Предоплата</span>
						</label>
						<label for="percent">
							<input type="number" name="percent" id="percent" />
							<span>%</span>
						</label>
						<label for="onload" class="label-checkbox">
							<input type="checkbox" name="onload" id="onload" />
							<span>На выгрузке</span>
						</label>
						<label for="throw" class="label-checkbox">
							<input type="checkbox" name="throw" id="throw" />
							<span>Через</span>
						</label>
						<label for="bank">
							<input type="number" name="bank" id="bank" />
							<span>банк дней</span>
						</label>
					</div>
				</div>

				<div class="send-offer__row">
					<div class="send-offer__col1">
						<p><strong>Комментарии:</strong></p>
					</div>
					<div class="send-offer__col2">
						<label class="commtent-textarea">
							<textarea name="" id=""></textarea>
						</label>
						<p>не более 512 символов</p>
					</div>
				</div>

				<div class="send-offer__row">
					<div class="send-offer__col1">
						<p><strong>Дата:</strong></p>
					</div>
					<div class="send-offer__col2">
						<label for="data" class="label-date">
							<input type="date" />
						</label>
					</div>
				</div>

				<div class="send-offer__row">
					<div class="send-offer__col1">
						<p><strong>Контакт:</strong></p>
					</div>

					<div class="send-offer__col2">
						<a class="send-offer__link" href="tel:+998998077353">Fillipov Filip Filipovich</a>
					</div>
				</div>
			</div>

			<div class="send-offer__bottom">
				<div class="send-offer__buttons">
					<button class="form-btn">Сохранить</button>
					<button class="form-btn-gray" data-modal-close="send-offer">Закрыть</button>
				</div>
			</div>

			<div class="send-offer__rules">
				<p><strong>Правила:</strong></p>
				<ul>
					<li>Отзывы могут только платные участники </li>
					<li>Встречные предложения видны всем участникам системы.</li>
					<li>При  редактировании заявки автором все встречные предложения автоматически удаляются.</li>
				</ul>
			</div>
		</form>
		<button class="modal-close" type="button" data-modal-close="send-offer">
			<span></span>
			<span></span>
		</button>
	</div>
</div>
