<div class="modal-overlay" data-modal="modal-take-load">
	<div class="modal modal-create-order">
		<b>Вы взяли груз #aze2478</b>
		<p>Предложение на перевозку отправлено заказчику. Вы получите уведомление о его решении.</p>

		<form action="" method="post">
			<p>Груз</p>
			<div class="create-order-card">
				<svg width="24" height="18">
					<use xlink:href="#create1"></use>
				</svg>
				<div class="create-order-card__info">
					<p>
						<span>#aze2478</span>
					</p>
					<p>
						<strong>100 000</strong>
						с НДС, торг
					</p>
					<div class="take-load__road">
						<p>
							<strong>714 км</strong>
							(RUS)
						</p>
						<div class="road">
							<svg width="18" height="14">
								<use xlink:href="#dark-car"></use>
							</svg>
							Санкт-Петербург

							<svg width="8" height="10" class="arrow-road">
								<use xlink:href="#arrow-right"></use>
							</svg>

							<svg width="18" height="14">
								<use xlink:href="#blue-car"></use>
							</svg>
							Улан-удЭ
						</div>
					</div>
					<p>10/10 Автомашины <strong>готов 31 авг</strong></p>
					<p>отд.машина</p>
					<p>
						<a href="#">ТЭК</span>
						<svg width="9" height="9">
							<use xlink:href="#create1-1"></use>
						</svg>
					</p>
					<a href="tel:+790000000">Татьяна, +7(900)0000000</span>
				</div>
			</div>
			<p>Водитель</p>
			<div class="cretae-order-row">
				<p>
					<svg width="24" height="18">
						<use xlink:href="#human"></use>
					</svg>
					<strong>Укажу данные позже</strong>
				</p>

				<p>Груз №AZE2739</p>
			</div>
			<p>ТС</p>
			<div class="cretae-order-row">
				<p>
					<svg width="24" height="18">
						<use xlink:href="#create3"></use>
					</svg>
					<strong>Укажу данные позже</strong>
				</p>

				<p>Груз №AZE2739</p>
			</div>

			<p>Реквизиты</p>
			<div class="create-order-card">
				<svg width="24" height="18">
					<use xlink:href="#rek"></use>
				</svg>
				<div class="create-order-card__info">
					<p>
						<strong>Леонов АВ, СЗ</strong>
					</p>
					<p><span>ИНН</span>00 000 00000 00 00</p>
					<a href="#">Показать полностью</a>
				</div>
				<a href="#">Проверить</a>
			</div>

			<div class="create-order-buttons take-load-buttons">
				<button type="button" class="form-btn" data-modal-close="modal-take-load">Закрыть</button>
				<button type="button" class="take-load-cansel" data-modal-close="modal-take-load">Отозвать предложение</button>
				<button type="button" class="take-load-cansel" data-modal-close="modal-take-load">Изменить предложение</button>
			</div>
		</form>

		<button class="modal-close" type="button" data-modal-close="modal-take-load">
			<span></span>
			<span></span>
		</button>
	</div>
</div>
