<section class="main-head">

	<div class="main-head__desc main-head__desc-inner">

		<div class="navigations">
			<a href="./index.html">Главная</a>/<a href="./catalog.html">Каталог участников</a>/<a class="active"
				href="./catalog-inner.html">О компании участников</a>
		</div>


		<div class="main__inner-cards">
			<div class="main__inner-card">
				<div class="main-inner-card__title">Elite</div>
				<div class="main-inner-card__desc">12-дек-2027</div>
			</div>
			<div class="main__inner-card">
				<div class="main-inner-card__title number">67778</div>
				<div class="main-inner-card__desc">Номер ID</div>
			</div>
		</div>
		<div class="main__inner-image">
			<picture>
				<source srcset="./images/catalog-logo.avif" />
				<img src="./images/catalog-log/jpg" alt="логотип участника" width="267" height="62" />
			</picture>
		</div>

		<h1><span class="count">15</span>Vantage Logistics Corporation</h1>

		<div class="catalog-card__tags">
			<span>FCL</span>
			<span>Air Freight</span>
			<span>Customs Clearance</span>
			<span>Express</span>
		</div>

		<a class="catalog-inner__link" href="./contacts.html">связаться</a>
	</div>



	<div class="main-head__img main-head__img-inner">
		<picture>
			<source srcset="./images/main-head-2.avif" />
			<img srcset="./images/main-head-2.png" width="750" height="736" />
		</picture>
	</div>

</section>
