<section class="catalog-profile">
	<div class="catalog-profile__info">
		<h3>Профиль компании</h3>
		<b>
			With 17 years of international transportation experience and 200+ employees to provide wide range of freight
			and logistics services, we have certificate ISO 9001:2015 FIATA IATA FMC OTI-NVOCC Bond and Customs Agents
			License, service we provide:
		</b>
		<p>Heavy Projects is very specialized activity</p>
		<p>Sea freight: FMC registered #023190</p>
		<p>Air Freight: IATA, HAWB</p>
		<p>Ship/NVOCC Agencies: Break bulk vessel agency service; Tanker service</p>
		<p>Customs Brokerage Services</p>
		<p>Warehouse & Distribution</p>
		<p>E-Commerce Logistics</p>
		<p>Personnel relocation logistics</p>
		<p>Insurance</p>
		<p>Import/export license</p>
		<p>Event and exhibition services</p>
		<p>Duty and VAT payment on clients’ behalf</p>
		<p>Container supplying</p>
		<p>Consulate service</p>
		<p>Certificate of Origin (C/O)</p>
	</div>
	<div class="catalog-profile__image">
		<picture>
			<source srcset="./images/catalog-info.avif">
			<img src="./images/catalog-info.jpg" alt="информация о компании" width="846" height="594">
		</picture>
	</div>
</section>
