<section class="main-head__inner main-head">
	<div class="main-inner__wrapper">
		<div class="navigations">
			<a href="/index.html">Главная</a>/<a href="/catalog.html">Каталог участников</a>/<a class="active"
				href="/catalog-inner.html">О компании участников</a>
		</div>

		<div class="main-inner__info">
			<div class="main__inner-cards">
				<div class="main__inner-card">
					<div class="main-inner-card__title">Elite</div>
					<div class="main-inner-card__desc">12-дек-2027</div>
				</div>
				<div class="main__inner-card">
					<div class="main-inner-card__title number">67778</div>
					<div class="main-inner-card__desc">Номер ID</div>
				</div>
			</div>
			<div class="main__inner-image">
				<picture>
					<source srcset="./images/catalog-logo.avif" />
					<img src="./images/catalog-log/jpg" alt="логотип участника" width="267" height="62" />
				</picture>
			</div>

			<h1><span class="count">15</span>Vantage Logistics Corporation</h1>

			<div class="catalog-card__tags">
				<span>FCL</span>
				<span>Air Freight</span>
				<span>Customs Clearance</span>
				<span>Express</span>
			</div>

			<a class="catalog-inner__link" href="/contacts.html">связаться</a>
		</div>
	</div>

	<div class="catalog__image-bg">
		<picture>
			<source srcset="/images/catalog.jpg" />
			<img src="/images/catalog.jpg" alt="логистическая компания" width="1920" height="750" />
		</picture>
	</div>
</section>
