.goods-empty {
	left: 35%;
	top: 65%;
}

.goods-head {
	& a svg {
		stroke: var(--color-text-primary);
	}
}

.add-goods__head {
	display: flex;
	align-items: center;
	gap: var(--offset);
	width: 100%;

	& b {
		font-weight: 600;
		font-size: calc(var(--fz) * 1.1);
		line-height: 258%;
		letter-spacing: -0.06em;
		color: #0b1117;
	}

	& button {
		font-weight: 600;
		font-size: calc(var(--fz) * 0.8);
		letter-spacing: -0.04em;
		color: #787b83;
		padding: 0.5em 1em;
		border-radius: 2em;
		border: 0.1em solid #787b83;
		transition-duration: 0.5s;
		transition-property: color, border;

		&:hover,
		&:focus {
			color: var(--color-text-secondary);
			border: 0.1em solid var(--color-text-secondary);
		}
	}
}

.add-goods__buttons {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin: 0 auto;
	width: fit-content;
}

.add-goods__main {
	display: grid;
	grid-template-columns: 75% 25%;
	gap: var(--offset);
}

.add-goods__right {
	border-radius: 1em;
	background-color: var(--color-text-primary);
	padding: var(--offset);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1em;
	max-height: max-content;
	position: sticky;
	top: var(--offset);
}

.side-bar__goods {
	display: flex;
	align-items: flex-start;
	gap: 1em;

	& span {
		width: var(--offset);
		height: var(--offset);
		border-radius: 50%;
		border: 0.1em solid #c8c8c8;
		display: flex;
		align-items: center;
		justify-content: center;

		& svg {
			width: calc(var(--offset) * 0.5);
			height: calc(var(--offset) * 0.5);
			fill: #c8c8c8;
		}
	}
}

.side-bar__goods-info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 0.2em;

	& b {
		font-weight: 600;
		font-size: calc(var(--fz) * 0.8);
		color: #191919;
	}

	& p {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.7);
		color: #c8c8c8;

		& strong {
			font-weight: 400;
			font-size: calc(var(--fz) * 0.7);
			color: #191919;
		}
	}
}

.side-bar__goods.active {
	& span {
		background-color: #64b82a;
	}

	& svg {
		fill: var(--color-text-primary);
	}
}

.add-goods__btn {
	font-weight: 600;
	font-size: calc(var(--fz) * 0.8);
	letter-spacing: -0.04em;
	color: #787b83;
	padding: 0.7em 1em;
	border: 0.1em solid #787b83;
	border-radius: 2em;
	transition-duration: 0.5s;
	transition-property: color, border;

	&:hover,
	&:focus {
		color: var(--color-text-secondary);
		border: 0.1em solid var(--color-text-secondary);
	}
}

.add-goods__link {
	font-weight: 600;
	font-size: calc(var(--fz) * 0.8);
	letter-spacing: -0.04em;
	color: #787b83;
	transition-duration: 0.5s;
	transition-property: color;

	&:hover,
	&:focus {
		color: var(--color-text-secondary);
	}
}

.add-gods__left {
	padding: var(--offset);
	padding-top: 0;
	background-color: var(--color-text-primary);
	border-radius: 1em;
}

.add-goods__inputs {
	display: flex;
	gap: 0.5em;
	padding: calc(var(--offset) * 0.8) 0;
	border-bottom: 0.1em solid #c8c8c8;

	& b {
		font-weight: 600;
		font-size: calc(var(--fz) * 0.8);
		color: #191919;
		width: calc(var(--offset) * 5);
	}

	& label {
		position: relative;
	}

	& .drivers-tags {
		margin: 0;
	}
}

.add-input {
	padding: 0.5em 1em !important;
	border: 0.1em solid #c8c8c8;
	border-radius: 2em;
	color: #191919;
	padding-right: 2em !important;
	font-size: calc(var(--fz) * 0.8);

	&::placeholder {
		color: #c8c8c8;
	}
}

.input-search {
	background-image: url(../images/svg/search-icon-add.svg);
	background-position: 95%;
	background-size: 1em;
	background-repeat: no-repeat;
}

.input-small {
	max-width: calc(var(--offset) * 3);
	padding-right: 1em !important;
}

.input-select {
	background-color: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: inherit;
	padding-right: 2em !important;
	background-image: url(../images/svg/select.svg) !important;
	background-position: 90%;
	background-size: 1em;
	background-repeat: no-repeat;
}

.add-goods__inputs__row {
	display: flex;
	gap: 1em;
	align-items: center;
	position: relative;
	margin-bottom: 0.5em;
	color: #191919;
	font-size: calc(var(--fz) * 0.8);
	font-weight: 500;

	& span {
		font-weight: 400;
		font-size: calc(var(--fz) * 0.7);
		color: #c8c8c8;
		max-width: calc(var(--offset) * 6);
	}
}

.input-value {
	padding-right: 2em !important;
	max-width: calc(var(--offset) * 4);
}

.label-value {
	position: relative;

	& span {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0.8em;
		font-weight: 500;
		font-size: calc(var(--fz) * 0.7);
		text-transform: lowercase;
		color: #191919;
	}
}

.label-big {
	padding-right: 2em !important;
	background-position: 95%;
}

.input-date {
	cursor: pointer;
	position: relative;
	padding-right: 1em !important;
	padding-left: 2em !important;
	background-image: url(../images/svg/calendar.svg);
	background-position: 7%;
	background-size: 1em;
	background-repeat: no-repeat;
}

.input-date input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.add-goods__inputs__row {
	& svg {
		width: var(--offset);
		height: var(--offset);
	}
}

.no-border {
	border: none;
}

.row-text {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin-left: calc(var(--offset) * 5.5);

	& b {
		font-weight: 600;
		font-size: calc(var(--fz) * 0.8);
		color: #191919;
		width: calc(var(--offset) * 5);
		width: fit-content;
	}

	& button {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.6);
		color: #787b83;

		&:hover {
			color: #0b1117;
		}
	}
}

.add-goods__wrapper {
	position: relative;

	&:after {
		content: "";
		width: 0.1em;
		display: block;
		height: 80%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 10%;
		background-color: #c8c8c8;
	}
}

.add-inputs-cards {
	margin-top: 1em;
	display: flex;
	align-items: stretch;
	gap: 1em;
	justify-content: space-between;
	margin-bottom: 1em;
}

.add-inputs-card {
	max-width: calc(var(--offset) * 12);
	width: 100%;
	background-position: 85% 25%;

	& b {
		font-weight: 600;
		font-size: calc(var(--fz) * 0.8);
		color: #191919;
		margin-bottom: 1em;
		display: block;
	}
}

.add-inputs-card__wrapp {
	border-radius: 0.5em;
	border: 0.1em solid #c8c8c8;

	max-height: calc(var(--offset) * 6);
	overflow-y: auto;
}

.add-inputs-card__wrapp::-webkit-scrollbar {
	width: calc(var(--offset) * 0.5) !important;
	display: block;
}

.add-inputs-card__wrapp::-webkit-scrollbar-thumb {
	background-color: #d9d9d9;
	border-radius: 0.3em;
}

.add-inputs-card__wrapp::-webkit-scrollbar-thumb:hover {
	background-color: rgb(217, 217, 217), 0.5;
}

.add-inputs-card__wrapp::-webkit-scrollbar-track {
	background: #949ba3;
	border-radius: 0.3em;
}

.add-inputs-card_block {
	padding: 1em;
	padding-left: 2em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	position: relative;
	padding: 1em;

	&.border {
		&::after {
			content: "";
			display: block;
			height: 60%;
			width: 0.1em;
			background-color: #c8c8c8;
			position: absolute;
			left: 6.5%;
			top: 22%;
		}
	}

	& label {
		font-weight: 400;
		font-size: calc(var(--fz) * 0.6);
		color: #191919;
		cursor: pointer;
		position: relative;
		width: fit-content;
		display: flex;
		align-items: center;

		& input {
			margin-right: 0.5em;
		}

		& span {
			width: 1.1em;
			height: 2px;
			background-color: #c8c8c8;
		}
	}
}

.add-input-general {
	margin-left: -0.5em;

	&::before {
		display: none !important;
	}
}

.add-goods-more__row {
	display: flex;
	align-items: flex-start;
	gap: 1em;
	margin-bottom: 1em;

	& p {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.7);
		color: #191919;
		width: calc(var(--offset) * 6);
	}

	& .drivers-tags {
		margin-left: 0;
	}
}

.add-goods_radios {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.add-goods_radios label {
	display: flex;
	align-items: center;
	position: relative;
	font-weight: 400;
	font-size: calc(var(--fz) * 0.6);
	color: #191919;
	cursor: pointer;
	padding-left: 2em;
}

.add-goods_radios label::before {
	content: "";
	width: 1em;
	height: 1em;
	border: 0.1em solid #c8c8c8;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.add-goods_radios input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.add-goods_radios input:checked+span::before {
	content: "";
	width: 1em;
	height: 1em;
	border-radius: 50%;
	border: 0.35em solid #c8c8c8;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.add-goods-choise {
	max-width: 50%;

	& label {
		padding: 0.5em;
	}
}

.add-gods__left {
	& p {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.7);
		color: #191919;
	}
}

.add-goods__bid {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 0.1em solid #c8c8c8;

	&-row {
		display: flex;
		align-items: center;
		gap: var(--offset);

		& p {
			width: calc(var(--offset) * 6);
		}

		& input {
			padding: 0.5em 1em;
			border: 0.1em solid #c8c8c8;
			border-radius: 2em;
			font-weight: 500;
			font-size: calc(var(--fz) * 0.7);
			color: #191919;
			max-width: calc(var(--offset) * 4);
		}

		& select {
			padding: 0.5em 1em;
			border: 0.1em solid #c8c8c8;
			border-radius: 2em;
			font-weight: 500;
			font-size: calc(var(--fz) * 0.7);
			color: #191919;
			max-width: calc(var(--offset) * 4);
		}
	}
}

.add-goods__bid-inputs {
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	& label {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.6);
		color: #191919;
		cursor: pointer;
	}
}

.add-goods-more__payment {
	display: flex;
	align-items: flex-start;
	gap: 0.5em;

	& input {
		padding: 0.5em 1em;
		border: 0.1em solid #c8c8c8;
		border-radius: 2em;
		font-weight: 500;
		font-size: calc(var(--fz) * 0.7);
		color: #191919;
		max-width: calc(var(--offset) * 4);
	}
}

.add-goods__days {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin-top: 0.5em;

	& button {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.6);
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: #787b83;

		&:hover {
			color: #0b1117;
		}
	}
}

.add-goods__contacts {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 0.1em solid #c8c8c8;
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 0.1em solid #c8c8c8;
}

.add-goods__contact {
	display: flex;
	flex-direction: column;
	position: relative;

	& p {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.7);
		width: 100%;
		color: #191919;
		margin-bottom: 0.5em;
	}
}

.add-goods__contact-inputs {
	display: flex;
	padding: 0.5em 1em;
	align-items: center;
	gap: 1em;
	background-color: #f1ffe8;

	& label {
		min-width: fit-content;
	}

	& input {
		border: none;
		font-weight: 600;
		font-size: calc(var(--fz) * 0.7);
		letter-spacing: -0.04em;
		color: #c8c8c8;
		background-color: inherit;
		max-width: calc(var(--offset) * 8);
	}

	& .fullname {
		color: #191919;

		&::placeholder {
			color: #191919;
		}
	}
}

.add-goods__cansel {
	position: absolute;
	top: 45%;
	right: -10%;
	width: var(--offset);
	height: var(--offset);
}

.add-goods__cansel span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: center center;
	width: 100%;
	border-radius: 1em;
	height: calc(var(--offset) * 0.1);
	background-color: #0b1117;
	display: block;

	&:nth-of-type(1) {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&:nth-of-type(2) {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

.add-goods-more__row {
	& textarea {
		width: calc(var(--offset) * 18.5);
		font-weight: 600;
		font-size: calc(var(--fz) * 0.7);
		letter-spacing: -0.04em;
		color: #0b1117;
		border: 0.1em solid #c8c8c8;
		background-color: inherit;
		border-radius: 0.5em;
	}
}

.add-goods__textinfo {
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	& span {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.6);
		color: #c8c8c8;
		display: block;
		width: fit-content;
	}
}

.add-goods__bottom-radios {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding-left: 3em;
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 0.1em solid #c8c8c8;

	& label {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.7);
		color: #191919;
		position: relative;
		cursor: pointer;

		&::after {
			content: "";
			display: block;
			width: 3em;
			height: 1.5em;
			border-radius: 1em;
			border: 0.1em solid #c8c8c8;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -5%;
		}

		&::before {
			content: "";
			display: block;
			width: 1.2em;
			height: 1.2em;
			border-radius: 50%;
			background-color: #c8c8c8;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -3.6em;
			transition: all, 0.5s;
		}
	}

	& input {
		position: absolute;
		width: 0;
		height: 0;
		z-index: -1;
		opacity: 0;

		&:checked+label::before {
			left: -2.2em;
		}
	}
}

.add-goods__bottom {
	display: flex;
	align-items: center;
	gap: 1em;

	& svg {
		width: var(--offset);
		height: var(--offset);
	}
}

.add-goods {

	& input,
	textarea,
	select {
		padding: 0.5em 1em;
		border: 0.1em solid #c8c8c8;
		border-radius: 2em;
		font-weight: 500;
		font-size: calc(var(--fz) * 0.7);
		color: #191919;
	}
}

.add-goods__footer {
	margin-top: var(--offset);

	& .add-goods__buttons {
		margin: 0;
	}
}

.form-order_row {
	display: flex;
	gap: 1em;
	align-items: center;
	width: 100%;

	& label {
		max-width: calc(var(--offset) * 9) !important;

		& input,
		select {

			font-size: calc(var(--fz) * 0.8);
		}
	}

	& .form-btn {
		margin-left: auto;
	}
}

.form-order-goods {
	flex-direction: column;
	width: 100%;
}

.check-offer {
	position: relative;
	padding-left: 2em;
	display: flex;
	align-items: center;
	cursor: pointer;
	font-size: calc(var(--fz) * 0.7);
	font-weight: 500;
	color: #c8c8c8;
	width: 100%;

	&::after {
		content: '';
		display: block;
		width: 1em;
		height: 1em;
		border: 0.1em solid #c8c8c8;
		border-radius: 3px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&::before {
		content: '';
		display: none;
		width: 1em;
		height: 1em;
		background-color: var(--color-text-secondary);
		background-image: url(../images/svg/check-white.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 0.6em;
		position: absolute;
		left: 0;
		z-index: 1;
		top: 50%;
		transform: translateY(-50%);
	}

	& input {
		width: 0;
		opacity: 0;
		height: 0;
		position: absolute;
		z-index: -1;
	}

}


.check-offer:has(input:checked)::before {
	display: block;
}

.form-order__counts {
	display: flex;
	align-items: center;
	gap: 1em;
	width: 100%;
}

.form-order__counts {

	font-size: calc(var(--fz) * 0.8);
	color: #0b1117;

	& .label-small {
		width: calc(var(--offset) * 5) !important;


		display: flex;
		justify-content: end;
		align-items: center;
		gap: 1em;
		position: relative;

		& input {
			padding: 0.5em 1em;

		}

		& span {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 10%;
			color: #0b1117;
		}
	}

}

.order-info-col a {
	text-decoration: underline;
}

.delete__btn-goods {
	& svg {
		fill: none;
		stroke: #0b1117;
	}
}

.docs-goods {
	max-width: calc(var(--offset) * 8);
	width: 100%;
	display: grid;
	grid-template-columns: 90% 10%;
	align-items: center;
	gap: 0.5em;
	position: relative;

	& span {
		position: absolute;
		bottom: 100%;
		right: 0;
		padding: 1em;
		background-color: #f8f2f2;
		color: #0b1117;
		border-radius: 0.5em;
		opacity: 0;
		z-index: 0;
	}

	& svg {
		width: 1.1em !important;
		height: 1.1em !important;
		cursor: pointer;
		position: relative;

		&:hover+span {
			opacity: 1;
			z-index: 1;
		}
	}
}

.order-goods-info {
	display: flex;
	align-items: center;

	& .form-btn {
		margin: 0;
	}
}
