.header-search {
	align-items: center;

	& .profile-notifications {
		margin-left: auto;
	}
}

.title {
	font-weight: 600;
	font-size: calc(var(--fz) * 1.6);
	line-height: 1.2;
	color: rgb(11, 17, 23);
	margin-bottom: var(--offset);
}

.search-page {
	background-color: #f5f5f5;
	padding: calc(var(--offset) * 2) calc(var(--offset-s));
	min-height: 95vh;
	margin-bottom: calc(var(--offset) * 2);
}

.form-search-row {
	display: flex;
	align-items: center;
	gap: 1em;
	margin-bottom: 1em;
	color: #0b1117;
}

.input-check-red {
	position: relative;
	font-weight: 400;
	font-size: calc(var(--fz) * 0.7);
	letter-spacing: -0.04em;
	color: #0b1117;
	cursor: pointer;
	padding-left: 1.5em;

	&::after {
		content: "";
		display: block;
		width: 1em;
		height: 1em;
		border: 0.1em solid #c8c8c8;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&::before {
		content: "";
		display: none;
		width: 1em;
		height: 1em;
		background-color: var(--color-text-secondary);
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background-image: url(../images/svg/check-white.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 0.8em;
		z-index: 1;
	}

	& input {
		position: absolute;
		z-index: -1;
		width: 0;
		height: 0;
		opacity: 0;
	}
}

.input-check-red:has(input:checked)::before {
	display: block;
}

.form-search-inputs {
	display: grid;
	align-items: flex-end;
	grid-template-columns: 80% 20%;

	& label {
		display: flex;
		flex-direction: column;
		gap: 0.5em;

		& span {
			font-weight: 600;
			font-size: calc(var(--fz) * 0.8);
			color: #191919;
		}
	}
}

.input-form {
	padding: calc(var(--fz) * 0.5) var(--offset) !important;
	font-weight: 400;
	font-size: calc(var(--fz) * 0.8);
	letter-spacing: -0.04em;
	color: #c8c8c8;
	border: 0.1em solid #c8c8c8;
}

.form-search-inputs label:nth-of-type(1) input {
	border-top-left-radius: 2em;
	border-bottom-left-radius: 2em;
}

.form-search-inputs label:nth-of-type(2) input {
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
}

.form-search-inputs-wrapper {
	max-width: calc(var(--offset) * 20);
}

.form-search-inputs__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0.5em;

	& select {
		border: none;
		background: none;
		font-size: calc(var(--fz) * 0.8);
		padding: 0.3em;
		cursor: pointer;
	}
}

.form-search-head {
	display: flex;
	align-items: flex-start;
	margin-bottom: 1em;
	gap: 1em;

	@media (max-width: 1180px) {
		flex-wrap: wrap;
	}

	& svg {
		width: var(--offset);
		height: var(--offset);
		margin-left: 0.2em;
		margin-right: 0.2em;
		margin-top: 1.9em;

		@media (max-width: 680px) {
			display: none;
		}
	}
}

.form-search-inputs-small {
	margin-left: var(--offset);
	display: grid;
	grid-template-columns: 50% 50%;

	& label {
		max-width: calc(var(--offset) * 4);
		width: 100%;
	}
}

.form-search-selects {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	margin-bottom: 1em;

	& label {
		@media (max-width: 480px) {
			width: 100%;
		}
	}

	& select {
		cursor: pointer;
		background-color: #ebedf2;
		border-radius: 0.3em;
		border: none;
		min-width: calc(var(--offset) * 12);
		padding: var(--offset);
		padding-right: calc(var(--offset) * 2) !important;
		transition-duration: 0.5s;
		transition-property: background-color;

		@media (max-width: 480px) {
			width: 100%;
		}

		&:hover,
		&:focus {
			background-color: var(--color-text-primary);
		}
	}
}

.form-search__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
	margin-bottom: 1em;

	& a {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.7);
		letter-spacing: -0.04em;
		color: #787b83;
		display: flex;
		align-items: center;
		gap: 0.5em;
		transition-duration: 0.5s;
		transition-property: color;

		&:hover,
		&:focus {
			color: var(--color-text-secondary);
		}

		& svg {
			width: calc(var(--offset) * 0.5);
			height: var(--offset);
		}
	}
}

.result-pagination {
	display: flex;
	align-items: center;
	gap: 0.5em;

	& button {

		&:hover svg,
		&:focus svg {
			stroke: var(--color-text-secondary);
		}

		& svg {
			fill: none;
			width: calc(var(--offset) * 0.7);
			height: calc(var(--offset) * 0.7);
			stroke: #787b83;
		}
	}

	& a {
		font-weight: 500;
		font-size: 14px;
		letter-spacing: -0.04em;
		color: #787b83;
		padding: 0.2em 0.8em;

		&:hover {
			color: var(--color-text-secondary);
		}

		&.current {
			color: #0b1117;
			border: 0.1em solid #c8c8c8;
		}
	}

	& span {
		font-weight: 500;
		font-size: 14px;
		letter-spacing: -0.04em;
		color: #c8c8c8;
		min-width: calc(var(--offset) * 2);
	}
}

.result-goods__head {
	display: flex;
	align-items: center;
	gap: var(--offset);
	justify-content: space-between;

	@media (max-width: 780px) {
		flex-direction: column;
		margin-bottom: 1em;
		align-items: flex-start;
	}
}

.resilts-goods__cards {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.result-goods__card {
	width: 100%;
	border-collapse: collapse;
	background-color: transparent;

	& thead {
		width: 100%;

		@media (max-width: 999px) {
			display: none;
		}
	}

	& tr {
		width: 100%;

		@media (max-width: 999px) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}


		@media (max-width: 780px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 580px) {
			display: grid;
			grid-template-columns: 1fr;
		}
	}

	& th {
		font-weight: 600;
		font-size: calc(var(--fz) * 0.7);
		text-transform: uppercase;
		color: #787b83;
		text-align: left;
		padding-bottom: 1em;
		padding: 1em;
	}

	& tbody {
		border-radius: 0.5em;
		overflow: hidden;
		padding: 1em;
		width: 100%;
	}

	& tbody td {
		background-color: transparent;
		padding: 1em;
		text-align: start;
		vertical-align: top;
		font-weight: 500;
		font-size: calc(var(--fz) * 0.8);
		background-color: transparent;
		color: #787b83;
		line-height: 1.5;


		& strong {
			font-weight: 600;
			color: #191919;
		}

		& span {
			font-weight: 600;
		}
	}
}

.label-table {
	position: relative;
	cursor: pointer;
	user-select: none;

	& input {
		opacity: 0;
		z-index: -1;
		position: absolute;
		width: 0;
		height: 0;
	}

	&::after {
		content: "";
		display: block;
		width: 1em;
		height: 1em;
		border: 0.1em solid #c8c8c8;
		background-color: var(--color-text-primary);
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	&::before {
		content: "";
		display: none;
		width: 1em;
		height: 1em;
		background-color: var(--color-text-secondary);
		background-image: url(../images/svg/check-white.svg);
		background-position: center;
		background-size: 0.7em;
		background-repeat: no-repeat;
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	& span {
		font-weight: 600;
		font-size: calc(var(--fz) * 0.7);
		text-transform: uppercase;
		color: #787b83;
		padding-left: 1.5em;
	}
}

.label-table:has(input:checked)::before {
	display: block;
}

.table-footer__buttons {
	text-align: right;
	margin-left: auto;
	display: flex;
	gap: 0.5em;
	justify-content: flex-end;
}

.table-footer {
	& th {
		padding: 1em;

		&>button {
			font-weight: 600;
			font-size: calc(var(--fz) * 0.7);
			letter-spacing: -0.04em;
			color: #787b83;
			padding: 0.5em 1em;
			border-radius: 2em;
			border: 0.1em solid #c8c8c8;
			transition-duration: 0.5s;
			transition-property: color, border;

			&:hover,
			&:focus {
				color: var(--color-text-secondary);
				border: 0.1em solid var(--color-text-secondary);
			}
		}

		& p {
			font-weight: 500;
			font-size: calc(var(--fz) * 0.6);
			text-transform: uppercase;
			color: #787b83;
		}
	}
}

.color-greed-table {
	color: #6cbd61;
}

.result-goods__card tbody:nth-of-type(odd) {
	background-color: #ebedf2;
}

.result-goods__card tbody:nth-of-type(even) {
	background-color: white;
}

.info-goods {
	background-color: #c8c8c8;
	position: relative;

	&:hover::after {
		display: block;
	}

	&::after {
		content: "Подробнее";
		display: none;
		border-radius: 0.3em;
		padding: 0.5em;
		font-size: calc(var(--fz) * 0.5);
		position: absolute;
		background-color: var(--color-text-primary);
		top: 0;
		text-align: center;
		left: 50%;
		transform: translate(-50%, -120%);
		min-width: calc(var(--offset) * 4);
		box-shadow: 0 0 0.2em 0.1em #c8c8c8;
	}
}

.row-flex {
	display: flex;
	align-items: center;
	gap: 1em;
}

.show-info-contacts {
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	& p {
		font-weight: 700 !important;
		color: #0b1117 !important;

		& a {
			color: #7c7575;
		}
	}

	opacity: 0;
	visibility: hidden;
	height: 0;
	width: 0;
}

.show-info-contacts.show {
	opacity: 1;
	visibility: visible;
	height: auto;
	width: auto;
}

.show-contacts_btn.hidden {
	opacity: 0;
	visibility: hidden;
	height: 0;
	width: 0;
	padding: 0;
}

.modal-row {
	display: flex;
	align-items: center;
	gap: 0.5em;

	& .road {
		margin: 0;
	}

	& p {
		margin: 0;
	}
}

.company-image {
	width: calc(var(--offset) * 4.5);
	height: calc(var(--offset) * 4.5);
	overflow: hidden;

	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.company-right-info {
	& b {
		font-weight: 600;
		font-size: calc(var(--fz) * 0.8);
		color: #787b83;
		display: block;
		margin-bottom: 1em;
	}

	& p {
		font-weight: 400;
		font-size: calc(var(--fz) * 0.8);
		color: #191919;
		margin-bottom: 1em;
	}

	& a {
		font-weight: 400;
		font-size: calc(var(--fz) * 0.8);
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: #787b83;
		margin-bottom: 1em;
	}
}

.company-contacts {
	display: flex;
	flex-direction: column;

	& .form-btn {
		margin-top: 2em;
	}

	& a {
		font-weight: 400;
		font-size: calc(var(--fz) * 0.8);
		color: #191919;
		margin-bottom: 1em;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	& .company-link {
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: #787b83;

		&:hover {
			color: var(--color-text-secondary);
		}
	}
}

.search-goods__head {
	& b {
		font-weight: 600;
		font-size: calc(var(--fz) * 1.1);
		letter-spacing: -0.05em;
		color: #141f2a;
		display: block;
		margin-bottom: 0.8em;
	}

	& p {
		font-weight: 400;
		font-size: calc(var(--fz) * 0.8);
		letter-spacing: -0.05em;
		color: #787b83;

		& strong {
			color: #141f2a;
		}
	}
}

.add-goods__main {
	& p {
		font-weight: 400;
		font-size: calc(var(--fz) * 0.8);
		letter-spacing: -0.05em;
		color: #787b83;

		& strong {
			color: #141f2a;
		}
	}
}

.search-goods__left {
	background: inherit;
	padding: 0;
}

.route-goods__card {
	border: 0.1em solid #c8c8c8;
	border-radius: 1em;
	padding: var(--offset);
	display: flex;
	gap: var(--offset);
	align-items: stretch;
	margin: var(--offset) 0 calc(var(--offset) * 1.5);
}

.route-goods__line {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	& svg {
		min-width: var(--offset);
		min-height: var(--offset);
	}

	& span {
		width: 0.1em;
		height: 100%;
		background-color: #c8c8c8;
		display: block;

		&:nth-of-type(2) {
			height: 50%;
		}
	}
}

.route-goods__info {
	& p {
		margin-bottom: 1em;
	}
}

.route-goods__info-bottom {
	margin-top: 2em;
}

.route-goods {
	margin-top: 2em;
}

.goods-map__cards {
	margin: var(--offset) 0;
	display: flex;
	align-items: center;
	gap: calc(var(--offset) * 2);
}

.goods-map__card {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.goods-map {
	position: relative;
	width: 100%;
	min-height: 58vh;
	overflow: hidden;
	border-radius: 1em;

	@media (max-width: 580px) {
		min-height: 38vh;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__wrapper {
		margin-bottom: 2em;
	}
}

.route-goods__bottom {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	margin-bottom: var(--offset);

	& b {
		margin-top: 1em;
	}
}

.route-footer {
	margin-top: 1em;
	background-color: var(--color-text-primary);
	padding: 1em;
	border-radius: 0.5em;
	display: flex;
	align-items: flex-start;
	gap: var(--offset);
	width: 100%;
	justify-content: space-between;

	@media (max-width: 680px) {
		flex-direction: column;
	}

	& .form-btn {
		margin: 0.6em 0;
	}
}

.route-footer-col {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.modal-send-offer {
	width: max(24rem, 70vw);
	padding: 0;
}

.send-offer__header {
	background-color: #ebedf2;
	padding: var(--offset);
}

.send-offer__row {
	display: flex;
	align-items: stretch;
	grid-auto-flow: var(--offset);
	justify-content: space-between;
	border-bottom: 0.1em solid #c8c8c8;

	& label {
		position: relative;
		display: flex;
		align-items: center;
		gap: 0.5em;

		cursor: pointer;
	}

	& input[type="checkbox"] {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		z-index: -1;
	}

	& input[type="number"] {
		max-width: calc(var(--offset));
		height: auto;
		background: none;
		border: 0.1em solid #c8c8c8;
		font-size: calc(var(--fz) * 0.8);
	}
}

.send-offer__col {
	padding: var(--offset);
}

.send-offer__col1 {
	padding: var(--offset);
	flex: 0 0 30%;
	background-color: #ebedf2ae;
}

.send-offer__col2 {
	padding: var(--offset);
	flex: 0 0 70%;
}

.modal-send-offer select {
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.send-offer__flex {
	display: flex;
	gap: 1em;
	flex-direction: row;
}

.label-checkbox {
	padding-left: 1em;

	&:has(input:checked)::before {
		display: block;
	}

	&::after {
		position: absolute;
		width: 0.8em;
		height: 0.8em;
		display: block;
		content: "";
		border: 0.1em solid #c8c8c8;
		left: 0;
		z-index: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&::before {
		position: absolute;
		width: 0.9em;
		height: 0.9em;
		display: none;
		content: "";
		background-color: var(--color-text-secondary);
		background-image: url(../images/svg/check-white.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 0.5em;
		z-index: 1;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.commtent-textarea {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	width: 85%;
	justify-content: space-between;
	margin-bottom: 1em;

	& textarea {
		border: 0.1em solid #c8c8c8;
		padding: 1em;
		width: 100%;
		border-radius: 0.5em;
	}

	& p {
		text-align: left;
	}
}

.label-date {
	background-color: inherit;
	border: none;
	cursor: pointer;

	& input {
		background-color: inherit;
		border: none;
		cursor: pointer;
	}
}

.send-offer__link {
	border: 0.1em solid #c8c8c8;
	padding: 0.5em;
	border-radius: 0.3em;
	color: #c8c8c8 !important;
	font-size: calc(var(--fz) * 0.8);
	width: fit-content;

	&:hover {
		color: #0b1117 !important;
	}
}

.send-offer__bottom {
	padding: 1em;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.send-offer__buttons {
	display: flex;
	align-items: center;
	gap: 1em;

	& .form-btn {
		margin: 0;
	}

	& button {}
}

.form-btn-gray {
	width: 100%;
	text-align: center;
	border: 0.05em solid #c8c8c8;
	border-radius: 2em;
	color: #c8c8c8;
	font-weight: 700;
	font-size: calc(var(--fz) * 0.9);
	padding: calc(var(--offset) * 0.4) calc(var(--offset) * 0.8);
	transition-duration: 0.5s;
	transition-property: border, color;

	&:hover,
	&:focus {
		border: 0.05em solid #0b1117;
		color: #0b1117;
	}
}

.send-offer__rules {
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-bottom: 2em;

	& ul {
		display: flex;
		flex-direction: column;
		gap: 1em;
		padding-left: 2em;

		& li {
			color: #c8c8c8;
			list-style-type: disc;
		}
	}
}

.search-transport__inner-head {
	display: flex;
	gap: 1em;
	align-items: stretch;
}

.search-transport__inner-image {
	width: calc(var(--offset) * 8);
	height: calc(var(--offset) * 8);
	background-color: var(--color-text-primary);
	border-radius: 1em;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;

	& img {
		width: calc(var(--offset) * 3);
		height: calc(var(--offset) * 3.5);
	}
}

.search-transport__inner-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.5em;
	padding: 1em 0;

	& h3 {
		font-weight: 600;
		font-size: var(--fz);
		line-height: 1.2;
		letter-spacing: -0.06em;
		color: #787b83;

		& strong {
			font-weight: 600;
			font-size: calc(var(--fz) * 1.5);
			line-height: 1.2;
			letter-spacing: -0.06em;
			color: #0b1117;
			margin-right: 0.5em;
		}
	}
}

.stars-transport {
	& svg {
		width: calc(var(--offset) * 1.5);
		height: calc(var(--offset) * 1.5);
	}
}

.search-transport__inner-tabs {
	display: flex;
	align-items: center;
	gap: calc(var(--offset) * 2);
	margin: var(--offset) 0;

	border-bottom: 0.1em solid #c8c8c8;

	@media (max-width: 580px) {
		flex-wrap: wrap;
		border: none;
		gap: 1em;
	}
}

.search-tab__btn {
	padding: var(--offset) 0;
	transition-duration: 0.5s;
	transition-property: color;

	&:hover {
		color: #c8c8c8;
	}

	&.show {
		border-bottom: 0.1em solid #0b1117;
	}
}

.search-tab-container {
	background-color: var(--color-text-primary);
	border-radius: 1em;
	padding: 1em;
	position: relative;
	min-height: 50vh;
}

.search-tab {
	display: none;
	flex-direction: column;
	gap: 1em;

	&.show {
		display: flex;
	}
}

.search-tab-container {
	padding: 2em 1em;

	& b {
		font-weight: 500;
		font-size: calc(var(--fz) * 1.5);
		line-height: 1.2;
		margin-bottom: 1em;
		letter-spacing: -0.06em;
		color: #0b1117;

		@media (max-width: 580px) {
			margin-bottom: 0.5em;
		}
	}

	& p {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.8);
		line-height: 1.2;
		letter-spacing: -0.06em;
		color: #787b83;

		& strong {
			color: #0b1117;
		}
	}
}

.search-tab__row {
	display: grid;
	grid-template-columns: 15% 85%;

	@media (max-width: 999px) {
		grid-template-columns: 25% 75%;
	}


	@media (max-width: 680px) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5em;
	}
}

.search-tab__send {
	margin: 0;
	margin-left: auto;
}

.send-offer-select {
	width: 100%;

	& select {
		width: 100%;
		padding: 0.5em;
		box-shadow: 0 0 0 0.1em #c8c8c8;
		border-radius: 0.5em;
		background-position: 98%;
	}
}

.send-offer__bland-row {
	display: grid;
	grid-template-columns: 50% 25%;
	gap: 1em;
	margin-bottom: 0.5em;

	& input {
		width: 100%;
		border: 0.1em solid #c8c8c8;
		padding: 0.2em;
		border-radius: 0.3em;
		background-color: inherit;
	}

	& select {
		width: 100%;
		border: 0.1em solid #c8c8c8;
		border-radius: 0.3em;
		padding: 0.1em;
		max-width: calc(var(--offset) * 4);
	}
}

.send-offer__params {
	display: grid;
	grid-template-columns: 40% 40%;
	margin-bottom: 0.5em;

	& input {
		width: 100%;
		border: 0.1em solid #c8c8c8;
		padding: 0.2em;
		border-radius: 0.3em;
		background-color: inherit;
	}
}

.send-offer__params-numbers {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1em;
}

.send-offer__params {
	& select {
		box-shadow: 0 0 0 0.05em #c8c8c8;
		border-radius: 0.3em;
	}
}

.send-offer-checkbox {
	&::before {
		content: "";
		display: none;
		width: 1em;
		height: 1em;
		background-color: var(--color-text-secondary);
		background-image: url(../images/svg/check-white.svg);
		background-position: center;
		background-size: 0.6em;
		background-repeat: no-repeat;
	}
}

.send-offer-check {
	padding: 0;
}

.add-data-wrapper {
	margin-top: 2em;
	max-width: 40%;
	display: flex;
	flex-direction: column;
	gap: 0.5em;

	& h3 {
		margin-bottom: 1em;
	}
}

.search-city {
	width: 100%;
	margin-bottom: 1em;

	& input {
		width: 100%;
		display: flex;
		flex-direction: column;
		border: 0.1em solid #c8c8c8;
		border-radius: 2em;
		padding: 0.5em;
	}

	span {
		color: red;
		font-size: calc(var(--fz) * 0.7);
	}
}

.add-data-wrapper {
	& p {
		font-size: calc(var(--fz) * 0.7);
	}

	& select {
		border: none;
		background-color: none;
		color: #c8c8c8;
	}
}

.add-data-row {
	display: flex;
	gap: 1em;
	margin-bottom: 0.5em;

	& select {
		border-radius: 2em;
		border: 0.1em solid #c8c8c8;
		padding: 0.5em;
		color: #0b1117;
	}

	& input {
		width: 100%;
		border: 0.1em solid #c8c8c8;
		border-radius: 2em;
		padding: 0.5em;
	}
}

.add-data__contacts {
	margin-top: 1em;
}

.add-data__contacts__wrapper {
	margin-top: 1em;
	display: grid;
	grid-template-columns: 80% 20%;
	gap: var(--offset);
}

.add-data__row {
	background-color: none;
}

.add-data-checkbox {
	position: relative;
	color: #c8c8c8;
	font-size: calc(var(--fz) * 0.8);
	margin-bottom: 1em;
	display: block;
	cursor: pointer;

	&::after {
		width: 1em;
		height: 1em;
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		border: 0.1em solid #c8c8c8;
		z-index: 0;
	}

	&::before {
		width: 1em;
		height: 1em;
		content: "";
		display: none;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background-color: var(--color-text-secondary);
		background-image: url(../images/svg/check-white.svg);
		width: 1em;
		background-repeat: no-repeat;
		background-position: center;
		z-index: 1;
	}

	& input {
		opacity: 0;
	}
}

.add-data-checkbox:has(input:checked)::before {
	display: block;
}

.error-green {
	font-size: calc(var(--fz) * 0.6);
	color: green;
	display: block;
	margin-top: 1em;
}

.label-file {
	padding: calc(var(--offset) * 1.5) var(--offset);
	box-shadow: 0 0 0 0.1em #c8c8c8;
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	cursor: pointer;

	& b {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.8);
		text-transform: capitalize;
		text-align: center;
		color: #787b83;
	}

	& span {
		font-weight: 400;
		font-size: calc(var(--fz) * 0.7);
		text-transform: lowercase;
		text-align: center;
		color: #787b83;
	}

	& input {
		opacity: 0;
		position: absolute;
		z-index: -1;
	}
}

.search-page {
	overflow: hidden;

	@media (max-width: 1280px) {
		margin: 0;
		padding: calc(var(--offset) * 2);
		padding-right: var(--offset);
	}

	@media (max-width: 999px) {
		padding: var(--offset);
	}
}

.notifications-search {
	right: calc(var(--offset) * 8);

	@media (max-width: 1280px) {
		right: calc(var(--offset) * 8);
	}
}

.tr {
	display: none !important;
}

.search-page-wrapper {
	display: flex;
	flex-direction: row !important;
	background-color: #f5f5f5;
	padding-top: calc(var(--offset) * 5);
	padding-right: var(--offset-s);

	@media (max-width: 1280px) {
		padding-right: calc(var(--offset) * 2);
	}

	@media (max-width: 999px) {
		padding: 0;
		padding-top: calc(var(--offset) * 5);
		padding-bottom: calc(var(--offset) * 6) !important;
		flex-direction: column-reverse !important;
	}
}

.search-page {
	padding-right: var(--offset);
}

.search-page__mark {
	width: calc(var(--offset) * 20);
	height: calc(var(--offset) * 25);
	position: sticky;
	margin-top: 1em;
	border-radius: 1em;
	top: 6em;
	overflow: hidden;

	@media (max-width: 999px) {
		max-width: calc(var(--offset) * 30);
		max-height: calc(var(--offset) * 20);
		height: 100%;
		width: 100%;
		margin: 0 auto;
		position: relative;
		top: 0;
		padding: 0;
	}

	@media (max-width: 480px) {
		width: 90%;
	}

	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}


.result-goods__card .mobile-order-head {
	background-color: transparent !important;
	padding-left: 0;
}

.search-inner-wrapper {
	padding-top: calc(var(--offset) * 4);
	padding-bottom: calc(var(--offset) * 6) !important;

}

.add-goods__inner {
	@media (max-width: 999px) {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: var(--offset-s);
	}
}

.search-goods__right-inner {
	@media (max-width: 780px) {
		display: flex;
	}

	@media (max-width: 580px) {
		display: flex;
	}

	@media (max-width: 480px) {
		display: flex;
	}
}
