.order-empty {
	max-width: calc(var(--offset) * 20);
	padding: calc(var(--offset) * 2);
	background-color: var(--color-text-primary);
	border-radius: 2em;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);

	& img {
		width: calc(var(--offset) * 4.5);
		height: calc(var(--offset) * 4);
		object-fit: cover;
		margin: calc(var(--offset) * 1.5) 0;
	}

	& p {
		font-weight: 500;
		font-size: calc(var(--fz) * 1.2);
		line-height: 112%;
		text-align: center;
		color: #191919;
		margin-bottom: calc(var(--offset) * 1.2);
	}

	& a {
		font-weight: 600;
		font-size: calc(var(--fz) * 1.1);
		line-height: 133%;
		text-align: center;
		color: #656565;
		transition-duration: 0.5s;
		transition-property: color;
		margin-bottom: calc(var(--offset) * 1.2);

		&:hover,
		&:focus {
			color: #191919;
		}
	}
}

.profile-content {
	position: relative;
}

.order-head {
	display: flex;
	align-items: center;
	gap: var(--offset);
	justify-content: space-between;
	margin-bottom: var(--offset);

	& .form-btn {
		margin-bottom: 0;
		width: fit-content;
	}
}

.form-order {
	display: flex;
	gap: calc(var(--offset) * 0.7);

	@media (max-width: 680px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		width: 100%;
	}

	& label {
		position: relative;
		width: 100%;

		& select {
			width: 100%;
			width: 100%;
			padding: calc(var(--offset) * 0.2) var(--offset);
			border: 0.1em solid #c8c8c8;
			border-radius: 2em;
			overflow: hidden;
			background-color: inherit;
			font-weight: 400;
			font-size: calc(var(--fz) * 0.9);
			letter-spacing: -0.04em;
			color: #0b1117;
			outline: none;
			transition-duration: 0.5s;
			transition-property: border-color;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			background-image: none;
			position: relative;
			height: calc(var(--offset) * 2.2);

			&::after {
				content: "";
				display: block;
				width: calc(var(--offset) * 0.6);
				height: calc(var(--offset) * 0.6);
				border: 0.1em solid #0b1117;
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		& input {
			width: 100%;
			padding: calc(var(--offset) * 0.7) calc(var(--offset) * 2);
			border: 0.1em solid #c8c8c8;
			border-radius: 2em;
			overflow: hidden;
			background-color: inherit;
			font-weight: 400;
			font-size: calc(var(--fz) * 0.9);
			letter-spacing: -0.04em;
			color: #0b1117;
			outline: none;
			transition-duration: 0.5s;
			transition-property: border-color;
			height: calc(var(--offset) * 2.2);

			&:focus,
			&:hover,
			&:focus-visible {
				outline: none;
				border-color: #0b1117;
			}

			&::placeholder {
				color: #c8c8c8;
			}
		}

		& svg {
			position: absolute;
			left: var(--offset);
			top: 50%;
			transform: translateY(-50%);
			width: calc(var(--offset) * 0.6);
			height: calc(var(--offset) * 0.8);
		}
	}
}

.more {
	color: #787b83 !important;
	border: none !important;
	position: relative;
	width: fit-content !important;
	cursor: pointer;

	&::after {
		content: "";
		display: block;
		width: calc(var(--offset) * 0.4);
		height: calc(var(--offset) * 0.4);
		border-top: 0.15em solid #787b83;
		border-left: 0.15em solid #787b83;
		position: absolute;
		top: 40%;
		right: 35%;
		transform: rotate(-135deg);
	}
}

.form-btn {
	display: flex;
	align-items: center;

	&:hover svg,
	&:focus svg {
		stroke: var(--color-text-secondary);
	}

	& svg {
		min-width: calc(var(--offset) * 0.7);
		min-height: calc(var(--offset) * 0.7);
		stroke: var(--color-text-primary);
		margin-right: 0.5em;
	}
}

.label-order {
	font-weight: 500;
	font-size: calc(var(--fz) * 0.8);
	color: #787b83 !important;
	cursor: pointer;
	user-select: none;
	padding-left: 1.2em;
	position: relative;

	&:has(input:checked)::before {
		display: block;
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		display: block;
		width: 0.8em;
		height: 0.8em;
		border: 0.1em solid #787b83;
		border-radius: 0.2em;
	}

	&::before {
		content: "";
		display: none;
		width: 0.8em;
		height: 0.8em;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		background-color: var(--color-text-secondary);
		z-index: 1;
		border-radius: 0.2em;
		background-image: url(../images/svg/check-white.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 0.6em;
	}

	& input {
		opacity: 0;
		position: absolute;
		z-index: -1;

		&:checked ~ ::before {
			display: block;
		}
	}
}

.mobile-order-head {
	display: none;
	width: 100%;
	padding: 0.5em;
	background-color: #ebedf2;
	height: 2em;

	&.label-order {
		padding-left: 1.5em;
	}

	@media (max-width: 999px) {
		display: block;
	}
}

.order-info__head {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 30% 20% 20% 30%;
	padding: calc(var(--offset) * 0.5) var(--offset);
	background-color: #ebedf2;
	border-radius: 0.7em;

	@media (max-width: 999px) {
		display: none;
	}

	& p {
		font-weight: 600;
		font-size: calc(var(--fz) * 0.6);
		text-transform: uppercase;
		color: #787b83;
	}
}

.order-info__card {
	display: grid;
	grid-template-columns: 30% 20% 20% 30%;
}

.order-info__end {
	margin-left: auto;
}

.order-info {
	margin-bottom: 1em;
}

.order-info-col {
	display: flex;
	flex-direction: column;
	gap: 1em;

	@media (max-width: 999px) {
		margin-bottom: 1em;
	}

	& a {
		font-weight: 500;
		font-size: 14px;
		color: #787b83;
		font-size: calc(var(--fz) * 0.7);

		& strong {
			text-decoration: underline;
			text-decoration-skip-ink: none;
		}
	}

	& h5 {
		font-weight: 600;
		font-size: calc(var(--fz) * 0.8);
		text-transform: uppercase;
		color: #787b83;
	}

	& b {
		font-weight: 700;
		font-size: calc(var(--fz) * 0.8);
		color: #0b1117;
	}

	& p {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.8);
		color: #0b1117;

		& svg {
			// stroke: #0b1117;
			width: calc(var(--offset) * 0.6);
			height: calc(var(--offset) * 0.5);
		}

		& a {
			font-weight: 500;
			font-size: 14px;
			text-decoration: underline;
			text-decoration-skip-ink: none;
			color: #787b83;
			font-size: calc(var(--fz) * 0.7);
		}
	}

	& small {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.7);
		color: #787b83;
	}

	& span {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.7);
		color: #787b83;
	}

	& details {
		position: relative;
		padding-left: 1em;

		&::before {
			content: "";
			display: block;
			width: 0.5em;
			height: 0.5em;
			transform: rotate(225deg);
			border-top: 0.1em solid #0b1117;
			border-left: 0.1em solid #0b1117;
			position: absolute;
			left: 0;
		}

		& summary {
			font-weight: 700;
			font-size: calc(var(--fz) * 0.8);
			color: #0b1117;
			margin-bottom: 1em;
		}

		& a {
			font-weight: 500;
			font-size: calc(var(--fz) * 0.8);
			color: #0b1117;
			display: inline;
		}
	}
}

.lang-summary {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.road {
	display: flex;
	align-items: center;
	gap: 0.5em;
	font-weight: 500;
	font-size: calc(var(--fz) * 0.6);
	text-transform: uppercase;
	color: #787b83;
	margin-top: 1em;

	& svg {
		width: calc(var(--offset));
		height: calc(var(--offset) * 0.6);
	}
}

.arrow-road {
	stroke: #787b83;
	width: calc(var(--offset) * 0.6) !important;
	height: calc(var(--offset) * 0.5) !important;
}

.car-head {
	margin-bottom: 1%;
}

.stars {
	display: flex;
	align-items: center;
	gap: 0.2em;

	& svg {
		width: calc(var(--offset) * 0.6);
		height: calc(var(--offset) * 0.5);
	}
}

.green {
	color: #80ba4f !important;
}

.order-info-content {
	background-color: var(--color-text-primary);
	border-radius: 1em;
	padding: calc(var(--offset) * 0.5) var(--offset);

	@media (max-width: 999px) {
	}
}

.order-info__buttom {
	padding-top: var(--offset);
	margin-top: var(--offset);
	border-top: 0.1em solid #e8e8e8;
}

.time {
	margin-right: auto;
}

.order-info-bottom__end {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.order-buttons {
	display: flex;
	gap: 1em;
	align-items: center;

	& .form-btn {
		margin-bottom: 0;
	}
}

.close-order-card {
	cursor: pointer;
	transition-duration: 0.5s;
	transition-property: opacity;

	&:hover,
	&:focus {
		opacity: 0.7;
	}

	& svg {
		width: calc(var(--offset) * 0.8);
		height: calc(var(--offset) * 0.8);
	}
}

.search-icon {
	& input {
		padding-left: 1em !important;
	}

	& svg {
		right: var(--offset) !important;
		left: auto !important;
	}
}

.order-info-second {
	grid-template-columns: repeat(6, 1fr) !important;

	@media (max-width: 999px) {
		grid-template-columns: repeat(3, 1fr) !important;
	}

	@media (max-width: 780px) {
		grid-template-columns: repeat(2, 1fr) !important;
	}

	@media (max-width: 580px) {
		grid-template-columns: 1fr !important;
	}
}

.order-info-second .order-info-col {
	gap: 0.5em;
}

.chat-message {
	width: calc(var(--offset) * 1.3);
	height: calc(var(--offset) * 1.3);
	border-radius: 0.2em;
	transition-duration: 0.5s;
	transition-property: opacity;

	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&:hover,
	&:focus {
		opacity: 0.7;
	}
}

.rating {
	background-color: var(--color-text-secondary);
	border-radius: 0.2em;
	padding: 0.2em 0.5em;
	font-size: calc(var(--fz) * 0.6);
	font-weight: 700;
	text-transform: uppercase;
	color: var(--color-text-primary);
	width: fit-content;
}

.order-buttons-second {
	padding: var(--offset);
	margin-bottom: -0.6em;
	margin-right: -1.25em;
	background-color: #fde7e5;
	border-bottom-right-radius: 1em;
}

.order-buttons {
	margin-top: 1em;
}

.cansel-order-card {
	font-weight: 400;
	font-size: calc(var(--fz) * 0.8);
	letter-spacing: -0.04em;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #0b1117;
	transition-duration: 0.5s;
	transition-property: color;

	&:hover,
	&:focus {
		color: var(--color-text-secondary);
	}
}

.order-card-border {
	border: none;
	margin-top: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;
}

.order-info-second .order-info-col {
	&:not(:first-of-type) {
		padding-left: 1em;

		@media (max-width: 999px) {
			padding-left: 0;
		}
	}

	position: relative;

	&:not(:last-of-type) {
		border-right: 0.1em solid rgb(101, 101, 101, 0.5);
		@media (max-width: 999px) {
			border: none;
		}
	}
}

.road {
	margin-bottom: auto;
}

.order-info-m {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 0.5em;
	margin-top: auto;

	& p {
		min-width: 10vw;
	}
}

.order-buttons-second {
	position: relative;
}

.order-cansel-modal {
	position: absolute;
	top: 90%;
	z-index: 10;
	right: 0;
	display: none;
	flex-direction: column;
	gap: 1em;
	min-width: 22vw;
	background-color: var(--color-text-primary);
	border-radius: 1em;
	padding: var(--offset);
	box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.2);

	& .tr {
		position: absolute;
		width: 1.5em;
		height: 1.5em;
		margin: 0 auto;
		top: -5%;
		right: 35%;
	}

	& b {
		font-weight: 500;
		font-size: var(--fz);
		line-height: 1;
		color: #0b1117;
	}

	& p {
		font-weight: 400;
		font-size: calc(var(--fz) * 0.8);
		line-height: 125%;
		color: #0b1117;
	}

	& form {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		align-items: flex-start;
		width: 100%;

		& .form-btn {
			font-size: calc(var(--fz) * 0.7);
			padding: 0.7em;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}

		& textarea {
			border: 0.1em solid #e8e8e8;
			border-radius: 0.2em;
			width: 100%;
		}

		& label {
			font-weight: 400;
			font-size: calc(var(--fz) * 0.7);
			line-height: 121%;
			color: #0b1117;
			cursor: pointer;
			padding-left: 1.5em;
			position: relative;

			&:has(input:checked)::after {
				display: block;
			}

			&::before {
				content: "";
				display: block;
				width: 1em;
				z-index: 1;
				height: 1em;
				border-radius: 50%;
				border: 0.1em solid #756f6f;
				position: absolute;
				left: 0;
				top: 0;
			}

			&::after {
				content: "";
				display: none;
				width: 1em;
				z-index: 1;
				height: 1em;
				border-radius: 50%;
				border: 0.3em solid #787b83;
				position: absolute;
				left: 0;
				top: 0;
			}

			& input {
				position: absolute;
				z-index: -1;
				opacity: 0;
			}
		}
	}
}

.order-cansel {
	font-weight: 400;
	font-size: calc(var(--fz) * 0.7);
	line-height: 1.2;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #787b83;
	transition-duration: 0.5s;
	transition-property: color;

	&:hover {
		color: #191919;
	}
}

.order-close-btn {
	position: absolute;
	top: 1em;
	right: 1em;
	width: 1.5em;
	height: 1.5em;
	background-image: url(../images/svg/close.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1em;
}

.order-cansel-modal.open {
	display: flex;
}

.modal-create-order {
	& p {
		font-weight: 400;
		font-size: calc(var(--fz) * 0.8);
		color: #2e3645;
	}

	& span {
		text-align: left;
		margin-bottom: 0.5em;
	}

	& form {
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		gap: 0.7em;
	}
}

.create-order-card {
	display: flex;
	gap: 1em;
	align-items: flex-start;
	padding: 0.6em;
	background-color: var(--color-text-primary);
	border-radius: 0.2em;

	& svg {
		width: var(--offset);
		height: var(--offset);
	}

	&__info {
		display: flex;
		flex-direction: column;

		& a {
			margin-right: auto;
			width: fit-content;
			margin-left: 0 !important;
		}

		& p {
			display: flex;
			align-items: center;
			gap: 0.5em;
			margin-bottom: 0.8em;

			& strong {
				font-weight: 700;
			}

			& svg {
				width: 0.9em;
				height: 0.9em;
			}
		}
	}

	& a {
		margin-left: auto;
		font-weight: 500;
		font-size: calc(var(--fz) * 0.7);
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: #787b83;
		width: fit-content;
	}
}

.cretae-order-row {
	display: flex;
	gap: 1em;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-text-primary);
	border-radius: 1.5em;
	padding: 0.6em;

	& p {
		display: flex;
		gap: 1em;
		align-items: center;
	}

	& svg {
		width: var(--offset);
		height: var(--offset);
	}
}

.create-order-buttons {
	display: flex;
	align-items: center;
	gap: 2em;
	margin-top: 2em;

	& .form-btn {
		margin-bottom: 0;
	}
}

.create-order-cansel {
	font-weight: 500;
	font-size: calc(var(--fz) * 0.9);
	letter-spacing: -0.04em;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #787b83;
}

.coorfinations-content {
	max-height: 90vh;
	overflow-y: auto;
	position: relative;
	margin-bottom: 0;
	padding-top: 0;
}

.coorfinations-content::-webkit-scrollbar {
	width: calc(var(--offset) * 0.5) !important;
	display: block;
}

.coorfinations-content::-webkit-scrollbar-thumb {
	background-color: #d9d9d9;
	border-radius: 0.3em;
}

.coorfinations-content::-webkit-scrollbar-thumb:hover {
	background-color: rgb(217, 217, 217), 0.5;
}

.coorfinations-content::-webkit-scrollbar-track {
	background: #a1a7ad;
	border-radius: 0.3em;
}

.order-head {
	position: sticky;
	top: 0;
	z-index: 5;
	background-color: #f5f5f5;
	margin: 0;
	padding: var(--offset) 0;

	@media (max-width: 1480px) {
		gap: var(--offset);
	}

	@media (max-width: 999px) {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: static;
	}
}

.order-buttons-second {
	& p {
		& a {
			font-weight: 400;
			font-size: calc(var(--fz) * 0.7);
			text-decoration: underline;
			text-decoration-skip-ink: none;
			color: #787b83;
		}
	}
}

.order-icons {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.order-info__end {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.more-info {
	margin-left: auto;
	font-weight: 600;
	font-size: calc(var(--fz) * 0.6);
	letter-spacing: -0.04em;
	color: #787b83;
	padding: 0.5em 1em;
	border-radius: 2em;
	border: 0.1em solid #787b83;
	transition-duration: 0.5s;
	transition-property: color, border;
	text-decoration: none !important;

	&:hover,
	&:focus {
		color: #0b1117;
		border: 0.1e, solid #0b1117;
	}
}

.take-load__road .road {
	font-size: calc(var(--fz) * 0.5);
	margin-bottom: 1em;

	& svg {
		width: calc(var(--offset) * 0.6);
		height: calc(var(--offset) * 0.6);
	}
}

.create-order-card p span {
	color: #656565;
	font-weight: 600;
	font-size: 1em;
}

.take-load-cansel {
	font-size: calc(var(--fz) * 0.7);
	color: #656565;
	text-decoration: underline;
}

.take-load-buttons {
	gap: 1em;
}

.card-order-flex {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
	align-items: flex-start;

	& p {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.7);
		color: #191919;
	}

	& button {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.7);
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: #787b83;
	}
}

.order-info-row {
	display: flex;
	gap: 0.5em;

	& button {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.7);
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: #787b83;
	}
}

.order-info-top {
	margin-top: 1em;
}

.order-info__row {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;

	a {
		text-decoration: underline;
	}
}

.modal-file-input {
	width: fit-content !important;
	cursor: pointer;

	& input {
		display: none;
		width: fit-content;
	}
}

.modal-file {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	& p {
		font-weight: 400;
		font-size: calc(var(--fz) * 0.8);
		color: #787b83;

		margin-bottom: 1em;

		& strong {
			color: #141f2a;
		}
	}
}

.modal-file__cards {
	margin-top: 1em;
	width: 100%;
	padding-top: var(--offset);
	border-top: 0.1em solid #e8e8e8;
	display: flex;
	gap: 0.5em;
	align-items: center;
}

.modal-file__card {
	display: flex;
	align-items: center;
	gap: 0.5em;

	& svg {
		width: calc(var(--offset) * 1.5);
		height: calc(var(--offset) * 1.5);
	}
}

.modal-file__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;

	& p {
		margin-bottom: 0.3em;
	}
}

.order-buttons-dosc {
	background-color: #ebedf2;
	margin-right: 0;

	& button {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.7);
		color: #787b83;
	}
}

.order-buttons .form-btn {
	padding: 0.5em;
	font-size: calc(var(--fz) * 0.8);
}

.order-info__card-search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: calc(var(--offset) * 0.45);
	padding-top: var(--offset);
	border-top: 0.1em solid #c8c8c8;

	& label {
		position: relative;
		display: flex;
		align-items: center;
		gap: 0.5em;

		& select {
			font-weight: 600;
			font-size: calc(var(--fz) * 0.6);
			letter-spacing: -0.04em;
			color: #787b83;
			padding: 0.5em 1em;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			border-radius: 2em;
			border: 0.1em solid #787b83;
			transition-duration: 0.5s;
			transition-property: color, border;
			cursor: pointer;
			padding-right: 2em;
			position: relative;
			background-image: url(../images/svg/select.svg);
			background-repeat: no-repeat;
			background-position: 95%;
			background-size: 1em;
		}

		& textarea {
			width: 100%;
			min-width: calc(var(--offset) * 20);
			padding: 0.5em;
			padding-left: 2.5em;
			border: 0.1em solid #c8c8c8;
			border-radius: calc(var(--offset) * 0.4);
			font-size: calc(var(--fz) * 0.8);
		}

		& svg {
			position: absolute;
			width: var(--offset);
			height: var(--offset);
			left: 0.5em;
			top: 50%;
			transform: translateY(-50%);
		}

		& a {
			font-weight: 500;
			font-size: calc(var(--fz) * 0.7);
			text-decoration: underline;
			text-decoration-skip-ink: none;
			color: #787b83;
			background: rgba(120, 123, 131, 0.28);
			border: 0.1em solid #787b83;
			border-radius: calc(var(--offset) * 0.4);
			padding: calc(var(--offset) * 0.7);
			padding-right: calc(var(--offset) * 2);

			background-image: url(../images/svg/linkmap.svg);
			background-repeat: no-repeat;
			background-position: 75%;
			background-size: 0.8em;
		}
	}
}

.dropdown-links-order {
	position: absolute;
	top: 120%;
	width: 100%;
	left: 0;
	z-index: -1;
	background-color: var(--color-text-primary);
	box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.11);
	height: auto !important;

	& button {
		text-align: left;
		width: 100%;
		padding: 0.5em;
		font-weight: 500;
		font-size: calc(var(--fz) * 0.8);
		color: #141f2a;

		&:hover {
			background-color: #ebedf2;
		}
	}
}

.order-icons {
	position: relative;
}

.modal-change-bid {
	& p {
		font-weight: 400;
		font-size: calc(var(--fz) * 0.9);
		color: #787b83;
		margin-bottom: 1em;
	}
}

.choise-cash {
	display: flex;
	align-items: center;
	border-radius: 2em;
	overflow: hidden;
	border: 0.1em solid #787b83;
	margin-bottom: 1em;
}

.choise-cash label {
	width: 100%;
	padding: 1em 1.5em;
	font-weight: 400;
	font-size: calc(var(--fz) * 0.7);
	color: #787b83;
	cursor: pointer;
	border-right: 0.1em solid #787b83;
	text-align: center;
}

.choise-cash input {
	display: none;
}

.choise-cash input:checked + label {
	background-color: #787b83;
	color: white;
}

.choise-cash input:checked + label {
	background-color: #787b83;
	color: white;
}

.cost {
	display: flex;
	align-items: center;
	gap: 1em;
	position: relative;

	& p {
		margin-bottom: 0;
		margin-right: 1em;
	}

	& .sum {
		max-width: calc(var(--offset) * 4);
		font-weight: 600;
		font-size: calc(var(--fz) * 0.7);
		color: #191919;
		padding: 0.6em 1em;
		border: 0.1em solid #c8c8c8;
		border-radius: 2em;
		background: inherit;
	}

	& select {
		font-weight: 600;
		font-size: calc(var(--fz) * 0.6);
		color: #191919;
		padding: 0.6em 1em;
		border: 0.1em solid #c8c8c8;
		border-radius: 2em;
		background: inherit;
	}
}

.on-card {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -70%;
	font-weight: 400;
	font-size: calc(var(--fz) * 0.7);
	color: #787b83;
	display: flex;
	align-items: center;
	gap: 0.5em;
	cursor: pointer;
}

.modal-change-road {
	min-width: 45vw;

	& p {
	}
}

.change-road__row {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin-bottom: 1em;

	& p {
		margin-right: 2em;
		font-weight: 600;
		font-size: calc(var(--fz) * 0.8);
		color: #191919;
	}

	& label input {
		font-weight: 600;
		font-size: calc(var(--fz) * 0.9);
		color: #191919;
		padding: 0.6em 1em;
		border: 0.1em solid #c8c8c8;
		border-radius: 2em;
		background: inherit;
	}

	& svg {
		width: var(--offset);
		width: var(--offset);
	}
}

.change-road__text {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin-left: 6em;
	margin-bottom: 1em;

	& p {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.8);
		color: #191919;
	}

	& button {
		display: flex;
		align-items: center;
		gap: 0.3em;
		font-weight: 500;
		font-size: calc(var(--fz) * 0.8);
		color: #787b83;

		& svg {
			width: 1em;
			height: 1em;
		}
	}
}

.order-cansel-dropdown {
	top: 150%;
	right: -10%;
}

.order-info__end {
	position: relative;

	& > button {
		font-size: calc(var(--fz) * 0.8);
		text-decoration: underline;
	}
}

.modal-archive {
	position: absolute;
	top: -30%;
	right: 0;
	opacity: 0;
	z-index: 0;
	background-color: var(--color-text-primary);
	border-radius: 1em;
	padding: 1em;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

	&.open {
		opacity: 1;
		z-index: 10;
	}

	& p {
		font-weight: 400;
		font-size: calc(var(--fz) * 0.7);
		line-height: 121%;
		color: #0b1117;
		margin-bottom: 1em;
	}
}

.flex-row {
	display: flex;
	align-items: center;
	gap: 0.5em;

	& .form-btn {
		font-size: calc(var(--fz) * 0.7);
		padding: 0.6em;
		margin: 0;
		display: block;
		white-space: nowrap;
	}

	& button {
		white-space: nowrap;
		border: none;
	}
}

.cretae-order-row {
	& p {
		width: 100%;
	}

	& a {
		font-weight: 500;
		font-size: calc(var(--fz) * 0.8);
		color: #c8c8c8;
	}

	& select {
		border: none;
		font-weight: 700;
		color: #c8c8c8;
	}
}

.label-big-modal {
	width: 100%;

	& select {
		border: none;
		font-weight: 700;
		color: #0b1117;
		width: 100%;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;

		background-image: url(../images/svg/select.svg);
		background-repeat: no-repeat;
		background-position: 95%;
		background-size: 1em;
	}
}

.modal-textarea {
	width: 100%;

	& textarea {
		width: 100%;
		border: 0.1em solid #c8c8c8;
		border-radius: 0.5em;
		padding: 1em;
		margin-top: 1em;

		&::placeholder {
			font-weight: 400;
			font-size: calc(var(--fz) * 0.6);
			color: #c8c8c8;
		}
	}
}
