<header class="header">
	<nav class="nav">
		<a href="./index.html" aria-label="на главную страннцу" class="nav__logo">
			<picture>
				<source srcset="./images/svg/search-logo.svg" />
				<img src="./images/svg/search-logo.svg" width="230" height="50" alt="логотип компании" />
			</picture>
		</a>

		<ul class="nav__list">
			<li class="nav__item">
				<!-- current -->
				<a class="nav__link @@current" href="./catalog.html">Каталог участников</a>
			</li>
			<li class="nav__item">
				<a class="nav__link" href="./search-goods.html">Поиск гузов</a>
			</li>
			<li class="nav__item">
				<a class="nav__link" href="./search-transport.html">Поиск транспорта</a>
			</li>
			<li class="nav__item">
				<a class="nav__link" href="./contacts.html">Контакты</a>
			</li>
		</ul>

		<a href="#" class="nav__member nav__link">

			<b>Стать участником</b>
		</a>

		<a class="profile" href="./messages.html">
			<picture>
				<source srcset="./images/profile.avif" />
				<img src="./images/profile.png" alt="автар пользователя" width="50" height="50" />
			</picture>
			<div class="profile__info">
				<b>Имя Фамилия</b>
				<span>Клиент</span>
			</div>
		</a>

		<!-- <button type="button" class="nav__login nav__link" data-modal-target="modal-login">Войти</button>

		<button type="button" class="nav__register nav__link" data-modal-target="modal-register">Регистрация</button> -->

		<div class="nav-lang">
			<details class="nav-lang-dropdown" aria-label="языковое меню">
				<summary class="btn-white">Ru</summary>
				<ul class="dropdown">
					<li class="dropdown-item">
						<a href="#" class="dropdown-link" aria-label="английский язык"> En </a>
					</li>

					<li class="dropdown-item">
						<a href="#" class="dropdown-link" aria-label="узбекский язык"> Uz </a>
					</li>
				</ul>
			</details>
		</div>
	</nav>
</header>
