<section class="news-cards">

	<div class="news-cards__buttons">
		<button type="button" class="news-card__btn">Все</button>
		<button type="button" class="news-card__btn">Новости</button>
		<button type="button" class="news-card__btn">Международные новости</button>
	</div>

	<div class="news-cards__content">

		<a href="/news-inner.html" aria-label="странница новости" class="news-slide news-card">

			<div class="news-image">
				<picture>
					<source srcset="./images/news/news1.avif">
					<img src="./images/news/news1.jpg" alt="Новости" width="589" height="315" loading="lazy">
				</picture>
			</div>

			<div class="news-desc">

				<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit
					est in
					vitae sit lorem viverra...
				</b>

				<p>
					Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit
					est
					in vitae sit lorem viverra nulla...
				</p>

				<div class="news-date">
					<svg width="16" height="16">
						<use xlink:href="#news2"></use>
					</svg>
					<span>15 января 2025</span>
				</div>
			</div>
		</a>

		<a href="/news-inner.html" aria-label="странница новости" class="news-slide news-card">

			<div class="news-image">
				<picture>
					<source srcset="./images/news/news2.avif">
					<img src="./images/news/news2.jpg" alt="Новости" width="589" height="315" loading="lazy">
				</picture>
			</div>

			<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est in
				vitae sit lorem viverra...
			</b>

			<p>
				Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est
				in vitae sit lorem viverra nulla...
			</p>

			<div class="news-date">
				<svg width="16" height="16">
					<use xlink:href="#news2"></use>
				</svg>
				<span>15 января 2025</span>
			</div>

		</a>

		<a href="/news-inner.html" aria-label="странница новости" class="news-slide news-card">

			<div class="news-image">
				<picture>
					<source srcset="./images/news/news3.avif">
					<img src="./images/news/news3.jpg" alt="Новости" width="589" height="315" loading="lazy">
				</picture>
			</div>

			<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est in
				vitae sit lorem viverra...
			</b>

			<p>
				Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est
				in vitae sit lorem viverra nulla...
			</p>

			<div class="news-date">
				<svg width="16" height="16">
					<use xlink:href="#news2"></use>
				</svg>
				<span>15 января 2025</span>
			</div>

		</a>

		<a href="/news-inner.html" aria-label="странница новости" class="news-slide news-card">

			<div class="news-image">
				<picture>
					<source srcset="./images/news/news4.avif">
					<img src="./images/news/news4.jpg" alt="Новости" width="589" height="315" loading="lazy">
				</picture>
			</div>

			<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est in
				vitae sit lorem viverra...
			</b>

			<p>
				Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est
				in vitae sit lorem viverra nulla...
			</p>

			<div class="news-date">
				<svg width="16" height="16">
					<use xlink:href="#news2"></use>
				</svg>
				<span>15 января 2025</span>
			</div>

		</a>

		<a href="/news-inner.html" aria-label="странница новости" class="news-slide news-card">

			<div class="news-image">
				<picture>
					<source srcset="./images/news/news5.avif">
					<img src="./images/news/news5.jpg" alt="Новости" width="589" height="315" loading="lazy">
				</picture>
			</div>

			<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est in
				vitae sit lorem viverra...
			</b>

			<p>
				Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est
				in vitae sit lorem viverra nulla...
			</p>

			<div class="news-date">
				<svg width="16" height="16">
					<use xlink:href="#news2"></use>
				</svg>
				<span>15 января 2025</span>
			</div>

		</a>

		<a href="/news-inner.html" aria-label="странница новости" class="news-slide news-card">

			<div class="news-image">
				<picture>
					<source srcset="./images/news/news6.avif">
					<img src="./images/news/news6.jpg" alt="Новости" width="589" height="315" loading="lazy">
				</picture>
			</div>

			<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est in
				vitae sit lorem viverra...
			</b>

			<p>
				Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est
				in vitae sit lorem viverra nulla...
			</p>

			<div class="news-date">
				<svg width="16" height="16">
					<use xlink:href="#news2"></use>
				</svg>
				<span>15 января 2025</span>
			</div>

		</a>

		<a href="/news-inner.html" aria-label="странница новости" class="news-slide news-card">

			<div class="news-image">
				<picture>
					<source srcset="./images/news/news7.avif">
					<img src="./images/news/news7.jpg" alt="Новости" width="589" height="315" loading="lazy">
				</picture>
			</div>

			<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est in
				vitae sit lorem viverra...
			</b>

			<p>
				Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est
				in vitae sit lorem viverra nulla...
			</p>

			<div class="news-date">
				<svg width="16" height="16">
					<use xlink:href="#news2"></use>
				</svg>
				<span>15 января 2025</span>
			</div>

		</a>

		<a href="/news-inner.html" aria-label="странница новости" class="news-slide news-card">

			<div class="news-image">
				<picture>
					<source srcset="./images/news/news8.avif">
					<img src="./images/news/news8.jpg" alt="Новости" width="589" height="315" loading="lazy">
				</picture>
			</div>

			<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est in
				vitae sit lorem viverra...
			</b>

			<p>
				Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est
				in vitae sit lorem viverra nulla...
			</p>

			<div class="news-date">
				<svg width="16" height="16">
					<use xlink:href="#news2"></use>
				</svg>
				<span>15 января 2025</span>
			</div>

		</a>

		<a href="/news-inner.html" aria-label="странница новости" class="news-slide news-card">

			<div class="news-image">
				<picture>
					<source srcset="./images/news/news9.avif">
					<img src="./images/news/news9.jpg" alt="Новости" width="589" height="315" loading="lazy">
				</picture>
			</div>

			<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est in
				vitae sit lorem viverra...
			</b>

			<p>
				Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est
				in vitae sit lorem viverra nulla...
			</p>

			<div class="news-date">
				<svg width="16" height="16">
					<use xlink:href="#news2"></use>
				</svg>
				<span>15 января 2025</span>
			</div>

		</a>

		<a href="/news-inner.html" aria-label="странница новости" class="news-slide news-card">

			<div class="news-image">
				<picture>
					<source srcset="./images/news/news10.avif">
					<img src="./images/news/news10.jpg" alt="Новости" width="589" height="315" loading="lazy">
				</picture>
			</div>

			<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est in
				vitae sit lorem viverra...
			</b>

			<p>
				Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est
				in vitae sit lorem viverra nulla...
			</p>

			<div class="news-date">
				<svg width="16" height="16">
					<use xlink:href="#news2"></use>
				</svg>
				<span>15 января 2025</span>
			</div>

		</a>

		<a href="/news-inner.html" aria-label="странница новости" class="news-slide news-card">

			<div class="news-image">
				<picture>
					<source srcset="./images/news/news11.avif">
					<img src="./images/news/news11.jpg" alt="Новости" width="589" height="315" loading="lazy">
				</picture>
			</div>

			<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est in
				vitae sit lorem viverra...
			</b>

			<p>
				Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est
				in vitae sit lorem viverra nulla...
			</p>

			<div class="news-date">
				<svg width="16" height="16">
					<use xlink:href="#news2"></use>
				</svg>
				<span>15 января 2025</span>
			</div>

		</a>

		<a href="/news-inner.html" aria-label="странница новости" class="news-slide news-card">

			<div class="news-image">
				<picture>
					<source srcset="./images/news/news12.avif">
					<img src="./images/news/news12.jpg" alt="Новости" width="589" height="315" loading="lazy">
				</picture>
			</div>

			<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est in
				vitae sit lorem viverra...
			</b>

			<p>
				Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est
				in vitae sit lorem viverra nulla...
			</p>

			<div class="news-date">
				<svg width="16" height="16">
					<use xlink:href="#news2"></use>
				</svg>
				<span>15 января 2025</span>
			</div>

		</a>
	</div>

	<button type="button" class="show-more news-card__btn">Загрузить больше</button>

</section>
