<section class="about-head">

	<div class="about-head__wrapper main-head">

		<div class="navigations">
			<a href="/index.html">Главная</a>/<a class="active" href="/about.html">Новости</a>
		</div>

		<div class="about-head__info">

			<h1>Блог и новости</h1>

			<p>
				Мы работаем над созданием новых стандартов в области глобальных грузоперевозок, предоставляя нашим
				партнерам и клиентам надежные, безопасные и эффективные решения.
			</p>

		</div>

	</div>

	<picture>
		<source srcset="./images/news-bg.avif">
		<img src="./images/news-bg.jpg" alt="Новости" width="1920" height="750">
	</picture>

</section>
