<div class="catalog-form">
	<div class="filters">
		<div class="sticy-wrapper">
			<div class="navigations"><a href="/index.html">Главная</a>/<a class="active" href="/catalog.html">Каталог участников</a></div>

			<div class="catalog-tabs">
				<div class="button-decor"></div>
				<button type="button" class="navigations-button" data-tab="location">Расположение</button>
				<button type="button" class="navigations-button" data-tab="name-company">Расположение</button>
				<button type="button" class="navigations-button" data-tab="id-search">Расположение</button>
			</div>

			<form class="search" action="" method="post">
				<div class="input-wrapper">
					<div class="input-row" data-input="location">
						<label for="country">
							<svg width="12" height="15">
								<use xlink:href="#location"></use>
							</svg>

							<input type="text" name="" placeholder="Все города" id="country" />
						</label>

						<label for="city">
							<svg width="12" height="15">
								<use xlink:href="#location"></use>
							</svg>

							<input type="text" name="" placeholder="Все страны" id="city" />
						</label>
					</div>

					<div class="input-row" data-input="name-company">
						<label for="name-company">
							<svg width="12" height="15">
								<use xlink:href="#location"></use>
							</svg>

							<input type="text" name="" placeholder="Название компании" id="name-company" />
						</label>
					</div>

					<div class="input-row" data-input="id-search">
						<label for="id-search">
							<svg width="12" height="15">
								<use xlink:href="#location"></use>
							</svg>

							<input type="text" name="" placeholder="Расположение" id="id-search" />
						</label>
					</div>

					<button class="search-btn" type="submit">
						<svg width="24" height="24">
							<use xlink:href="#search"></use>
						</svg>
					</button>
				</div>
			</form>
		</div>

		<form class="filters-directions" action="" method="post">
			<fieldset>
				<legend>По направлениям</legend>

				<input class="visually-hidden" type="checkbox" id="fcl" name="" />
				<label for="fcl">FCL</label>

				<input class="visually-hidden" type="checkbox" id="lcl" name="" />
				<label for="lcl">LCL</label>

				<input class="visually-hidden" type="checkbox" name="" id="inter" />
				<label for="inter">Intermodal</label>

				<input class="visually-hidden" type="checkbox" name="" id="special" />
				<label for="special">Special Container</label>
			</fieldset>
		</form>

		<form class="filters-range" action="" method="">
			<fieldset>
				<legend>Срок на платформе</legend>

				<div class="range-wrapper">
					<div class="range-row">
						<span class="min-hanler"></span>

						<div class="range-line"></div>

						<span class="max-handler"></span>
					</div>

					<div class="numbers-row">
						<label for="minValue">
							<input
								type="number"
								id="minValue"
								name="minValue"
								min="0"
								max="15"
								value="3"
								readonly
								onchange="updateFormData(event)"
							/>
						</label>
						<label for="maxValue">
							<input
								type="number"
								id="maxValue"
								name="maxValue"
								min="0"
								max="15"
								value="10"
								readonly
								onchange="updateFormData(event)"
							/>
						</label>
					</div>
				</div>
			</fieldset>
		</form>

		<form class="filters-directions filters-status" action="" method="post">
			<fieldset>
				<legend>По статусу</legend>

				<input class="visually-hidden" type="checkbox" id="free" name="" />
				<label for="free">Free</label>

				<input class="visually-hidden" type="checkbox" id="elite" name="" />
				<label for="elite">Elite</label>

				<input class="visually-hidden" type="checkbox" name="" id="premium" />
				<label for="premium">Premium</label>

				<input class="visually-hidden" type="checkbox" name="" id="vip" />
				<label for="vip">Vip</label>
			</fieldset>
		</form>
	</div>

	<div class="catalog-content">
		<div class="catalog-content__card">
			<picture>
				<source srcset="./images/catalog-card.avif" />
				<img src="./images/catalog-card.png" alt="участник" width="210" height="50" />
			</picture>
			<div class="catalog-card__info">
				<div class="catalog-card__title">
					<span>15</span>
					Apex International Inc
				</div>
				<p>Tokyo - Japan</p>
				<span>Elite</span>
				<div class="catalog-card__tags">
					<span>FCL</span>
					<span>Air Freight</span>
					<span>Customs Clearance</span>
					<span>Express</span>
					<span>Express</span>
				</div>
			</div>
			<a class="catalog-card__link" href="/catalog-inner.html">Подробнее о компании</a>
		</div>

		<div class="catalog-content__card">
			<picture>
				<source srcset="./images/catalog-card.avif" />
				<img src="./images/catalog-card.png" alt="участник" width="210" height="50" />
			</picture>
			<div class="catalog-card__info">
				<div class="catalog-card__title">
					<span>15</span>
					Apex International Inc
				</div>
				<p>Tokyo - Japan</p>
				<span>Elite</span>
				<div class="catalog-card__tags">
					<span>FCL</span>
					<span>Air Freight</span>
					<span>Customs Clearance</span>
					<span>Express</span>
					<span>Express</span>
				</div>
			</div>
			<a class="catalog-card__link" href="/catalog-inner.html">Подробнее о компании</a>
		</div>

		<div class="catalog-content__card">
			<picture>
				<source srcset="./images/catalog-card.avif" />
				<img src="./images/catalog-card.png" alt="участник" width="210" height="50" />
			</picture>
			<div class="catalog-card__info">
				<div class="catalog-card__title">
					<span>15</span>
					Apex International Inc
				</div>
				<p>Tokyo - Japan</p>
				<span>Elite</span>
				<div class="catalog-card__tags">
					<span>FCL</span>
					<span>Air Freight</span>
					<span>Customs Clearance</span>
					<span>Express</span>
					<span>Express</span>
				</div>
			</div>
			<a class="catalog-card__link" href="/catalog-inner.html">Подробнее о компании</a>
		</div>

		<div class="catalog-content__card">
			<picture>
				<source srcset="./images/catalog-card.avif" />
				<img src="./images/catalog-card.png" alt="участник" width="210" height="50" />
			</picture>
			<div class="catalog-card__info">
				<div class="catalog-card__title">
					<span>15</span>
					Apex International Inc
				</div>
				<p>Tokyo - Japan</p>
				<span>Elite</span>
				<div class="catalog-card__tags">
					<span>FCL</span>
					<span>Air Freight</span>
					<span>Customs Clearance</span>
					<span>Express</span>
					<span>Express</span>
				</div>
			</div>
			<a class="catalog-card__link" href="/catalog-inner.html">Подробнее о компании</a>
		</div>

		<div class="catalog-content__card">
			<picture>
				<source srcset="./images/catalog-card.avif" />
				<img src="./images/catalog-card.png" alt="участник" width="210" height="50" />
			</picture>
			<div class="catalog-card__info">
				<div class="catalog-card__title">
					<span>15</span>
					Apex International Inc
				</div>
				<p>Tokyo - Japan</p>
				<span>Elite</span>
				<div class="catalog-card__tags">
					<span>FCL</span>
					<span>Air Freight</span>
					<span>Customs Clearance</span>
					<span>Express</span>
					<span>Express</span>
				</div>
			</div>
			<a class="catalog-card__link" href="/catalog-inner.html">Подробнее о компании</a>
		</div>

		<div class="catalog-content__card">
			<picture>
				<source srcset="./images/catalog-card.avif" />
				<img src="./images/catalog-card.png" alt="участник" width="210" height="50" />
			</picture>
			<div class="catalog-card__info">
				<div class="catalog-card__title">
					<span>15</span>
					Apex International Inc
				</div>
				<p>Tokyo - Japan</p>
				<span>Elite</span>
				<div class="catalog-card__tags">
					<span>FCL</span>
					<span>Air Freight</span>
					<span>Customs Clearance</span>
					<span>Express</span>
					<span>Express</span>
				</div>
			</div>
			<a class="catalog-card__link" href="/catalog-inner.html">Подробнее о компании</a>
		</div>

		<div class="catalog-content__card">
			<picture>
				<source srcset="./images/catalog-card.avif" />
				<img src="./images/catalog-card.png" alt="участник" width="210" height="50" />
			</picture>
			<div class="catalog-card__info">
				<div class="catalog-card__title">
					<span>15</span>
					Apex International Inc
				</div>
				<p>Tokyo - Japan</p>
				<span>Elite</span>
				<div class="catalog-card__tags">
					<span>FCL</span>
					<span>Air Freight</span>
					<span>Customs Clearance</span>
					<span>Express</span>
					<span>Express</span>
				</div>
			</div>
			<a class="catalog-card__link" href="/catalog-inner.html">Подробнее о компании</a>
		</div>

		<div class="catalog-content__card">
			<picture>
				<source srcset="./images/catalog-card.avif" />
				<img src="./images/catalog-card.png" alt="участник" width="210" height="50" />
			</picture>
			<div class="catalog-card__info">
				<div class="catalog-card__title">
					<span>15</span>
					Apex International Inc
				</div>
				<p>Tokyo - Japan</p>
				<span>Elite</span>
				<div class="catalog-card__tags">
					<span>FCL</span>
					<span>Air Freight</span>
					<span>Customs Clearance</span>
					<span>Express</span>
					<span>Express</span>
				</div>
			</div>
			<a class="catalog-card__link" href="/catalog-inner.html">Подробнее о компании</a>
		</div>
	</div>

	<div class="catalog-new-members">
		<div class="members-title">Новые участники</div>

		<div class="members-cards">
			<div class="members-card">
				<picture>
					<source srcset="./images/members.avif" />
					<img src="./images/members.png" alt="новый участник" width="40" height="90" />
				</picture>
				<b>Apex International Inc</b>
				<span>Free</span>

				<div>
					<svg width="12" height="15">
						<use xlink:href="#location"></use>
					</svg>
					United kingdom
				</div>
			</div>

			<div class="members-card">
				<picture>
					<source srcset="./images/members.avif" />
					<img src="./images/members.png" alt="новый участник" width="40" height="90" />
				</picture>
				<b>Apex International Inc</b>
				<span>Free</span>

				<div>
					<svg width="12" height="15">
						<use xlink:href="#location"></use>
					</svg>
					United kingdom
				</div>
			</div>

			<div class="members-card">
				<picture>
					<source srcset="./images/members.avif" />
					<img src="./images/members.png" alt="новый участник" width="40" height="90" />
				</picture>
				<b>Apex International Inc</b>
				<span>Free</span>

				<div>
					<svg width="12" height="15">
						<use xlink:href="#location"></use>
					</svg>
					United kingdom
				</div>
			</div>

			<div class="members-card">
				<picture>
					<source srcset="./images/members.avif" />
					<img src="./images/members.png" alt="новый участник" width="40" height="90" />
				</picture>
				<b>Apex International Inc</b>
				<span>Free</span>

				<div>
					<svg width="12" height="15">
						<use xlink:href="#location"></use>
					</svg>
					United kingdom
				</div>
			</div>

			<div class="members-card">
				<picture>
					<source srcset="./images/members.avif" />
					<img src="./images/members.png" alt="новый участник" width="40" height="90" />
				</picture>
				<b>Apex International Inc</b>
				<span>Free</span>

				<div>
					<svg width="12" height="15">
						<use xlink:href="#location"></use>
					</svg>
					United kingdom
				</div>
			</div>

			<div class="members-card">
				<picture>
					<source srcset="./images/members.avif" />
					<img src="./images/members.png" alt="новый участник" width="40" height="90" />
				</picture>
				<b>Apex International Inc</b>
				<span>Free</span>

				<div>
					<svg width="12" height="15">
						<use xlink:href="#location"></use>
					</svg>
					United kingdom
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function updateFormData() {
		const minValue = document.getElementById("minValue").value;
		const maxValue = document.getElementById("maxValue").value;

		const formData = new FormData();
		formData.append("minValue", minValue);
		formData.append("maxValue", maxValue);

		// fetch('/', {
		//     method: 'POST',
		//     body: formData,
		// })
		// .then(response => response.json())
		// .then(data => {
		//     console.log('Success:', data);
		// })
		// .catch(error => {
		//     console.error('Error:', error);
		// });

		console.log("Min Value:", minValue);
		console.log("Max Value:", maxValue);
	}
</script>
