<section class="main-head catalog">
	@@include('./catalog-form.html')

	<div class="pagination">
		<button type="button">
			<svg width="14" height="7">
				<use xlink:href="#pag-left"></use>
			</svg>
		</button>

		<a class="pagination-link current" href="#" aria-label="следущая странница">1</a>
		<a class="pagination-link" href="#" aria-label="следущая странница">2</a>
		<a class="pagination-link" href="#" aria-label="следущая странница">3</a>
		<a class="pagination-link" href="#" aria-label="следущая странница">4</a>
		<a class="pagination-link" href="#" aria-label="следущая странница">5</a>
		<a class="pagination-link" href="#" aria-label="следущая странница">6</a>
		<a class="pagination-link" href="#" aria-label="следущая странница">...</a>
		<a class="pagination-link" href="#" aria-label="следущая странница">15</a>

		<button type="button">
			<svg width="14" height="7">
				<use xlink:href="#pag-right"></use>
			</svg>
		</button>
	</div>
</section>
