.welcome {
	padding: var(--offset-s) calc(var(--offset) * 2);
	background-color: var(--color-text-primary);
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;

	&-card {
		display: flex;
		align-items: center;
		gap: var(--offset);
		margin-bottom: calc(var(--offset) * 1.5);

		&:nth-of-type(2) {
			margin-bottom: calc(var(--offset) * 2.5);
		}

		&__info {
			display: flex;
			flex-direction: column;
			gap: calc(var(--offset) * 0.6);

			& b {
				font-weight: 600;
				font-size: calc(var(--fz) * 1.1);
				line-height: 1.2;
				letter-spacing: -0.04em;
				color: var(--color-text-primary);
			}

			& a {
				font-weight: 500;
				font-size: calc(var(--fz) * 0.9);
				line-height: 106%;
				letter-spacing: -0.04em;
				color: var(--color-text-primary);
				transition-duration: 0.5s;
				transition-property: color;

				&:hover,
				&:focus,
				&:focus-within {
					color: var(--color-text-secondary);
				}
			}
		}

		& span {
			border-radius: 50%;
			background-color: var(--color-text-secondary);
			display: block;
			display: flex;
			align-items: center;
			justify-content: center;
			width: calc(var(--offset) * 2.5);
			height: calc(var(--offset) * 2.5);

			& svg {
				width: calc(var(--offset) * 0.8);
				height: calc(var(--offset) * 0.8);
			}
		}
	}

	&__bg {
		position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&-wrapper {
		padding: calc(var(--offset) * 2) calc(var(--offset) * 1.5) calc(var(--offset) * 3);
		position: relative;
		min-height: 60vh;
		display: flex;
		gap: var(--offset);
		justify-content: space-between;
		border-radius: 1em;
		overflow: hidden;

	}

	&-title {
		position: relative;
		z-index: 1;
		width: 40%;



		& span {
			font-weight: 600;
			font-size: calc(var(--offset) * 0.8);
			line-height: 1.5;
			letter-spacing: -0.06em;
			text-transform: uppercase;
			color: var(--color-text-secondary);
			margin-bottom: calc(var(--offset) * 1.5);
			display: block;
		}
	}

	&-info {
		position: relative;
		z-index: 1;
		width: 40%;
		padding-top: calc(var(--offset) * 2.5);

		& p {
			font-weight: 500;
			font-size: calc(var(--offset) * 0.7);
			line-height: 1.5;
			letter-spacing: -0.06em;
			color: #979eb2;
			margin-bottom: calc(var(--offset) * 2);
		}
	}
}
