<section class="advantages">

	<h3 class="title">
		Преимущества <strong>EUCA</strong> </br> для участников
	</h3>

	<div class="advantages-cards">
		<div class="advantages-card">
			<div class="advantages-card__head">
				<svg width="151" height="62">
					<use xlink:href="#adv"></use>
				</svg>
				<b>Мультимодальные решения</b>
			</div>

			<ul>
				<li>
					<svg width="22" height="22">
						<use xlink:href="#check"></use>
					</svg>
					<p>Фильтр по верифицированным водителям</p>
				</li>
				<li>
					<svg width="22" height="22">
						<use xlink:href="#check"></use>
					</svg>
					<p>Электронный договор с каждым перевозчиком</p>
				</li>
				<li>
					<svg width="22" height="22">
						<use xlink:href="#check"></use>
					</svg>
					<p>Автоматическое формирование списком перевозчиков на погрузку и выгрузку</p>
				</li>
			</ul>

		</div>

		<div class="advantages-card">
			<div class="advantages-card__head">
				<svg width="151" height="62">
					<use xlink:href="#adv"></use>
				</svg>
				<b>Бесплатно</b>
			</div>

			<ul>
				<li>
					<svg width="22" height="22">
						<use xlink:href="#check"></use>
					</svg>
					<p>Фильтр по верифицированным водителям</p>
				</li>
				<li>
					<svg width="22" height="22">
						<use xlink:href="#check"></use>
					</svg>
					<p>Электронный договор с каждым перевозчиком</p>
				</li>
				<li>
					<svg width="22" height="22">
						<use xlink:href="#check"></use>
					</svg>
					<p>Автоматическое формирование списком перевозчиков на погрузку и выгрузку </p>
				</li>
			</ul>

		</div>

		<div class="advantages-card">
			<div class="advantages-card__head">
				<svg width="151" height="62">
					<use xlink:href="#adv"></use>
				</svg>
				<b>Мультимодальные решения</b>
			</div>

			<ul>
				<li>
					<svg width="22" height="22">
						<use xlink:href="#check"></use>
					</svg>
					<p>Фильтр по верифицированным водителям</p>
				</li>
				<li>
					<svg width="22" height="22">
						<use xlink:href="#check"></use>
					</svg>
					<p>Электронный договор с каждым перевозчиком</p>
				</li>
				<li>
					<svg width="22" height="22">
						<use xlink:href="#check"></use>
					</svg>
					<p>Автоматическое формирование списком перевозчиков на погрузку и выгрузку</p>
				</li>
			</ul>

		</div>

		<div class="advantages-card">
			<div class="advantages-card__head">
				<svg width="151" height="62">
					<use xlink:href="#adv"></use>
				</svg>
				<b>Мультимодальные решения</b>
			</div>

			<ul>
				<li>
					<svg width="22" height="22">
						<use xlink:href="#check"></use>
					</svg>
					<p>Фильтр по верифицированным водителям</p>
				</li>
				<li>
					<svg width="22" height="22">
						<use xlink:href="#check"></use>
					</svg>
					<p>Электронный договор с каждым перевозчиком</p>
				</li>
				<li>
					<svg width="22" height="22">
						<use xlink:href="#check"></use>
					</svg>
					<p>Автоматическое формирование списком перевозчиков на погрузку и выгрузку</p>
				</li>
			</ul>

		</div>
	</div>

	<div class="advantages-info">

		<div class="advantages-col">
			<h3>
				Мы создаём новые стандарты
				в грузоперевозках, предлагая <b>надежные, безопасные
					и эффективные решения.</b>
			</h3>


			<a href="/catalog.html" aria-label="странница регистрации" class="main-head__link">
				<b>Подробнее о компании </b>
				<span>
					<svg width="13" height="12">
						<use xlink:href="#arrow-right"></use>
					</svg>
				</span>
			</a>

		</div>

		<div class="advantages-col">
			<p>
				EUCA Alliance переопределяет глобальную логистику, органично соединяя Европу и Азию с помощью
				современных, ориентированных на клиента и устойчивых решений.
			</p>

			<div class="advantages-info__desc">
				<svg width="30" height="20">
					<use xlink:href="#eye"></use>
				</svg>

				<div class="advantages-info__col">
					<b>Наше Видение</b>
					<p>Строить мосты между континентами, создавая новые возможности для роста и сотрудничества.</p>
				</div>

			</div>


			<div class="advantages-info__desc">
				<svg width="30" height="30">
					<use xlink:href="#target"></use>
				</svg>

				<div class="advantages-info__col">
					<b>Наша миссия</b>
					<p>Строить мосты между континентами, создавая новые возможности для роста и сотрудничества.</p>
				</div>

			</div>


		</div>

	</div>

</section>
