<section class="directions">

	<div class="directions-head">
		<h3 class="title">Наши направления</h3>
		<p>Мы предоставляем надежные и эффективные решения для транспортировки грузов любого типа. Наша задача это
			работать на благо вашего бизнеса, объединяя страныи континенты.
		</p>
	</div>

	<div class="directions-cards">
		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir1.avif">
					<img src="./images/directions/dir1.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Америка</b>
		</a>

		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir2.avif">
					<img src="./images/directions/dir2.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Канада</b>
		</a>

		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir3.avif">
					<img src="./images/directions/dir3.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Австралия</b>
		</a>

		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir4.avif">
					<img src="./images/directions/dir4.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Сингапур</b>
		</a>

		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir5.avif">
					<img src="./images/directions/dir5.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Англия</b>
		</a>

		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir6.avif">
					<img src="./images/directions/dir6.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Польша</b>
		</a>


		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir7.avif">
					<img src="./images/directions/dir7.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Латвия</b>
		</a>

		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir8.avif">
					<img src="./images/directions/dir8.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Турция</b>
		</a>

		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir9.avif">
					<img src="./images/directions/dir9.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Германия</b>
		</a>

		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir10.avif">
					<img src="./images/directions/dir10.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Венгрия</b>
		</a>

		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir11.avif">
					<img src="./images/directions/dir11.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Литва</b>
		</a>

		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir12.avif">
					<img src="./images/directions/dir12.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Испания</b>
		</a>


		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir13.avif">
					<img src="./images/directions/dir13.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Швейцария</b>
		</a>

		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir14.avif">
					<img src="./images/directions/dir14.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Австрия</b>
		</a>

		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir15.avif">
					<img src="./images/directions/dir15.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Чехия</b>
		</a>

		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir16.avif">
					<img src="./images/directions/dir16.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Малайзия</b>
		</a>

		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir17.avif">
					<img src="./images/directions/dir17.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Италия</b>
		</a>

		<a href="./catalog.html" aria-label="странница каталога" class="directions-card">
			<div class="directions-card__image">
				<picture>

					<source srcset="./images/directions/dir18.avif">
					<img src="./images/directions/dir18.png" alt="Направление" width="90" height="90" loading="lazy">

				</picture>
			</div>
			<b>Ирландия</b>
		</a>
	</div>

</section>
