<section class="main-head">
	<div class="main-head__desc">
		<h1><strong>Международный альянс,</strong> объединяющий ведущие логистические компании Европы и Азии.</h1>

		<p>
			Мы работаем над созданием новых стандартов в области глобальных грузоперевозок, предоставляя нашим партнерам и клиентам
			надежные, безопасные и эффективные решения.
		</p>

		<button type="button" aria-label="странница регистрации" class="main-head__link" data-modal-target="modal-register">
			<b>Зарегистрироваться</b>
			<span>
				<svg width="13" height="12">
					<use xlink:href="#arrow-right"></use>
				</svg>
			</span>
		</button>
	</div>

	<div class="main-head__img">
		<picture>
			<source srcset="./images/main-head-2.avif" />
			<img srcset="./images/main-head-2.png" width="750" height="736" />
		</picture>
	</div>
</section>
