<section class="news">
	<h3>Новости </h3>

	<div class="news-slider swiper">
		<div class="news-container swiper-wrapper">

			<a href="./news-inner.html" aria-label="странница новости" class="news-slide swiper-slide">

				<div class="news-image">
					<picture>
						<source srcset="./images/news/news1.avif">
						<img src="./images/news/news1.jpg" alt="Новости" width="589" height="315" loading="lazy">
					</picture>
				</div>

				<div class="news-desc">

					<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit
						est in
						vitae sit lorem viverra...
					</b>

					<p>
						Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit
						est
						in vitae sit lorem viverra nulla...
					</p>

					<div class="news-date">
						<svg width="18" height="16">
							<use xlink:href="#news"></use>
						</svg>
						<span>15 января 2025</span>
					</div>
				</div>
			</a>

			<a href="./news-inner.html" aria-label="странница новости" class="news-slide swiper-slide">

				<div class="news-image">
					<picture>
						<source srcset="./images/news/news2.avif">
						<img src="./images/news/news2.jpg" alt="Новости" width="589" height="315" loading="lazy">
					</picture>
				</div>

				<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est in
					vitae sit lorem viverra...
				</b>

				<p>
					Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est
					in vitae sit lorem viverra nulla...
				</p>

				<div class="news-date">
					<svg width="18" height="16">
						<use xlink:href="#news"></use>
					</svg>
					<span>15 января 2025</span>
				</div>

			</a>


			<a href="./news-inner.html" aria-label="странница новости" class="news-slide swiper-slide">

				<div class="news-image">
					<picture>
						<source srcset="./images/news/news3.avif">
						<img src="./images/news/news3.jpg" alt="Новости" width="589" height="315" loading="lazy">
					</picture>
				</div>

				<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est in
					vitae sit lorem viverra...
				</b>

				<p>
					Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est
					in vitae sit lorem viverra nulla...
				</p>

				<div class="news-date">
					<svg width="18" height="16">
						<use xlink:href="#news"></use>
					</svg>
					<span>15 января 2025</span>
				</div>

			</a>


			<a href="./news-inner.html" aria-label="странница новости" class="news-slide swiper-slide">

				<div class="news-image">
					<picture>
						<source srcset="./images/news/news1.avif">
						<img src="./images/news/news1.jpg" alt="Новости" width="589" height="315" loading="lazy">
					</picture>
				</div>

				<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est in
					vitae sit lorem viverra...
				</b>

				<p>
					Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est
					in vitae sit lorem viverra nulla...
				</p>

				<div class="news-date">
					<svg width="18" height="16">
						<use xlink:href="#news"></use>
					</svg>
					<span>15 января 2025</span>
				</div>

			</a>


			<a href="./news-inner.html" aria-label="странница новости" class="news-slide swiper-slide">

				<div class="news-image">
					<picture>
						<source srcset="./images/news/news2.avif">
						<img src="./images/news/news2.jpg" alt="Новости" width="589" height="315" loading="lazy">
					</picture>
				</div>

				<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est in
					vitae sit lorem viverra...
				</b>

				<p>
					Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est
					in vitae sit lorem viverra nulla...
				</p>

				<div class="news-date">
					<svg width="18" height="16">
						<use xlink:href="#news"></use>
					</svg>
					<span>15 января 2025</span>
				</div>

			</a>


			<a href="./news-inner.html" aria-label="странница новости" class="news-slide swiper-slide">

				<div class="news-image">
					<picture>
						<source srcset="./images/news/news3.avif">
						<img src="./images/news/news3.jpg" alt="Новости" width="589" height="315" loading="lazy">
					</picture>
				</div>

				<b>Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est in
					vitae sit lorem viverra...
				</b>

				<p>
					Lorem ipsum dolor sit amet consectetur. In lectus ultricies gravida sit nulla. Varius quis sit est
					in vitae sit lorem viverra nulla...
				</p>

				<div class="news-date">
					<svg width="18" height="16">
						<use xlink:href="#news"></use>
					</svg>
					<span>15 января 2025</span>
				</div>

			</a>


		</div>
	</div>

</section>
