<section class="reviews">

	<div class="reviews-head">
		<h3 class="title">
			Отзывы клиентов <br> <strong>EUCA ALIANCE</strong>
		</h3>

		<div class="reviews__buttons">
			<button type="button" class="reviews__btn reviews__btn-left" aria-label="переключение слайдов в лево">
				<svg width="13" height="12">
					<use xlink:href="#arrow-left"></use>
				</svg>
			</button>

			<button type="button" class="reviews__btn reviews__btn-right" aria-label="переключение слайдов в право">
				<svg width="13" height="12">
					<use xlink:href="#arrow-right"></use>
				</svg>
			</button>

		</div>

	</div>

	<div class="reviews__slider swiper ">
		<div class="reviews__slider-container swiper-wrapper">

			<div class="reviews__slide swiper-slide">
				<div class="reviews__slide-head">
					<div class="reviews__slide-image">
						<picture>
							<source srcset="./images/reviews.avif">
							<img src="./images/reviews.jpg" alt="отзывы" width="80" height="80" />
						</picture>
					</div>

					<div class="reviews__slide-name">
						<b>Имя фамилия</b>
						<div class="reviews-location">
							<svg width="8" height="15">
								<use xlink:href="#pick"></use>
							</svg>
							Ташкент, Узбекистан
						</div>
					</div>

				</div>
				<p>Lorem ipsum dolor sit amet consectetur. Tortor at elit tristique quam. Tincidunt phasellus amet amet
					velit amet maecenas viverra ornare pulvinar. Amet nunc quis venenatis in consequat. In rhoncus proin
					posuere facilisi enim dignissim purus volutpat nisl.
				</p>
			</div>

			<div class="reviews__slide swiper-slide">
				<div class="reviews__slide-head">
					<div class="reviews__slide-image">
						<picture>
							<source srcset="./images/reviews.avif">
							<img src="./images/reviews.jpg" alt="отзывы" width="80" height="80" />
						</picture>
					</div>

					<div class="reviews__slide-name">
						<b>Имя фамилия</b>
						<div class="reviews-location">
							<svg width="8" height="15">
								<use xlink:href="#pick"></use>
							</svg>
							Ташкент, Узбекистан
						</div>
					</div>

				</div>
				<p>Lorem ipsum dolor sit amet consectetur. Tortor at elit tristique quam. Tincidunt phasellus amet amet
					velit amet maecenas viverra ornare pulvinar. Amet nunc quis venenatis in consequat. In rhoncus proin
					posuere facilisi enim dignissim purus volutpat nisl.
				</p>
			</div>

			<div class="reviews__slide swiper-slide">
				<div class="reviews__slide-head">
					<div class="reviews__slide-image">
						<picture>
							<source srcset="./images/reviews.avif">
							<img src="./images/reviews.jpg" alt="отзывы" width="80" height="80" />
						</picture>
					</div>

					<div class="reviews__slide-name">
						<b>Имя фамилия</b>
						<div class="reviews-location">
							<svg width="8" height="15">
								<use xlink:href="#pick"></use>
							</svg>
							Ташкент, Узбекистан
						</div>
					</div>

				</div>
				<p>Lorem ipsum dolor sit amet consectetur. Tortor at elit tristique quam. Tincidunt phasellus amet amet
					velit amet maecenas viverra ornare pulvinar. Amet nunc quis venenatis in consequat. In rhoncus proin
					posuere facilisi enim dignissim purus volutpat nisl.
				</p>
			</div>

			<div class="reviews__slide swiper-slide">
				<div class="reviews__slide-head">
					<div class="reviews__slide-image">
						<picture>
							<source srcset="./images/reviews.avif">
							<img src="./images/reviews.jpg" alt="отзывы" width="80" height="80" />
						</picture>
					</div>

					<div class="reviews__slide-name">
						<b>Имя фамилия</b>
						<div class="reviews-location">
							<svg width="8" height="15">
								<use xlink:href="#pick"></use>
							</svg>
							Ташкент, Узбекистан
						</div>
					</div>

				</div>
				<p>Lorem ipsum dolor sit amet consectetur. Tortor at elit tristique quam. Tincidunt phasellus amet amet
					velit amet maecenas viverra ornare pulvinar. Amet nunc quis venenatis in consequat. In rhoncus proin
					posuere facilisi enim dignissim purus volutpat nisl.
				</p>
			</div>

			<div class="reviews__slide swiper-slide">
				<div class="reviews__slide-head">
					<div class="reviews__slide-image">
						<picture>
							<source srcset="./images/reviews.avif">
							<img src="./images/reviews.jpg" alt="отзывы" width="80" height="80" />
						</picture>
					</div>

					<div class="reviews__slide-name">
						<b>Имя фамилия</b>
						<div class="reviews-location">
							<svg width="8" height="15">
								<use xlink:href="#pick"></use>
							</svg>
							Ташкент, Узбекистан
						</div>
					</div>

				</div>
				<p>Lorem ipsum dolor sit amet consectetur. Tortor at elit tristique quam. Tincidunt phasellus amet amet
					velit amet maecenas viverra ornare pulvinar. Amet nunc quis venenatis in consequat. In rhoncus proin
					posuere facilisi enim dignissim purus volutpat nisl.
				</p>
			</div>

			<div class="reviews__slide swiper-slide">
				<div class="reviews__slide-head">
					<div class="reviews__slide-image">
						<picture>
							<source srcset="./images/reviews.avif">
							<img src="./images/reviews.jpg" alt="отзывы" width="80" height="80" />
						</picture>
					</div>

					<div class="reviews__slide-name">
						<b>Имя фамилия</b>
						<div class="reviews-location">
							<svg width="8" height="15">
								<use xlink:href="#pick"></use>
							</svg>
							Ташкент, Узбекистан
						</div>
					</div>

				</div>
				<p>Lorem ipsum dolor sit amet consectetur. Tortor at elit tristique quam. Tincidunt phasellus amet amet
					velit amet maecenas viverra ornare pulvinar. Amet nunc quis venenatis in consequat. In rhoncus proin
					posuere facilisi enim dignissim purus volutpat nisl.
				</p>
			</div>

		</div>
	</div>


	<div class="reviews-start">
		<h3 class="title">
			Начните работать <br>
			<strong>с EUCA</strong> бесплатно
		</h3>
		<div class="reviews-col">
			<p>
				Ваш бизнес заслуживает лучшего, и EUCA обеспечивает».Вместе с нами выиспытайте логистику, выходящую за
				рамки границ.С EUCA каждая отправка — это шаг к успеху.
			</p>
			<p>
				EUCA Alliance — это партнерская сеть, в которой компании <b>работают вместе для достижения общих целей и
					предоставления услуг высочайшего качества.</b>
			</p>

			<p>
				<b>Мы применяем передовые технологии для отслеживания грузов, планирования маршрутов и оптимизации
					логистических процессов.
				</b>
			</p>

			<div class="reviews-col__links">
				<a href="/login.html" class="reviews-logout">Войти</a>
				<a href="/register.html" class="reviews-register">Зарегистрироваться</a>
			</div>
		</div>
	</div>

</section>
