@import "./fonts.scss";
@import "./normalize.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/404.scss";
@import "./components/index/main-head.scss";
@import "./components/index/directions.scss";
@import "./components//index/advantages.scss";
@import "./components/index/news.scss";
@import "./components/index/reviews.scss";
@import "./components/catalog/main-head.scss";
@import "./components/catalog/catalog-form.scss";
@import "./components/catalog-inner/catalog-inner.scss";
@import "./components/about/about-head.scss";
@import "./components/about/welcome.scss";
@import "./components/about/partners.scss";
@import "./components/about/questions.scss";
@import "./components/news/news.scss";
@import "./components/contacts/contacts.scss";
@import "./components/modals.scss";
@import "./components/profile/profile.scss";
@import "./components/profile/tarifs.scss";
@import "./components/profile/messages.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	background-color: var(--color-bg-primary);
	color: var(--color-text-primary);
	font-family: var(--ffI), sans-serif;
	touch-action: manipulation;
	user-select: auto;
	font-size: var(--fz);
	position: relative;
	min-height: 100vh;

	&.modal-open {
		overflow: hidden;
	}
}

:root {
	/* colors */
	--color-default-black: #000;
	--color-bg-primary: #0b1117;
	--color-bg-secondary: #141f2a;

	--color-icon: #353b3d;

	--color-text-primary: #fff;
	--color-text-secondary: #fc4739;
	--color-text-black: #000;
	--color-text-dark: #353b3d;
	--color-text-gray: #979eb2;

	--ffI: "Inter";

	--fz: max(calc(1 * 1vw), 15px);

	//sizes
	--offset: max(calc(1.25 * 1vw), 15px);
	--offset-xxxl: calc(var(--offset) * 10);
	--offset-xxl: calc(var(--offset) * 8);
	--offset-xl: calc(var(--offset) * 7);
	--offset-l: calc(var(--offset) * 5.5);
	--offset-m: calc(var(--offset) * 5);
	--offset-s: calc(var(--offset) * 4);
}

* {
	box-sizing: border-box;

	&:focus {
		outline: none;
	}

	*::before,
	*::after {
		box-sizing: inherit;
	}
}

::selection {
	background-color: #d3d9e2;
	color: #45478d;
	-webkit-text-fill-color: #45478d;
}

::-webkit-scrollbar {
	width: 0 !important;
	height: 0 !important;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 50px;
}

.container {
	padding: 0 var(--offset);
	max-width: 780px;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	user-select: text;
	word-break: break-word;
}

p {
	user-select: text;
	word-break: break-word;
}

details {
	display: block;
}

summary {
	list-style: none;
	cursor: pointer;
}

summary::-webkit-details-marker {
	display: none;
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
	text-wrap: balance;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	outline: none;
}

img {
	display: block;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: var(--fz);
	padding: 0;
	font-family: "Inter", sans-serif;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	outline: none;

	svg,
	span {
		pointer-events: none;
	}
}

input {
	font-family: var(--ffP), sans-serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

textarea {
	resize: none;
}

html {
	scroll-behavior: smooth;
}

[hidden],
[type="hidden"],
.visually-hidden,
.tns-visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 100%;
	width: 100vw;
}
